{{#if (equal (get row 'orderStatus') CONSTANTS.ORDER_STATUS.PENDING)}}
  {{#if (not canUpdateStatus)}}
  <button class="btn btn-danger" {{action 'paymentNow'}}> PAYMENT NOW </button>
  {{/if}}
{{/if}}