<h2>India Embassy in Afghanistan</h2>
<div class="content_format">
<p>India Embassy in Afghanistan is an office of communication between India Government and Afghanistan. It operates as the official representative of the India in Afghanistan. The following is major information about India Embassy for Afghanistan and the way which you can apply you visa to India through :</p>
<p><strong>India Embassy- Afghanistan</strong></p>
<ul>
<li>Add: Malalaiwat, Shar-e-Naw, Kabul, Afghanistan</li>
<li>Tel : +873-763-095560 / +932-022-00185</li>
<li>Fax: +873-763-095561</li>
<li>Email: embassy@indembassy-kabul.com</li>
<li>Website: http:// www.meakabul.nic.in</li>
</ul>
<p><strong>India Embassy - Afghanistan</strong></p>
<p>Citizens or residents in Afghanistan can just only directly contact and apply your India Visa at the India Embassy in Afghanistan by yourself as above address.</p>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>