<h2>India Embassy in Albania</h2>
<div class="content_format">
<p>India Embassy in Albania is an office of communication between India Government and Albania. It operates as the official representative of the India in Albania. The following is major information about India Embassy for Albania and the way which you can apply you visa to India through :</p>
<p><strong>India Embassy - Albania</strong></p>
<ul>
<li>Add: Rr. Artan Lenja No.10/74 Rr. Frosina Plaku, No.9 Tirana Albania</li>
<li>Tel : +355-4-2245060</li>
<li>Fax: +355-4-2245060</li>
<li>Email: petraqgramo@megapharm.net</li>
<li>Website: www.embassyofindia.ro</li>
</ul>
<p><strong>India Embassy - Albania</strong></p>
<p>Citizens or residents in Albania can just only directly contact and apply your India Visa at the India Embassy in Albania by yourself as above address.</p>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="/contact-us">contact us</a>. Thank you!</p>
</div>