<h2>India Embassy in Algeria</h2>
<div class="content_format">
<p>India Embassy in Algeria is an office of communication between India Government and Algeria. It operates as the official representative of the India in Algeria. The following is major information about India Embassy for Algeria and the way which you can apply you visa to India through:</p>
<p><strong>India Embassy - Algeria</strong></p>
<ul>
<li>Add: 14, rue des Abassides, Boite Postale 108, El-Biar 16030, Algiers, Algeria</li>
<li>Tel : +213-21-923288/ +213-21-923221 / +213-21-923444</li>
<li>Fax: +213-21-924011</li>
<li>Email: amb.algiers@mea.gov.in / hoc.algiers@mea.gov.in / indembalg@hotmail.com / indembalg_com@hotmail.com</li>
<li>Website: www.indianalg.org/</li>
</ul>
<p>Citizens or residents in Algeria can just only directly contact and apply your India Visa at the India Embassy in Algeria by yourself as above address.</p>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>