<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Emergency Visa:</strong> For people of Indian origin travelling on humanitarian grounds only. 
        </p>
        <p>
         Kindly go through them carefully and prepare your online application accordingly. Visa specific details can be accessed by selecting a Visa category from the dropdown.
        </p>
        <p>
          <strong>Note:</strong> The visa application is subject to IOEV Processing charge and taxes as applicable in addition to regular visa fees.
        </p>
        <p style="display: inline">
          <strong>Select visa Category</strong>
        </p>
        <div class="btn-group" style="display:inline-block">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose visa category <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <li style="list-style-type: none;"><a href="/rush-visa">Emergency visa</a></li>
          <li style="list-style-type: none;"><a href="/article/india-tourist-visa">India Toursit visa</a></li>
          <li style="list-style-type: none;"><a href="/article/business-visa">India Business visa</a></li>
           
            <li style="list-style-type: none;"><a href="/article/medical-visa">India Medical visa</a></li>
            <li style="list-style-type: none;"><a href="/check-visa-valid">Check your visa valid</a></li>
            <!--<li style="list-style-type: none;"><a href="/article/applying-for-india-visa/journalist-visa">Journalist Visa</a></li>-->
            <!-- <li style="list-style-type: none;"><a href="/article/applying-for-india-visa/medical-visa">Medical Visa</a></li>
            <li style="list-style-type: none;"><a href="/article/applying-for-india-visa/medical-attendant-visa">Medical Attendant Visa</a></li> -->
            <!--<li style="list-style-type: none;"><a href="/article/applying-for-india-visa/research-visa">Research Visa</a></li>-->
            <!--<li style="list-style-type: none;"><a href="/article/applying-for-india-visa/student-visa">Student Visa</a></li>-->
            <!-- <li style="list-style-type: none;"><a href="/article/applying-for-india-visa/tourist-visa">Tourist Visa</a></li>
            <li style="list-style-type: none;"><a href="/article/applying-for-india-visa/re-entry-into-india-within-2-months-on-a-ourist-visa">Re-entry into India within 2 months on a Tourist Visa</a></li>
            <li style="list-style-type: none;"><a href="/article/applying-for-india-visa/transit-visa">Transit Visa</a></li> -->
            <!--<li style="list-style-type: none;"><a href="/article/applying-for-india-visa/volunteer-visa">Volunteer Visa</a></li>-->
          </ul>
        </div>
        <p>&nbsp;</p>
        <p>
          Important information for applicant(s) submitting an application to the visa online
        </p>
        <p>
          All foreign nationals (except Nepal and Bhutan) need a visa to enter India.
        </p>
        <ul style="margin: 15px 0;">
          <!--<li style="list-style-type: decimal;">
            Citizens of Cambodia, Finland, Japan, Laos, Luxembourg, Myanmar, New Zealand, Philippines, Singapore and Vietnam can get a "Tourist Visa on Arrival" The visa validity will be for 30 days and single entry. It is available only at the international airports at Delhi, Mumbai, and Chennai & Kolkata.
          </li>-->
          <li style="list-style-type: decimal;">
            Visas can only be issued on passports and NOT on travel documents except in the case of Tibetan nationals. All applicant(s) must complete all fields on the application form(s). Missing documentation or information will result in a delay and will be the sole responsibility of the applicant(s). Incomplete application form(s) will not be accepted or processed.
          </li>
          <li style="list-style-type: decimal;">
            The passport should be valid for a minimum period of 190 days and must have 2 blank pages out of which one page is required for affixing the visa sticker and other page will be used by the immigration officer for entry and exit from India.
          </li>
          <li style="list-style-type: decimal;">
            Visa fee is not refundable in case of refusal or if the application is withdrawn.
          </li>
          <li style="list-style-type: decimal;">
            The acceptance of visa fee does not automatically guarantee a visa. The High Commission of India & the Consulate General(s) reserve the right to delay or refuse visa without providing a reason.
          </li>
          <li style="list-style-type: decimal;">
            After the grant of a visa, your admissibility to India would be assessed by the immigration officer at the port of entry and the officer is entitled to refuse entry to the person if found undesirable. The visa can be revoked at any time without assigning any reason; and a foreigner who is already in India can be asked to leave the country by the Government of India.
          </li>
          <li style="list-style-type: decimal;">
            The applicant(s) are advised not to purchase or make travel arrangements prior to receiving the visas. An applicant(s) should be aware that the timeline on an Indian visa starts from the date of issue. If a visa is issued on the 1st of January for a duration of six months, then the visa would expire on the 30th of June. Please ensure that the intended stay in India is not beyond the expiry date issued on the visa.
          </li>
          <li style="list-style-type: decimal;">
            Vaccination is not necessary for those travelling to India. However, persons coming from or passing through Yellow Fever infected areas are required to be in possession of a valid certificate of vaccination against Yellow Fever before arriving in India. An AIDS test is required for persons aged 18 to 70 years who wish to stay in India for more than one year.
          </li>
          <li style="list-style-type: decimal;">
            In case of an emergency two references should be provided (one in India & one in respective country) on the application form.
          </li>
          <li style="list-style-type: decimal;">
            Kindly ensure that you provide with most recent and complete contact details on the visa application form(s).
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>