<h2>India Embassy in Armenia</h2>
<div class="content_format">
<p>India Embassy in Armenia is an office of communication between India Government and Armenia. It operates as the official representative of the India in Armenia. The following is major information about India Embassy for Armenia and the way which you can apply you visa to India through :</p>
<p><strong>India Embassy - Armenia</strong></p>
<ul>
<li>Add: 50/2, Dzorapi Str., 0019, Yerevan, Armenia</li>
<li>Tel : +374-1-539-173 / +374-1-539-175</li>
<li>Fax: +374-1-533-984</li>
<li>Email: ambassador@embassyofindia.am / hoc@embassyofindia.am / amb_office@embassyofindia.am / attache@embassyofindia.am / administration@embassyofindia.am / itec@embassyofindia.am / interpreter@embassyofindia.am</li>
<li>Website: www.indianembassy.am/</li>
</ul>
<p>Citizens or residents in Uganda can just only directly contact and apply your India Visa at the India Embassy in Uganda by yourself as above address.</p>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>