<h2>India Embassy in Aruba</h2>
<div class="content_format">
    <p>India Embassy in Aruba is an office of communication between India Government and Aruba. It operates as the official representative of the India in Aruba. The following is major information about India Embassy for Aruba and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Aruba</strong></p>
    <ul>
        <li>Add: c/o Boolchands Free Zone, Lood Dl-1, Curacao, Netherlands Antilles</li>
        <li>Tel : +59-99-4612262 +59-99-4610331</li>
        <li>Fax: +59-99-4614345</li>
    </ul>
    <p><strong>India Embassy - Aruba</strong></p>
    <p>Citizens or residents in Aruba can just only directly contact and apply your India Visa at the India Embassy in Aruba by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>