<h2>India Embassy in Australia</h2>
<div class="content_format">
    <p>India Embassy in Australia is an office of communication between India Government and Australia. It operates as the official representative of the India in Australia. The following is major information about India Embassy for Australia and the way which you can apply you visa to India through:</p>
    <p><strong>India High Comission Australia - Canberra</strong></p>
    <ul>
        <li>Add: 3-5 Moonah Place, 2600, Yarralumla, Canberra, Australia</li>
        <li>Tel : +61-2-6273-3999 / +61-2-6273-3774 / +61-2-6273-3875</li>
        <li>Fax: +61-2-6273-1308</li>
        <li>Email: hco@hcindia-au.org</li>
        <li>Website: www.hcindia-au.org</li>
    </ul>
    <p><strong>India Consulate Australia - Melbourne</strong></p>
    <ul>
        <li>Add: 344, St. Kilda Road, VIC 3000, Melbourne, Australia</li>
        <li>Tel : +61-3-9682-7836 / +61-3-9682-5800 / +61-2-8223-9908 / +61-2-8223-9909</li>
        <li>Fax: +61-3-9696-8251</li>
        <li>Email: consular@cgimelb.org / visainfo.inau@vfshelpline.com / passportinfo.inau@vfshelpline.com / cgo@cgimelb.org</li>
        <li>Website: www.cgimelb.org</li>
    </ul>
    <p><strong>India Consulate Australia - Sydney</strong></p>
    <ul>
        <li>Add: Level 3, 109 Pitt Street, 2000, New South Wales, Sydney, Australia</li>
        <li>Tel : +612-9223-2702</li>
        <li>Fax: +612-9231-2299</li>
        <li>Email: indianc@indianconsulatesydney.org / ccons@indianconsulatesydney.org</li>
        <li>Website: www.indianconsulatesydney.org/</li>
    </ul>
    <p><strong>India Consulate Australia - Perth</strong></p>
    <ul>
        <li>Add: Lots 70-74, Level 6, 12 St. Georges Terrace, WA 6000, Perth, Australia</li>
        <li>Tel : +618-92214205</li>
        <li>Fax: +618-92217039</li>
        <li>Email: cg.perth@mea.gov.in</li>
        <li>Website: www.hcindia-au.org</li>
    </ul>
    <p>Citizens or residents in Australia can just only directly contact and apply your India Visa at the India Embassy in Australia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to contact us. Thank you!</p>
</div>