<h2>India Embassy in Austria</h2>
<div class="content_format">
  <p>India Embassy in Austria is an office of communication between India Government and Austria. It operates as the official representative of the India in Austria. The following is major information about India Embassy for Austria and the way which you can apply you visa to India through :</p>
  <p><strong>India Embassy - Austria</strong></p>
  <ul>
    <li>Add: Kaerntnerring 2 (2nd Floor), 1010, Vienna, Austria</li>
    <li>Tel : +43-1-5058666 / +43-1-5850795</li>
    <li>Fax: +43-1-5059219</li>
    <li>Email: indemb@eoivien.vienna.at</li>
    <li>Website: www.indianembassy.at/</li>
  </ul>
  <p>Citizens or residents in Austria can just only directly contact and apply your India Visa at the India Embassy in Austria by yourself as above address.</p>
  <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>
