<h2>India Embassy in Bahamas</h2>
<div class="content_format">
<p>India Embassy in Bahamas is an office of communication between India Government and Bahamas. It operates as the official representative of the India in Bahamas. The following is major information about India Embassy for Bahamas and the way which you can apply you visa to India through:</p>
<p><strong>High Commission of India, Bahamas</strong></p>
<ul>
<li>Add: 27 Seymour Avenue, Kingston-6, Jamaica</li>
<li>Phone:+1-876-927-3114 / +1-876-927-4270 (visa enquiry)</li>
<li>Fax:+1-876-978-0359 / +1-876-978-280</li>
<li>Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30, Afternoon: 14:00 &ndash; 16:30</li>
</ul>
<p>Citizens or residents in Bahamas can just only apply for a visa to India:</p>
<ul>
<li><strong>Directly contact and apply your India Visa at the India Embassy in Bahamas by yourself as above address.</strong></li>
</ul>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>