<h2>India Embassy in Bahrain</h2>
<div class="content_format">
  <p>India Embassy in Bahrain is an office of communication between India Government and Bahrain. It operates as the official representative of the India in Bahrain. The following is major information about India Embassy for Bahrain and the way which you can apply you visa to India through :</p>
  <p><strong>India Embassy - Bahrain</strong></p>
  <ul>
    <li>Add: Bldg 182, Rd 2608, Area 326, Ghudaibiya, PO Box 26106 Adilya, Adliya, Bahrain, 326</li>
    <li>Tel : +973-17712683/ +973-17712649/ +973-17712785/ +973-17713832</li>
    <li>Fax: +973-17715527/ +973-177103229</li>
    <li>Email: indemb@batelco.com.bh/ sscons@batelco.com.bh / commerce@batelco.com.bh / hoc1@batelco.com.bh / counslrs@batelco.com.bh</li>
    <li>Website: www.indianembassybahrain.com/</li>
  </ul>
  <p>Citizens or residents in Bahrain can just only directly contact and apply your India Visa at the India Embassy in Bahrain by yourself as above address.</p>
  <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>
