<h2>India Embassy in Bangladesh</h2>
<div class="content_format">
  <p>India Embassy in Bangladesh is an office of communication between India Government and Bangladesh. It operates as the official representative of the India in Bangladesh. The following is major information about India Embassy for Bangladesh and the way which you can apply you visa to India through :</p>
  <p><strong>India Embassy- Bangladesh</strong></p>
  <ul>
    <li>Add: House No. 2, Rd No. 142, Gulshan-I, Dhaka, Bangladesh</li>
    <li>Tel +880-2-9889339 +880-2-9888789 +880-2-9888791 +880-2-8820243 +880-2-8820247</li>
    <li>Fax: +880-2-9893050</li>
    <li>Email visahelp@hcidhaka.gov.in</li>
    <li>Website: http://www. hcidhaka.gov.in</li>
  </ul>
  <p><strong>India Embassy - Bangladesh</strong></p>
  <p>Citizens or residents in Bangladesh can just only directly contact and apply your India Visa at the India Embassy in Bangladesh by yourself as above address.</p>
  <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>
