<h2>India Embassy in Belarus</h2>
<div class="content_format">
    <p>India Embassy in Belarus is an office of communication between India Government and Belarus. It operates as the official representative of the India in Belarus. The following is major information about India Embassy for Belarus and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Belarus</strong></p>
    <ul>
        <li>Add: Street Sobinova 63, 220040, Minsk, Belarus</li>
        <li>Tel : +375-17-2629399</li>
        <li>Fax: +375-17-2884799/ +375-17-2161896</li>
        <li>Email: indembassy@indemb.bn.by</li>
        <li>Website: www.indembminsk.org</li>
    </ul>
    <p>Citizens or residents in Belarus can just only directly contact and apply your India Visa at the India Embassy in Belarus by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>