<h2>India Embassy in Belgium</h2>
<div class="content_format">
    <p>India Embassy in Belgium is an office of communication between India Government and Belgium . It operates as the official representative of the India in Belgium . The following is major information about India Embassy for Belgium and the way which you can apply you visa to India through:</p>
    <p><strong>Embassy of India in Belgium</strong></p>
    <ul>
        <li>Add:217 Chaussee de Vleurgat, 1050, Brussels, Belgium</li>
        <li>Phone: +32-2-640-9140</li>
        <li>Fax: +32-2-648-9638</li>
        <li>Email: ambassador@indembassy.be / dcm@indembassy.be / hoc@indembassy.be / consular@indembassy.be / commercial2@indembassy.be</li>
        <li>Website: www.indembassy.be/</li>
    </ul>
    <p>Citizens or residents in Belgium can just only directly contact and apply your India Visa at the India Embassy in Belgium by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>