<h2>India Embassy in Bhutan</h2>
<div class="content_format">
    <p>India Embassy in Bhutan is an office of communication between India Government and Bhutan . It operates as the official representative of the India in Bhutan . The following is major information about India Embassy for Bhutan and the way which you can apply you visa to India through:</p>
    <p><strong>Embassy of India in Bhutan</strong></p>
    <ul>
        <li>Add: India House Estate, Thimphu, Bhutan</li>
        <li>Phone: +975-2-322-162</li>
        <li>Fax: +975-2-323-195</li>
        <li>Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30, Afternoon: 14:00 &ndash; 16:30</li>
    </ul>
    <p>Citizens or residents in Bhutan can just only apply for a visa to India:</p>
    <ul>
        <li><strong>Directly contact and apply your India Visa at the India Embassy in Bhutan by yourself as above address.</strong></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>