<h2>India Embassy in Bolivia</h2>
<div class="content_format">
    <p>India Embassy in Bolivia is an office of communication between India Government and Bolivia. It operates as the official representative of the India in Bolivia. The following is major information about India Embassy for Bolivia and the way which you can apply you visa to India through:</p>
    <p><strong>India Embassy - Bolivia</strong></p>
    <ul>
        <li>Add: Av. Arce 2670 Esq. Gozalvez, Edificio Apolo, Piso 7, Oficina 701 La Paz Bolivia</li>
        <li>Tel : +591-2-2430115</li>
        <li>Fax: +591-2-2118672</li>
        <li>Email: consulado.india.lapaz@gmail.com</li>
        <li>Website: www.indembassy.org.pe</li>
    </ul>
    <p><strong>India Embassy - Bolivia</strong></p>
    <p>Citizens or residents in Bolivia can just only directly contact and apply your India Visa at the India Embassy in Bolivia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>