<h2>India Embassy in Brazil</h2>
<div class="content_format">
    <p>India Embassy in Brazil is an office of communication between India Government and Brazil. It operates as the official representative of the India in Brazil. The following is major information about India Embassy for Brazil and the way which you can apply you visa to India through:</p>
    <p><strong>India Embassy - Brazil</strong></p>
    <ul>
        <li><strong>Add</strong>: SHIS QL 08, Coj 08, Casa 01, Lago Sul, CEP 71.620/285, Brasilia, Brazil</li>
        <li><strong>Phone</strong>: +55-61-3248-4006</li>
        <li><strong>Fax</strong>: +55-61-3248-7849</li>
        <li><strong>Email:</strong>&nbsp;ic@indianembassy.org.br</li>
        <li><strong>Website</strong>: www.indianembassy.org.br/</li>
    </ul>
    <p><strong>India Consulate - Brazil</strong></p>
    <ul>
        <li><strong>Add:</strong>&nbsp;Av. Paulista 925, 7th Floor, 01311, Sao Paulo, Brazil</li>
        <li><strong>Tel:</strong>&nbsp;+55-11-3171-0340 / +55-11-3171-0341 / +55-11-3253-4290 / +55-11-3141-0928</li>
        <li><strong>Email:</strong>&nbsp;cg@indiaconsulate.org.br/ consul.aj@indiaconsulate.org.br/ consul.vk@indiaconsulate.org.br</li>
        <li><strong>Website:</strong>&nbsp;www.indiaconsulate.org.br/</li>
    </ul>
    <p>Citizens or residents in Brazil can just only directly contact and apply your India Visa at the India Embassy in Brazil by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>