<h2>India Embassy in Brunei</h2>
<div class="content_format">
    <p>India Embassy in Brunei is an office of communication between India Government and Brunei. It operates as the official representative of the India in Brunei. The following is major information about India Embassy for Brunei and the way which you can apply you visa to India through:</p>
    <p><strong>India High Comission - Brunei Darussalam</strong></p>
    <ul>
        <li><strong>Add</strong>: "Baitussyifaa", Simpang 40-22, Jalan Sungai Akar, BC 3915, Bandar Seri Begawan, Brunei Darussalam</li>
        <li><strong>Phone</strong>: +673-233-9947 / +673-233-9685</li>
        <li><strong>Fax</strong>: +673-233-9783</li>
        <li><strong>Email:</strong>&nbsp;hicomind@brunet.bn / hc.brunei@mea.gov.in / hoc.brunei@mea.gov.in / com.brunei@mea.gov.in</li>
        <li><strong>Website:</strong>&nbsp;www.hcindiabrunei.org.bn</li>
    </ul>
    <p>Citizens or residents in Brunei can just only directly contact and apply your India Visa at the India Embassy in Brunei by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>