<h2>India Embassy in Bulgaria</h2>
<div class="content_format">
    <p>India Embassy in Bulgaria is an office of communication between India Government and Bulgaria. It operates as the official representative of the India in Bulgaria. The following is major information about India Embassy for Bulgaria and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Bulgaria</strong></p>
    <ul>
        <li>Add: 23, Sveti Sedmochislenitsi Street., Lozenetz, 1421, Sofia, Bulgaria</li>
        <li>Tel : +359-2-9635675 / +359-2-9635676 / +359-2-9635677</li>
        <li>Fax: +359-2-9635686</li>
        <li>Email: ambassador@indembsofia.org/ hoc@indembsofia.org</li>
        <li>Website: www.indembsofia.org</li>
    </ul>
    <p>Citizens or residents in Bulgaria can just only directly contact and apply your India Visa at the India Embassy in Bulgaria by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>