<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">Business Visa</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
OVERVIEW<br/>
Who can Apply?<br/>
Business Visa: - Eligibility Criteria<br/><br/>
To get business visa to india within 2months you need to hold a valid passport <a href="/article/faqs#11">check here</a> and have a clear Itinerary and purpose for your trip. Within the processing time You may be asked for required docs. 
<br/>
<br/>
The business visa is valid for those purpose only
<br/>
<br/>
TO SET UP INDUSTRIAL/BUSINESS VENTURE <br/>
SALE/PURCHASE/TRADE <br/>
ATTEND TECHNICAL/BUSINESS MEETINGS <br/>
TO RECRUIT MANPOWER <br/>
PARTICIPATION IN EXHIBITIONS,BUSINESS/TRADE FAIRS <br/>
EXPERT/SPECIALIST IN CONNECTION WITH AN ONGOING PROJECT <br/>
CONDUCTING TOURS <br/>
TO DELIVER LECTURE/S UNDER GLOBAL INITIATIVE FOR ACADEMIC NETWORKS (GIAN) <br/>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
