<h2>India Embassy in Cambodia</h2>
<div class="content_format">
    <p>India Embassy in Combodia is an office of communication between India Government and Combodia. It operates as the official representative of the India in Combodia. The following is major information about India Embassy for Combodia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Combodia</strong></p>
    <ul>
        <li>Add: Villa No. 5, Street No.466, Phnom Penh, Cambodia</li>
        <li>Tel : +855-12-222804 / +855-23-210912/ +855-23-210913 / +855-23-218046</li>
        <li>Fax: +855-23-213640 / +855-23-210914</li>
        <li>Email: amb.phnompenh@mea.gov.in / embindia@online.com.kh / indembassyphnompenh@phnompenh.org</li>
    </ul>
    <p>Citizens or residents in Combodia can just only directly contact and apply your India Visa at the India Embassy in Combodia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>