<h2>India Embassy in Canada</h2>
<div class="content_format">
    <p>India Embassy in Canada is an office of communication between India Government and Canada. It operates as the official representative of the India in Canada. The following is major information about India Embassy for Canada and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Canada</strong></p>
    <ul>
        <li>Add: 10 Springfield Road, Ottawa, Canada</li>
        <li>Tel : +1-613-744-3751 / +1-613-744-3753</li>
        <li>Fax: +1-613-744-0913</li>
        <li>Email: hicomind@hciottawa.ca</li>
        <li>Website: www.hciottawa.ca</li>
    </ul>
    <p><strong>India Consulate - Canada</strong></p>
    <ul>
        <li>Add: Suite # 700, 365 Bloor Street East, M4W 3 L4, Toronto, Canada</li>
        <li>Tel: +1-416-960-0751 / +1-416-960-0752</li>
        <li>Fax: +1-416-960-9812</li>
        <li>Email: cgindia@cgitoronto.ca</li>
        <li>Website: www.cgitoronto.ca</li>
    </ul>
    <p><strong>India Consulate - Canada</strong></p>
    <ul>
        <li>Add: # 201-325, Howe Street, V6C 1Z7, British Colombia, Vancouver, Canada</li>
        <li>Tel: +1-604-662-8811</li>
        <li>Fax: +1-604-682-2471/ +1-604-682-3556</li>
        <li>Email: indiacg@telus.net / indiahoc@telus.net / indiacons@telus.net / indiatradecom@telus.net / indiainf@telus.net / indiapscg@telus.net / oci@cgivancouver.com / indiacpv@telus.net</li>
        <li>Website: www.cgivancouver.org</li>
    </ul>
    <p>Citizens or residents in Canada can just only directly contact and apply your India Visa at the India Embassy in Canada by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>