<h2>India Embassy in Chile</h2>
<div class="content_format">
    <p>India Embassy in Chile is an office of communication between India Government and Chile. It operates as the official representative of the India in Chile. The following is major information about India Embassy for Chile and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Chile</strong></p>
    <ul>
        <li>Add: 971, Alcantara, Po Box 10433, Providencia, Santiago, Chile</li>
        <li>Tel : +56-2-2284141 / +56-2-2286857 / +56-2-2289743 / +56-2-2634103</li>
        <li>Fax: +56-2-3217217 / +56-2-2061959</li>
        <li>Email: info@embajadaindia.cl</li>
        <li>Website: www.embajadaindia.cl / http://www.mea.gov.in/santiago/</li>
    </ul>
    <p>Citizens or residents in Chile can just only directly contact and apply your India Visa at the India Embassy in Chile by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>