<h2>India Embassy in China</h2>
<div class="content_format">
    <p>India Embassy in China is an office of communication between India Government and China. It operates as the official representative of the India in China. The following is major information about India Embassy for China and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - China</strong></p>
    <ul>
        <li>Add: 5, Liang Ma Qiao Bei Jie, Chaoyang District, Beijing, China</li>
        <li>Tel : +86-10-85312500 / +86-10-85312501 / +86-10-85312502 / +86-10-85312503</li>
        <li>Fax: +86-10-85312515</li>
        <li>Email: hoc.beijing@mea.gov.in / amboff@indianembassy.org.cn / dcm@indianembassy.org.cn</li>
        <li>Website: http://www.indianembassy.org.cn/</li>
    </ul>
    <p><strong>India Consulate - China</strong></p>
    <ul>
        <li>Add: 1008, Shanghai International, Trade Centre, 2201 Yan An Xi Lu, Shanghai, China, 200336</li>
        <li>Tel: +86-21-62758882 / +86-21-62758882 / +86-21-62758882</li>
        <li>Fax: +86-21-62758881 / +86-21-62956892</li>
        <li>Email: ccom@indianconsulate.org.cn</li>
        <li>Website: www.indianconsulate.org.cn</li>
    </ul>
    <p><strong>India Consulate - China</strong></p>
    <ul>
        <li>Add: 16-D United Centre, 95, Queensway, Hong Kong, China</li>
        <li>Tel: +85-23-9709900/ +85-23-9709922</li>
        <li>Fax: +85-22-8664124/ +85-22-5281647</li>
        <li>Email: consular@cgihk.gov.in/ visa@cgihk.gov.in</li>
        <li>Website: www.cgihk.gov.in</li>
    </ul>
    <p><strong>India Consulate - China</strong></p>
    <ul>
        <li>Add: 1-4, 14th Floor, Haihang Dasha, (HNA) Tower, 8 Linhe Zhong Road, Tianhe Distt., 510610, Guangzhou, China</li>
        <li>Tel: +86-20-85501501 / +86-20-85501505</li>
        <li>Fax: +86-20-85501510 / +86-20-85501513</li>
        <li>Email: cg.guangzhou@mea.gov.in / hoc.guangzhou@mea.gov.in /</li>
        <li>Website: www.cgiguangzhou.org.cn</li>
    </ul>
    <p>Citizens or residents in China can just only directly contact and apply your India Visa at the India Embassy in China by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>