<h2>India Embassy in Colombia</h2>
<div class="content_format">
    <p>India Embassy in Colombia is an office of communication between India Government and Colombia. It operates as the official representative of the India in Colombia. The following is major information about India Embassy for Colombia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Colombia</strong></p>
    <ul>
        <li>Add: Calle 116 # 7-15 Int. 2 Of. 301, Torre Cusezar, Santa Barbara, Bogota, Colombia</li>
        <li>Tel : +57-1-6373259 / +57-1-6373279 / +57-1-6373280 / +57-1-6373289</li>
        <li>Fax: +57-1-6373451 / +57-1-6373516</li>
        <li>Email: indembog@cable.net.co / hoc.bogota@mea.gov.in / consular.bogota@mea.gov.in / culturalindia@cable.net..co</li>
        <li>Website: www.embajadaindia.org</li>
    </ul>
    <p>Citizens or residents in Colombia can just only directly contact and apply your India Visa at the India Embassy in Colombia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>