<div class="container title-area">
        <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                        <header>
                                <h1 class="entry-title">CONTACT INFORMATION</h1>
                        </header>
                </div>
        </div>
</div>
<div class="container">
        <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                        <section class="entry-content">

                                <p>Email – <a href="mailto:visa@indiaonlineevisa.com" class="orange">visa@indiaonlineevisa.com</a>                                        </p>
                                <p><a href="mailto:Support@indiaonlineevisa.com" class="orange">Support@indiaonlineevisa.com </a></p>
                                <p>Skype – visa@indiaonlineevisa.com</p>

                                <h2>Phone Numbers and Address </h2>
                                <strong>Sydney</strong>
                                <p>309 Pitt Street Sydney Australia 2000</p>
                                <p>Phone Number: <img width="20" height="14" alt="United States" title="Australia" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696083-flag-australia.png">                        <a style="font-size: 16px;" title="Call us" href="tel:+61 2 80074425">(+61) 2 80074425</a> </p>
                                <br>
                                <strong>Hong Kong </strong>
                                <p>100 Queens Road Central </p>
                                <p>Hong Kong Central </p>
                                <p>Phone Number: <img width="20" height="14" alt="United States" title="Hong Kong" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696084-flag-hon.png">                        <a style="font-size: 16px;" title="Call us" href="tel:+85 2 8197 4474">(+85) 2 8197 4474</a> </p>
                                <br>
                                <strong>UK London </strong>
                                <p>One Canada Square </p>
                                <p>Canary Wharf E 14 5AB UK </p>
                                <p>Phone Number: <img width="20" height="14" alt="United States" title="United Kingdom" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696084-flag-uk.png">                        <a style="font-size: 16px;" title="Call us" href="+44 33 0001 1361">(+44) 33 0001 1361</a> </p>
                                <br>
                                <strong>New York USA</strong>
                                <p>Wework Building</p>
                                <p>524 Broadway, New York NY 10012</p>
                                <p>Phone Number:  <img width="20" height="14" alt="United States" title="United States" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696083-flag-del.png">
                        <a
                          style="font-size: 16px;" title="Call us" href="+1 347 748 1226"> (+1) 347 748 1226</a></p>
                        </section>
                </div>
        </div>
</div>