<h2>India Embassy in Cook Islands</h2>
<div class="content_format">
    <p>Embassy of India has not established in&nbsp;<strong>Cook Islands</strong>&nbsp;yet. Therefore, citizens or residents in&nbsp;<strong>Cook Islands</strong>&nbsp;can only apply at India Embassy Oversea for having an India visa:</p>
    <p>Kindly contact and apply your India Visa at the nearest India embassies or consulates in your neighboring countries or in any country in person or by email before arriving in India.</p>
    <p><strong>Useful information</strong>: India Embassies and Consulates overseas</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>