<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Cookie Policy </h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
        <h2 class="text-left">
          Cookies: What are they?</h2>
        <p>
          Cookies are small pieces of data, stored on the user’s computer for a certain period of time. When the user visits a new web page, cookies access his/her device, whether it is a PC, a tablet or a phone. Their aim is to better record the user interaction with the website, gather behavioural information and create patterns. These patterns help us understand our users’ wants and needs and consequently provide better services. </p>
        <p>
          This website uses cookies, like the majority of professional web platforms. </p>
        <div class="m-title">
          <div class="m-title--txtliner m-title--t3">
            <h2 class="text-left">
          The cookies we use on this web</h2>
          </div>
        </div>
        <p>
         The immigration and travel services on this web require completing an e-Tourist, e-Business or e-Medical Visa application form. </p>
        <p>
          The cookies used on this web will save the profile information so that the user will not have to re-enter any data that has already been submitted, which will in turn save time and increase accuracy. </p>
        <p>
          Cookies are also used to save your web preferences and settings such as the language of the application form </p>
        <div class="m-title">
          <div class="m-title--txtliner m-title--t3">
            <h3 class="text-left">
          Third party cookies        </h3>
          </div>
        </div>
        <p>
          Sometimes we may use cookies provided to us by trusted and secured third parties, such as Google Analytics. This is one of the most popular and trusted web analysis tool, which helps us to grow continually and provide better services to the end user. </p>
        <p>
          Such tools allow us to measure the time spent on a specific page, the links you have clicked on, the pages you viewed, etc. </p>
        <p>
          By gathering and analysing such data, we can optimize and personalise the services offered on this web, while also increasing the overall user experience. </p>
        <div class="m-title">
          <div class="m-title--txtliner m-title--t3">
            <h3 class="text-left">
          How to disable cookies        </h3>
          </div>
        </div>
        <p>
          Should you decide to disable the cookies means to disable a number of valuable website features. Therefore we advise against such actions. However, if you wish to proceed with disabling your cookies, you can do so from the Settings menu of your browser. </p>
        <p>
          <b>Important Note:</b> Disabling your cookies will affect your user experience together with the overall functionality of the website. </p>
      </section>
    </div>
  </div>
</div>
