<h2>India Embassy in Croatia</h2>
<div class="content_format">
    <p>India Embassy in Croatia is an office of communication between India Government and Croatia. It operates as the official representative of the India in Croatia. The following is major information about India Embassy for Croatia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Croatia</strong></p>
    <ul>
        <li>Add: Bijenik 152B, 10 000, Zagreb, Croatia</li>
        <li>Tel : +385-1-4873239 / +385-1-4873240 / +385-1-4873241/ +385-1-4873250</li>
        <li>Fax: +385-1-4817907</li>
        <li>Email: info@indianembassy.hr</li>
        <li>Website: www.indianembassy.hr</li>
    </ul>
    <p>Citizens or residents in Croatia can just only directly contact and apply your India Visa at the India Embassy in Croatia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>