<h2>India Embassy in Cuba</h2>
<div class="content_format">
    <p>India Embassy in Cuba is an office of communication between India Government and Cuba. It operates as the official representative of the India in Cuba. The following is major information about India Embassy for Cuba and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Cuba</strong></p>
    <ul>
        <li>Add: No.202, Calle 21. Esquina a &lsquo;K&rsquo;, Vedado, Havana, Cuba</li>
        <li>Tel : +53-7-8333777 / +53-7-8333169 / +53-7-8381700</li>
        <li>Fax: +53-7-8333287</li>
        <li>Email: amb.havana@mea.gov.in / hoc.havana@mea.gov.in</li>
    </ul>
    <p>Citizens or residents in Cuba can just only directly contact and apply your India Visa at the India Embassy in Cuba by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
    </div>