<h2>India Embassy in Cyprus</h2>
<div class="content_format">
<p>&nbsp;India Embassy in Cyprus is an office of communication between India Government and Cyprus. It operates as the official representative of the India in Cyprus. The following is major information about India Embassy for Cyprus and the way which you can apply you visa to India through:</p>
<p>&nbsp;</p>
<p><strong>Embassy of India in Cyprus</strong></p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add: No. 3, Indira Gandhi Street, Montparnasse Hill, P.O.Box 25544, 2413, Nicosia, Cyprus.</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel : +357-2235-1741, +357-2235-1170</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30,&nbsp;Afternoon: 14:00 &ndash; 16:30</p>
<p>Citizens or residents in Cyprus can just only apply for a visa to India:</p>
<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&nbsp;Directly contact and apply your&nbsp;India Visa&nbsp;at the India Embassy in Cyprus by yourself as above address.</strong></p>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>