<h2>India Embassy in Czech</h2>
<div class="content_format">
    <p>India Embassy in Czech Republic is an office of communication between India Government and Czech Republic . It operates as the official representative of the India in Czech Republic . The following is major information about India Embassy for Czech Republic and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Czech Republic</strong></p>
    <ul>
        <li>Add: Milady Hor&aacute;kov&eacute; 60/93, Hole&scaron;ovice, Prague, Czech Republic</li>
        <li>Tel : +420-2575-33490</li>
        <li>Fax: +420-2575-33378 / +420-2575-33285</li>
        <li>Email: india@india.cz / hoc@india.cz / ambassador@india.cz</li>
        <li>Website: www.india.cz/</li>
    </ul>
    <p>Citizens or residents in Czech Republic can just only directly contact and apply your India Visa at the India Embassy in Czech Republic by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>