<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Disclaimer</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
        <p>
          <a href="https://www.onlineindiaevisa.com">www.onlineindiaevisa.com</a> is a subsidiary business of EVisa4U PTY LTD registered under Australian Business Number 18619971023
        </p>
        <p>
          Evisa Immigration are registered and fully qualified doing the Evisa for 17 years combined experience in migration. Evisa based in Australia and Evisa Immigration have our main office on Hongkong, United Kingdom, United State . We also co-copperator with many travel agency all over the world.
        </p>
        <p>
          Our dedicated team is committed to providing professional service to individuals and legal entities with their E-Visa India application process. This is a private website, not affiliated with the Indian Government. Our agency charges a fee in exchange for our expert immigration and travel advice
        </p>
        <p>
         Evisa Immigration is a trusted partner with the Diplomatic Missions for administrative and non-judgmental tasks of outsourcing of Visas, Passports and Attestation Applications in India as well as abroad.
        </p>
        <p>
         Evisa immigration concentrate on getting Travel visa for customer, cover every situation could be happen with visa when travel, and handle with urgent situation when traveler need visa ( Stuck at the airport, need the visa to go back home for the family reason.. ect)  </p>
         <p>Our dedicated team is committed to providing professional service to individuals and legal entities with their E-Visa India application process. This is a private website, not affiliated with the Indian Government or any other third parties, offering similar services. Our agency charges a fee in exchange for our expert immigration and travel advice and services for the following.</p>
   
      </section>
    </div>
  </div>
</div>
