<h2>India Embassy in Djibouti</h2>
<div class="content_format">
    <p>India Embassy in Djibouti is an office of communication between India Government and Djibouti. It operates as the official representative of the India in Djibouti. The following is major information about India Embassy for Djibouti and the way which you can apply you visa to India through:</p>
    <h2>Consulate of India in Djibouti Ville, Djibouti</h2>
    <ul>
        <li><strong>Add</strong>: Rue D Athens, Djibouti City, Post Box No.171, Djibouti.</li>
        <li><strong>Phone</strong>: +253-350219 / +253-552394</li>
        <li><strong>Fax</strong>: +253-351778</li>
        <li><strong>Office Hours</strong>: From Monday to Friday; Morning: 09.00 - 12.30, Afternoon: 13:30 - 16:00</li>
    </ul>
    <p>Citizens or residents in Djibouti can choose one of three options below to apply for a visa to India:</p>
    <p>One, directly contact and apply your India Visa at the India Embassy in Djibouti by yourself as above address.</p>
    <p>Two,&nbsp;<a href="http://www.onlineindiaevisa.com/apply-visa">apply for India visa on arrival&nbsp;</a>for time-saving. By that way, you will get the India visa approval letter before leaving Djibouti for India, so that you can pick up India visa at arriving airport. Please visit our&nbsp;<a href="http://www.onlineindiaevisa.com/processing">Visa Processing</a>&nbsp;to better understand how India visa on arrival works and how to apply for a visa upon arrival safer and faster.</p>
    <h2>Useful information:</h2>
    <ul>
        <li><a href="http://www.onlineindiaevisa.com/tips/djibouti">How to get India visa from Djibouti</a></li>
        <li><a href="http://www.onlineindiaevisa.com/check-requirements/djibouti">Check India visa requirement for Djibouti</a></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>