<h2>India Embassy in Dominican Republic</h2>
<div class="content_format">
    <p>India Embassy in Dominican Republic is an office of communication between India Government and Dominican Republic. It operates as the official representative of the India in Dominican Republic. The following is major information about India Embassy for Dominican Republic and the way which you can apply you visa to India through:</p>
    <p>&nbsp;</p>
    <p><strong>Embassy of India in Dominican Republic</strong></p>
    <p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add: Av John F. Kennedy esq. Gracita, Alvarez, Santo Domingo, Dominican Republic.</p>
    <p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel : +1-809-334-4111.</p>
    <p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30,&nbsp;Afternoon: 14:00 &ndash; 16:30</p>
    <p>Citizens or residents in Dominican Republic can just only apply for a visa to India:</p>
    <p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&nbsp;Directly contact and apply your&nbsp;India Visa&nbsp;at the India Embassy in Dominican Republic by yourself as above address.</strong></p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>