<h2>India Embassy in Egypt</h2>
<div class="content_format">
    <p>India Embassy in Egypt is an office of communication between India Government and Egypt . It operates as the official representative of the India in Egypt . The following is major information about India Embassy for Egypt and the way which you can apply you visa to India through:</p>
    <p><strong>Embassy of India in Egypt</strong></p>
    <ul>
        <li>Add: 5 Aziz Abaza Str Zamalek, PO Box 718 Cairo, 11211, Cairo, Egypt</li>
        <li>Phone: +202-273-60052 / +202-273-63051 / +202-273-56053</li>
        <li>Fax: +202-273-64038 / +202-273-82965 / +202-239-36702</li>
        <li>Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30, Afternoon: 14:00 &ndash; 16:30</li>
    </ul>
    <p>Citizens or residents in Egypt can just only apply for a visa to India:</p>
    <ul>
        <li><strong>Directly contact and apply your India Visa at the India Embassy in Egypt by yourself as above address.</strong></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>