<h2>India Embassy in Ethiopia</h2>
<div class="content_format">
    <p>India Embassy in Ethiopia is an office of communication between India Government and Ethiopia . It operates as the official representative of the India in Ethiopia . The following is major information about India Embassy for Ethiopia and the way which you can apply you visa to India through:</p>
    <p><strong>Embassy of India in Ethiopia</strong></p>
    <ul>
        <li>Add: Arada District, Kebele-13/14, H.No.224, PO Box No.528, Addis Ababa, Ethiopia</li>
        <li>Phone: +251-11-1235538 / +251-11-1235539 / +251-11-1235540 / +251-11-1235541</li>
        <li>Fax: +251-11-1235547 / +251-11-1235548</li>
        <li>Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30, Afternoon: 14:00 &ndash; 16:30</li>
    </ul>
    <p>Citizens or residents in Ethiopia can just only apply for a visa to India:</p>
    <ul>
        <li><strong>Directly contact and apply your India Visa at the India Embassy in Ethiopia by yourself as above address.</strong></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>