<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">FREQUENTLY ASKED QUESTIONS</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
        <h2>General Visa</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
          1. What is E visa?
        </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                From Oct 2014 India Government allow traveler travel to india with E visa for tourist, business, medical purpose. The visa
                will valid 60 days with double entry ( that mean you can enter india twice).
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. The evisa mean ?
        </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>you apply online, your visa will be granted an electronic visa (eVisa). This means you will not have a physical
                  visa label in your passport. You have to submit some document via email if it require.</p>
                <p>You’ll be receive your Evisa by email when your application has been decided. You can check your status on
                  our website.</p>
                <p>If your application is successful, your visa approval letter will include your visa details. When you arrival
                  in India airport the official will check your visa and stamp on your passport.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Do I need to show the visa to enter india from my country?
        </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Yes you have to show the valid visa to enter india from your country. If not you will miss your flight and can not travel
                to india.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFouth">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseFouth" aria-expanded="false" aria-controls="collapseFouth">
                4. Do I need the visa to transit in india?
              </a>
              </h4>
            </div>
            <div id="collapseFouth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFouth">
              <div class="panel-body">
                Most of countries have specific transit visa requirements. If you’re transiting through India, it is your responsibility
                to check with the your airline about departure or transit requirements. You can apply for Etourist visa and
                use it to transit to india.

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFifth">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
          5. What do I need to have to apply for Evisa?
        </a>
              </h4>
            </div>
            <div id="collapseFifth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifth">
              <div class="panel-body">
                You must hold a valid passport.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSixth">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth">
         6. Do children require a visa to visit India?
        </a>
              </h4>
            </div>
            <div id="collapseSixth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixth">
              <div class="panel-body">
                All travelers including children must have a valid visa to travel to India. Please complete a separate application for each
                child. For minors, the parents should sign the application.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeventh">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseSeventh" aria-expanded="false" aria-controls="collapseSeventh">
        7. How I can show my visa to Offical?
        </a>
              </h4>
            </div>
            <div id="collapseSeventh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventh">
              <div class="panel-body">
                If you hold an eVisa, there are many ways to show details of your India visa while travelling from your country . We highly
                recommend You print it out and keep it safe with you when travel to india. With emergency situation you can
                Show the Evisa on the mobile access.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEighth">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseEighth" aria-expanded="false" aria-controls="collapseEighth">
       8. How much I have to pay for my Visa?
        </a>
              </h4>
            </div>
            <div id="collapseEighth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighth">
              <div class="panel-body">
                There is two kind of fee to get the Evisa to India. The gorvernment fee is from 25 USD to 75 USD depend on what country you
                belong to. And the fee to process the visa for you is 69 USD. If you would like to get visa with emergentcy
                situation or within 24 hours you may have to pay extra 79 usd to 99 usd.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNineth">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseNineth" aria-expanded="false" aria-controls="collapseNineth">
       9.How to apply the India E visa?
        </a>
              </h4>
            </div>
            <div id="collapseNineth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineth">
              <div class="panel-body">
                You can apply for an e-Visa India by clicking on the button above or this link <a href="https://www.onlineindiaevisa.com">APPLY HERE.</a>                </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTenth">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTenth" aria-expanded="false" aria-controls="collapseTenth">
       10.When should I apply for the e-Visa India?
        </a>
              </h4>
            </div>
            <div id="collapseTenth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTenth">
              <div class="panel-body">
                <p>According to the new Online Visa India regulation, if the selected arrival date is more than 90 days at the
                  time of the application, the e-Visa India will be processed and issued between 90 to 80 days before the
                  arrival date.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEleventh">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseEleventh" aria-expanded="false" aria-controls="collapseEleventh">
      11. Who is eligible to submit an e-Visa India application?
        </a>
              </h4>
            </div>
            <div id="collapseEleventh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleventh">
              <div class="panel-body">
                <p>Nationals of the countries listed below are eligible to submit an e-Visa India application. This includes
                  citizens from the Unites States, the United Kingdom, Canada, and Australia (see full list below).</p>
                <p>Following is the full list of the e-Visa India eligible countries:</p>
                <table border="1" cellspacing="0" cellpadding="0" class="text-center">
                  <tbody>
                    <tr>
                      <td valign="top">
                        <p>Andorra</p>
                      </td>
                      <td valign="top">
                        <p>Albania</p>
                      </td>
                      <td valign="top">
                        <p>Angola</p>
                      </td>
                      <td valign="top">
                        <p>Anguilla</p>
                      </td>
                      <td valign="top">
                        <p>Antigua and Barbuda</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Argentina</p>
                      </td>
                      <td valign="top">
                        <p>Armenia</p>
                      </td>
                      <td valign="top">
                        <p>Aruba</p>
                      </td>
                      <td valign="top">
                        <p>Australia</p>
                      </td>
                      <td valign="top">
                        <p>Austria</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Azerbaijan</p>
                      </td>
                      <td valign="top">
                        <p>Bahamas</p>
                      </td>
                      <td valign="top">
                        <p>Barbados</p>
                      </td>
                      <td valign="top">
                        <p>Belgium</p>
                      </td>
                      <td valign="top">
                        <p>Belize</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Bolivia</p>
                      </td>
                      <td valign="top">
                        <p>Bosnia and Herzegovina</p>
                      </td>
                      <td valign="top">
                        <p>Botswana</p>
                      </td>
                      <td valign="top">
                        <p>Brazil</p>
                      </td>
                      <td valign="top">
                        <p>Brunei Darussalam</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Bulgaria</p>
                      </td>
                      <td valign="top">
                        <p>Burundi</p>
                      </td>
                      <td valign="top">
                        <p>Cambodia</p>
                      </td>
                      <td valign="top">
                        <p>Cameroon</p>
                      </td>
                      <td valign="top">
                        <p>Canada</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Cape Verde</p>
                      </td>
                      <td valign="top">
                        <p>Cayman Islands</p>
                      </td>
                      <td valign="top">
                        <p>Chile</p>
                      </td>
                      <td valign="top">
                        <p>China</p>
                      </td>
                      <td valign="top">
                        <p>Colombia</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Comoros</p>
                      </td>
                      <td valign="top">
                        <p>Cook Islands</p>
                      </td>
                      <td valign="top">
                        <p>Costa Rica</p>
                      </td>
                      <td valign="top">
                        <p>Cote d'Ivoire</p>
                      </td>
                      <td valign="top">
                        <p>Croatia</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Cuba</p>
                      </td>
                      <td valign="top">
                        <p>Republic of Cyprus</p>
                      </td>
                      <td valign="top">
                        <p>CZECH republic</p>
                      </td>
                      <td valign="top">
                        <p>Denmark</p>
                      </td>
                      <td valign="top">
                        <p>Djibouti</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Dominica</p>
                      </td>
                      <td valign="top">
                        <p>Dominican Republic</p>
                      </td>
                      <td valign="top">
                        <p>Ecuador</p>
                      </td>
                      <td valign="top">
                        <p>El Salvador</p>
                      </td>
                      <td valign="top">
                        <p>Eritrea</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Estonia</p>
                      </td>
                      <td valign="top">
                        <p>Fiji</p>
                      </td>
                      <td valign="top">
                        <p>Finland</p>
                      </td>
                      <td valign="top">
                        <p>France</p>
                      </td>
                      <td valign="top">
                        <p>Gabon</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Gambia</p>
                      </td>
                      <td valign="top">
                        <p>Georgia</p>
                      </td>
                      <td valign="top">
                        <p>Germany</p>
                      </td>
                      <td valign="top">
                        <p>Ghana</p>
                      </td>
                      <td valign="top">
                        <p>Greece</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Grenada</p>
                      </td>
                      <td valign="top">
                        <p>Guatemala</p>
                      </td>
                      <td valign="top">
                        <p>Guinea</p>
                      </td>
                      <td valign="top">
                        <p>Guyana</p>
                      </td>
                      <td valign="top">
                        <p>Haiti</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Honduras</p>
                      </td>
                      <td valign="top">
                        <p>Hong Kong</p>
                      </td>
                      <td valign="top">
                        <p>Hungary</p>
                      </td>
                      <td valign="top">
                        <p>Iceland</p>
                      </td>
                      <td valign="top">
                        <p>Indonesia</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Ireland</p>
                      </td>
                      <td valign="top">
                        <p>Israel</p>
                      </td>
                      <td valign="top">
                        <p>Italy</p>
                      </td>
                      <td valign="top">
                        <p>Jamaica</p>
                      </td>
                      <td valign="top">
                        <p>Japan</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Jordan</p>
                      </td>
                      <td valign="top">
                        <p>Kenya</p>
                      </td>
                      <td valign="top">
                        <p>Kiribati</p>
                      </td>
                      <td valign="top">
                        <p>Korea, Republic of</p>
                      </td>
                      <td valign="top">
                        <p>Lao People's Democratic Republic</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Latvia</p>
                      </td>
                      <td valign="top">
                        <p>Lesotho</p>
                      </td>
                      <td valign="top">
                        <p>Liberia</p>
                      </td>
                      <td valign="top">
                        <p>Liechtenstein</p>
                      </td>
                      <td valign="top">
                        <p>Lithuania</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Luxembourg</p>
                      </td>
                      <td valign="top">
                        <p>Macau</p>
                      </td>
                      <td valign="top">
                        <p>Macedonia</p>
                      </td>
                      <td valign="top">
                        <p>Madagascar</p>
                      </td>
                      <td valign="top">
                        <p>Malawi</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Malaysia</p>
                      </td>
                      <td valign="top">
                        <p>Mali</p>
                      </td>
                      <td valign="top">
                        <p>Malta</p>
                      </td>
                      <td valign="top">
                        <p>Marshall Islands</p>
                      </td>
                      <td valign="top">
                        <p>Mauritius</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Mexico</p>
                      </td>
                      <td valign="top">
                        <p>Micronesia, Federated States of</p>
                      </td>
                      <td valign="top">
                        <p>Moldova, Republic of</p>
                      </td>
                      <td valign="top">
                        <p>Monaco</p>
                      </td>
                      <td valign="top">
                        <p>Mongolia</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Montenegro</p>
                      </td>
                      <td valign="top">
                        <p>Montserrat</p>
                      </td>
                      <td valign="top">
                        <p>Mozambique</p>
                      </td>
                      <td valign="top">
                        <p>Myanmar</p>
                      </td>
                      <td valign="top">
                        <p>Namibia</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Nauru</p>
                      </td>
                      <td valign="top">
                        <p>Netherlands</p>
                      </td>
                      <td valign="top">
                        <p>New Zealand</p>
                      </td>
                      <td valign="top">
                        <p>Nicaragua</p>
                      </td>
                      <td valign="top">
                        <p>Niger</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Niue</p>
                      </td>
                      <td valign="top">
                        <p>Norway</p>
                      </td>
                      <td valign="top">
                        <p>Oman</p>
                      </td>
                      <td valign="top">
                        <p>Palau</p>
                      </td>
                      <td valign="top">
                        <p>Palestinian Territory</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Panama</p>
                      </td>
                      <td valign="top">
                        <p>Papua New Guinea</p>
                      </td>
                      <td valign="top">
                        <p>Paraguay</p>
                      </td>
                      <td valign="top">
                        <p>Peru</p>
                      </td>
                      <td valign="top">
                        <p>Philippines</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Poland</p>
                      </td>
                      <td valign="top">
                        <p>Portugal</p>
                      </td>
                      <td valign="top">
                        <p>Romania</p>
                      </td>
                      <td valign="top">
                        <p>Russian Federation</p>
                      </td>
                      <td valign="top">
                        <p>Rwanda</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Saint Kitts and Nevis</p>
                      </td>
                      <td valign="top">
                        <p>Saint Lucia</p>
                      </td>
                      <td valign="top">
                        <p>Saint Vincent and the Grenadines</p>
                      </td>
                      <td valign="top">
                        <p>Samoa</p>
                      </td>
                      <td valign="top">
                        <p>San Marino</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Senegal</p>
                      </td>
                      <td valign="top">
                        <p>Serbia</p>
                      </td>
                      <td valign="top">
                        <p>Seychelles</p>
                      </td>
                      <td valign="top">
                        <p>Sierra Leone</p>
                      </td>
                      <td valign="top">
                        <p>Singapore</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Slovakia</p>
                      </td>
                      <td valign="top">
                        <p>Slovenia</p>
                      </td>
                      <td valign="top">
                        <p>Solomon Islands</p>
                      </td>
                      <td valign="top">
                        <p>South Africa</p>
                      </td>
                      <td valign="top">
                        <p>Spain</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Sri Lanka</p>
                      </td>
                      <td valign="top">
                        <p>Suriname</p>
                      </td>
                      <td valign="top">
                        <p>Swaziland</p>
                      </td>
                      <td valign="top">
                        <p>Sweden</p>
                      </td>
                      <td valign="top">
                        <p>Switzerland</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Taiwan</p>
                      </td>
                      <td valign="top">
                        <p>Tajikistan</p>
                      </td>
                      <td valign="top">
                        <p>Tanzania, United Republic of</p>
                      </td>
                      <td valign="top">
                        <p>Thailand</p>
                      </td>
                      <td valign="top">
                        <p>Timor-Leste</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Tonga</p>
                      </td>
                      <td valign="top">
                        <p>Trinidad and Tobago</p>
                      </td>
                      <td valign="top">
                        <p>Turks and Caicos Islands</p>
                      </td>
                      <td valign="top">
                        <p>Tuvalu</p>
                      </td>
                      <td valign="top">
                        <p>Ukraine</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>United Arab Emirates</p>
                      </td>
                      <td valign="top">
                        <p>United Kingdom</p>
                      </td>
                      <td valign="top">
                        <p>United States</p>
                      </td>
                      <td valign="top">
                        <p>Uruguay</p>
                      </td>
                      <td valign="top">
                        <p>Uzbekistan</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Vanuatu</p>
                      </td>
                      <td valign="top">
                        <p>Vatican City</p>
                      </td>
                      <td valign="top">
                        <p>Venezuela</p>
                      </td>
                      <td valign="top">
                        <p>Vietnam</p>
                      </td>
                      <td valign="top">
                        <p>Zambia</p>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <p>Zimbabwe</p>
                      </td>
                      <td valign="top"></td>
                      <td valign="top"></td>
                      <td valign="top"></td>
                      <td valign="top"></td>
                    </tr>
                  </tbody>
                </table>
                <p>Important note: Applicants whose country of citizenship is not on the list may still travel to India. However,
                  they will need to apply for a regular visa at the nearest embassy or consulate.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTweth">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTweth" aria-expanded="false" aria-controls="collapseTweth">
      12. Is the e-Visa India (eTV) a single or a multiple entry visa? Can it be extended?
        </a>
              </h4>
            </div>
            <div id="collapseTweth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTweth">
              <div class="panel-body">
                <p>The e-Visa India is a double entry visa for e-Tourist and e-Business and a triple entry visa for e-Medical,
                  non-convertible and a non-extendable. It is valid for a period of 60 consecutive days, from the date of
                  arrival.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThirthteen">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseThirthteen" aria-expanded="false" aria-controls="collapseThirthteen">
      13. What if I made a mistake on my e-Visa India (eTV) application?
        </a>
              </h4>
            </div>
            <div id="collapseThirthteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirthteen">
              <div class="panel-body">
                <p>In case the information provided during the e-Visa India application process is incorrect, applicants will
                  be required to submit a correct information via email or reapply your visa . The old e-Visa India (eTV)
                  application will be cancelled automatically.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFouthteen">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseFouthteen" aria-expanded="false" aria-controls="collapseFouthteen">
     14. I have complete my application online form and payment what do I do next?
        </a>
              </h4>
            </div>
            <div id="collapseFouthteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFouthteen">
              <div class="panel-body">
                <p>Please check your email to track your visa status. We may require for some docs to process your visa. The
                  requirement is depend on your application information</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFifthteen">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseFifthteen" aria-expanded="false" aria-controls="collapseFifthteen">
     15. I have received my e-Visa India (eTV). What do I do next?
        </a>
              </h4>
            </div>
            <div id="collapseFifthteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifthteen">
              <div class="panel-body">
                <p>Applicants will receive their approved e-Visa India via email. This is the official confirmation of the approved
                  e-Visa India.</p>
                <p>Applicants are required to print at least one copy of their e-Visa India and carry it with them at all times
                  during their entire stay in India.</p>
                <p>Upon arrival at one of the 27 authorised ports of entry, applicants will be required to show their e-Visa
                  India (eTV).Once an immigration officer has verified all of the documents, applicants will have their fingerprints
                  and photo (also known as biometric information) taken, and an immigration officer will place a sticker
                  in the passport. </p>

              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSixthteen">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseSixthteen" aria-expanded="false" aria-controls="collapseSixthteen">
     16. Are there any restrictions when entering India with an e-Visa India?
        </a>
              </h4>
            </div>
            <div id="collapseSixthteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixthteen">
              <div class="panel-body">
                <p>Yes. All those holding an approved e-Visa India may only ENTER India through any of the following 24 authorised
                  Airports and 3 authorised seaports in India:</p>
                <h4>Airports</h4>
                <div class="clear"></div>
                <div class="col-sm-6">
                  <div class="col-sm-6">
                    <ul>
                      <li> Ahmedabad </li>
                      <li> Amritsar </li>
                      <li> Bagdogra </li>
                      <li> Bengaluru </li>
                      <li> Calicut </li>
                      <li> Mangalore </li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                      <li> Chennai </li>
                      <li> Chandigarh </li>
                      <li> Cochin </li>
                      <li> Coimbatore </li>
                      <li> Delhi </li>
                      <li> Gaya </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-6">
                    <ul>

                      <li> Goa </li>
                      <li> Guwahati </li>
                      <li> Hyderabad </li>
                      <li> Jaipur </li>
                      <li> Kolkata </li>
                      <li> Lucknow </li>

                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>

                      <li> Mumbai </li>
                      <li> Nagpur </li>
                      <li> Pune </li>
                      <li> Tiruchirapalli </li>
                      <li> Trivandrum </li>
                      <li> Varanasi </li>
                    </ul>
                  </div>
                </div>








                </ul>
                <h4>Or these designated seaports:</h4>
                <ul>
                  <li>Cochin</li>
                  <li>Goa</li>
                  <li>Mangalore</li>
                </ul>
                <p>All those entering India with an e-Visa India are required to arrive at one of the ports mentioned above.
                  Applicants attempting to enter India with an e-Visa India through any other port of entry will be denied
                  entry into the country.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeventhTeen">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseSeventhTeen" aria-expanded="false" aria-controls="collapseSeventhTeen">
     17. Are there any restrictions when leaving India with an e-Visa India?
        </a>
              </h4>
            </div>
            <div id="collapseSeventhTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventhTeen">
              <div class="panel-body">
                <p>No. There are no restrictions, when exiting India. E-Visa India holders may exit India through any Immigration
                  Post.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEigthTeen">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseEigthTeen" aria-expanded="false" aria-controls="collapseEigthTeen">
     18. What are the advantages of applying online for an e-Visa India (eTV)?
        </a>
              </h4>
            </div>
            <div id="collapseEigthTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEigthTeen">
              <div class="panel-body">
                <p>Applying for an online e-Visa (e-Tourist, e-Business or e-Medical) for India has many advantages. Applicants
                  may complete their application from the comfort of their own home, without having to go to the Indian Embassy
                  and having to wait in line. Applicants can have their approved online visa for India in hand within 24
                  hours of making their application.
                </p>
                <p><a href="/apply-visa/step/1">Submit your e-Visa India anytime, from anywhere.</a></p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNinethTeen">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseNinethTeen" aria-expanded="false" aria-controls="collapseNinethTeen">
     19. What is the difference between an e-Visa India and a traditional Indian Visa?
        </a>
              </h4>
            </div>
            <div id="collapseNinethTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNinethTeen">
              <div class="panel-body">
                <p>The application and consequently the process of obtaining an e-Visa India (eTV) is both faster and simpler
                  than a traditional Indian Visa. When applying for a traditional Indian Visa, applicants are required to
                  submit their original passport along with their visa application, financial and residence statements, for
                  the visa to be approved. The standard visa application process is much harder and much more complicated,
                  and also has a higher rate of visa denials. The e-Visa India is issued electronically and applicants are
                  only required to have a valid passport, email, and credit card.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwenty">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
     20. Is the e-Visa India valid for cruise ship entries in the country?
        </a>
              </h4>
            </div>
            <div id="collapseTwenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
              <div class="panel-body">
                <p>Yes, from April 2017 the e-Tourist visa (eTV) for India is valid for cruise ships docking at the following
                  designated seaports: Cochin, Goa and Mangalore.</p>
                <p>If you are taking a cruise which docks in another seaport, you must have a traditional visa stamped inside
                  the passport.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentyOne">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
     21. Do I need a vaccine to travel to India?
        </a>
              </h4>
            </div>
            <div id="collapseTwentyOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyOne">
              <div class="panel-body">
                <p>While visitors are not explicitly required to get vaccinated before traveling to India, it is highly recommended
                  that they do.</p>
                <p>Following are the most common and widely spread diseases for which it is recommended to get vaccinated:</p>
                <p>· Hepatitis A</p>
                <p>· Hepatitis B</p>
                <p>· Typhoid fever</p>
                <p>· Encephalitis</p>
                <p>· Yellow fever</p>
                <p>For more information on vaccination when traveling to India and health regulations, visit the Center for
                  Disease Control and Prevention website. <a href="https://wwwnc.cdc.gov/travel/destinations/traveler/none/india">https://wwwnc.cdc.gov/travel/destinations/traveler/none/india</a></p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentyTwo">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
     22. Am I required to have a Yellow Fever Vaccination Card when entering India?
        </a>
              </h4>
            </div>
            <div id="collapseTwentyTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyTwo">
              <div class="panel-body">
                <p>Only citizens from the following Yellow Fever affected countries listed below are required to carry a Yellow
                  Fever Vaccination Card on them when entering India:</p>
                <div class="clear"></div>
                <div class="col-sm-6">
                  <div class="col-sm-6">
                    <p>· Ahmedabad</p>
                    <p>· Amritsar</p>
                    <p>· Bengaluru</p>
                    <p>· Chennai</p>
                  </div>
                  <div class="col-sm-6">
                    <p>· Cochin</p>
                    <p>· Delhi</p>
                    <p>· Gaya</p>
                    <p>· Goa</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-sm-6">
                    <p>· Hyderabad</p>
                    <p>· Jaipur</p>
                    <p>· Kolkata</p>
                    <p>· Lucknow</p>
                  </div>
                  <div class="col-sm-6">
                    <p>· Mumbai</p>
                    <p>· Tiruchirappalli</p>
                    <p>· Trivandrum</p>
                    <p>· Varanasi</p>
                  </div>
                </div>
                <div class="clear"></div>
                <p>Note: Citizens of the countries mentioned above will be required to present a Yellow Fever Vaccination Card
                  upon arrival. Those who fail to do so, will be quarantined for 6 days, after arrival.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentyThree">
              <h4 class="panel-title">
                <a style="color: #607487; padding-left: 5px;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                  href="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
     23. How the E visa look like?
        </a>
              </h4>
            </div>
            <div id="collapseTwentyThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyThree">
              <div class="panel-body">
                <p>This is the e-Visa </p>
                <img src="/assets/images/indiaevisasample.png" width="70%" title="evisa sample" />

              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>