<h2>India Embassy in Fiji</h2>
<div class="content_format">
    <p>India Embassy in Fiji is an office of communication between India Government and Fiji. It operates as the official representative of the India in Fiji. The following is major information about India Embassy for Fiji and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Fiji</strong></p>
    <ul>
        <li>Add: Level 7, LICI Bldg, Butt Str, PO Box 471 Suva, Suva, Fiji</li>
        <li>Tel : + +679-330-1125</li>
        <li>Fax: +679-330-1032</li>
        <li>Email admn.suva@mea.gov.in</li>
        <li>Website: http www.indianhighcommission.org.fj</li>
    </ul>
    <p><strong>India Embassy - Fiji</strong></p>
    <p>Citizens or residents in Fiji can just only directly contact and apply your India Visa at the India Embassy in Fiji by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>