<h2>India Embassy in Finland</h2>
<div class="content_format">
    <p>India Embassy in Finland is an office of communication between India Government and Finland. It operates as the official representative of the India in Finland. The following is major information about India Embassy for Finland and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Finland</strong></p>
    <ul>
        <li>Add Kulosaarentie 32, 00570, Helsinki, Finland</li>
        <li>Tel : +358-9-228-9910</li>
        <li>Fax: +358-9-622-1208</li>
        <li>Email indianembassy@indianembassy.fi</li>
        <li>Website: http www.indianembassy.fi</li>
    </ul>
    <p><strong>India Embassy - Finland</strong></p>
    <p>Citizens or residents in Finland can just only directly contact and apply your India Visa at the India Embassy in Finland by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>