<h2>India Embassy in France</h2>
<div class="content_format">
    <p>India Embassy in France is an office of communication between India Government and France. It operates as the official representative of the India in France. The following is major information about India Embassy for France and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- France</strong></p>
    <ul>
        <li>Add 15, Rue Alfred Dehodencq, 75016, Paris, France</li>
        <li>Tel : +33-1-4050-7070</li>
        <li>Fax: +33-1-4050-0996</li>
        <li>Email hoc.paris@mea.gov.in</li>
        <li>Website: http www.amb-inde.fr</li>
    </ul>
    <p><strong>India Embassy - France</strong></p>
    <p>Citizens or residents in France can just only directly contact and apply your India Visa at the India Embassy in France by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>