<h2>India Embassy in Germany</h2>
<div class="content_format">
    <p>India Embassy in Germany is an office of communication between India Government and Germany . It operates as the official representative of the India in Germany . The following is major information about India Embassy for Germany and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Germany</strong></p>
    <ul>
        <li>Add: Tiergartenstrasse 17, 10785, Berlin, Germany</li>
        <li>Tel : +49-30-257950 / +49-30-25795101/ +49-30-25795103</li>
        <li>Fax: +49-30-25795102</li>
        <li>Email: ambassador@indianembassy.de / consular@indianembassy.de</li>
        <li>Website: www.indianembassy.de/</li>
    </ul>
    <p><strong>India Consulate - Germany</strong></p>
    <ul>
        <li>Add: Widenmayerstrasse 15, D-80538, Munich, Germany</li>
        <li>Tel: +49-89-21023920</li>
        <li>Fax: +49-89-21023970 / +49-89-21023980</li>
        <li>Email: consul@cgimun.com / viceconsul@cgimun.com</li>
        <li>Website: www.cgimunich.de</li>
    </ul>
    <p><strong>India Consulate - Germany</strong></p>
    <ul>
        <li>Add: Friedrich-Ebert-Anlage 26, 60325, Frankfurt, Germany</li>
        <li>Tel: +49-69-153-0050</li>
        <li>Fax: +49-69-554-125</li>
        <li>Email: hoc@cgifrankfurt.de / admn@cgifrankfurt.de / visa@cgifrankfurt.de</li>
        <li>Website: www.cgifrankfurt.de</li>
    </ul>
    <p><strong>India Consulate - Germany</strong></p>
    <ul>
        <li>Add: Graumannsweg 5722087, Hamburg, Germany</li>
        <li>Tel: +49-40-338036</li>
        <li>Fax: +49-40-323757</li>
        <li>Email: cgihh@aol.com</li>
        <li>Website: www.cgihamburg.de</li>
    </ul>
    <p>Citizens or residents in Germany can just only directly contact and apply your India Visa at the India Embassy in Germany by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>