<h2>India Embassy in Ghana</h2>
<div class="content_format">
    <p><strong>India High Comission Ghana</strong></p>
    <ul>
        <li>Add:No.9, Ridge Rd, Roman Ridge, Cantonments, PO Box CT-5708, Accra, Ghana</li>
        <li>Phone +233-30-7020903 / +233-30-7020904 / +233-30-7020905</li>
        <li>Fax +233-30-2772176</li>
        <li>Email hc.accra@mea.gov.in/ hoc.accra@mea.gov.in</li>
        <li>Website URL www.indiahc-ghana.com/</li>
    </ul>
    <p>Citizens or residents in Germany can just only directly contact and apply your India Visa at the India Embassy in Germany by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>