<h2>India Embassy in Greece</h2>
<div class="content_format">
    <p>India Embassy in Greece is an office of communication between India Government and Greece . It operates as the official representative of the India in Greece . The following is major information about India Embassy for Greece and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Greece</strong></p>
    <ul>
        <li>Add:3 Kleanthous Str, 10674, Athens, Greece</li>
        <li>Phone +30-1-721-6227/ +30-1-721-6481</li>
        <li>Fax +30-1-721-1252</li>
        <li>Email ambassador@indianembassy.gr / hoc@indianembassy.gr / consular@indianembassy.gr / visa@indianembassy.gr / administration@indianembassy.gr / embassy@indianembassy.gr / commerce@indianembassy.gr</li>
        <li>Website URL www.indianembassy.gr</li>
    </ul>
    <p>Citizens or residents in Greece can just only directly contact and apply your India Visa at the India Embassy in Greece by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>