<h2>India Embassy in Guam</h2>
<div class="content_format">
    <p>Embassy of India has not established in Guam yet. Therefore, citizens or residents in Guam can only apply at India Embassy Oversea for having an India visa:</p>
    <p>Kindly contact and apply your&nbsp;India Visa&nbsp;at the nearest India embassies or consulates in your neighboring countries or in any country in person or by email before arriving in India.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!&nbsp;</p>
</div>