<h2>India Embassy in Guyana</h2>
<div class="content_format">
    <p>India Embassy in Guyana is an office of communication between India Government and Guyana . It operates as the official representative of the India in Guyana . The following is major information about India Embassy for Guyana and the way which you can apply you visa to India through:</p>
    <p><strong>India High Comission Guyana</strong></p>
    <ul>
        <li>Add: 307, Church Street, Queenstown, Georgetown, Guyana</li>
        <li>Phone: +592-226-3996 / +592-226-8965 / +592-226-3240</li>
        <li>Fax: +592-225-4442</li>
        <li>Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30, Afternoon: 14:00 &ndash; 16:30</li>
    </ul>
    <p>Citizens or residents in Guyana can just only apply for a visa to India:</p>
    <ul>
        <li><strong>Directly contact and apply your India Visa at the India Embassy in Guyana by yourself as above address.</strong></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>