<h2>India Embassy in Hungary</h2>
<div class="content_format">
    <p>India Embassy in Hungary is an office of communication between India Government and Hungary. It operates as the official representative of the India in Hungary. The following is major information about India Embassy for Hungary and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Hungary</strong></p>
    <ul>
        <li>Add: Buzavirag utca 14, 1025, Budapest, Hungary</li>
        <li>Tel : +36-1-3257742/ +36-1-3257743</li>
        <li>Fax: +36-1-3257745</li>
        <li>Email: chancery@indianembassy.hu</li>
        <li>Website: www.indianembassy.hu/</li>
    </ul>
    <p><strong>India Embassy - Hungary</strong></p>
    <p>Citizens or residents in Hungary can just only directly contact and apply your India Visa at the India Embassy in Hungary by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>