<h2>India Embassy in Iceland</h2>
<div class="content_format">
    <p>India Embassy in Iceland is an office of communication between India Government and Iceland. It operates as the official representative of the India in Iceland. The following is major information about India Embassy for Iceland and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Iceland</strong></p>
    <ul>
        <li>Add: 17, Skulagata, 101, Reykjavik, Iceland</li>
        <li>Tel : +354-534-9955</li>
        <li>Fax: +354-534-9959</li>
        <li>Email: Gen@indianembassy.is</li>
    </ul>
    <p><strong>India Embassy - Iceland</strong></p>
    <p>Citizens or residents in Iceland can just only directly contact and apply your India Visa at the India Embassy in Iceland by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>