<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">India Tourist Visa</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        To get E-tourist visa to india within 2months you need to hold a valid passport <a href="/article/faqs#11"> check here</a> and have a clear Itinerary and purpose for your trip. Within the processing time You may be asked for required docs.<br/>
        <p>ETOURIST VISA purpose</p>
        <p>RECREATION/SIGHT-SEEING</p>
         <p>MEETING FRIENDS/RELATIVES</p>
        <p>SHORT TERM YOGA PROGRAMME</p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>