<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">India eVisa Information</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
<h3>e-Visa Facility is available for nationals of following countries/territories </h3>
<p>Albania, Andorra, Angola, Anguilla, Antigua & Barbuda, Argentina, Armenia, Aruba, Australia, Austria, Azerbaijan, Bahamas, Barbados, Belgium, Belize, Bolivia, Bosnia & Herzegovina, Botswana, Brazil, Brunei, Bulgaria, Burundi, Cambodia, Cameron Union Republic, Canada, Cape Verde, Cayman Island, Chile, China, China- SAR Hongkong, China- SAR Macau, Colombia, Comoros, Cook Islands, Costa Rica, Cote d'lvoire, Croatia, Cuba, Cyprus, Czech Republic, Denmark, Djibouti, Dominica, Dominican Republic, East Timor, Ecuador, El Salvador, Eritrea, Estonia, Fiji, Finland, France, Gabon, Gambia, Georgia, Germany, Ghana, Greece, Grenada, Guatemala, Guinea, Guyana, Haiti, Honduras, Hungary, Iceland, Indonesia, Ireland, Israel, Italy, Jamaica, Japan, Jordan, Kenya, Kiribati, Laos, Latvia, Lesotho, Liberia, Liechtenstein, Lithuania, Luxembourg, Madagascar, Malawi, Malaysia, Mali, Malta, Marshall Islands, Mauritius, Mexico, Micronesia, Moldova, Monaco, Mongolia, Montenegro, Montserrat, Mozambique, Myanmar, Namibia, Nauru, Netherlands, New Zealand, Nicaragua, Niger Republic, Niue Island, Norway, Oman, Palau, Palestine, Panama, Papua New Guinea, Paraguay, Peru, Philippines, Poland, Portugal , Republic of Korea, Republic of Macedonia, Romania, Russia, Rwanda, Saint Christopher and Nevis, Saint Lucia, Saint Vincent & the Grenadines, Samoa, San Marino, Senegal, Serbia, Seychelles, Sierra Leone, Singapore, Slovakia, Slovenia, Solomon Islands, South Africa, Spain, Sri Lanka, Suriname, Swaziland, Sweden, Switzerland, Taiwan, Tajikistan, Tanzania, Thailand, Tonga, Trinidad & Tobago, Turks & Caicos Island, Tuvalu, UAE, Ukraine, United Kingdom, Uruguay, USA, Uzbekistan, Vanuatu, Vatican City-Holy See, Venezuela, Vietnam, Zambia and Zimbabwe 
</p>
<h3>Eligibility</h3>

<p>	1.  International Travellers whose sole objective of visiting India is recreation , sight seeing , casual visit to meet friends or relatives, short duration medical treatment or casual business visit.	</p>
<p>	2.  Passport should have at least six months validity from the date of arrival in India. The passport should have at least two blank pages for stamping by the Immigration Officer.	</p>
<p>	3.  International Travellers should have return ticket or onward journey ticket,with sufficient money to spend during his/her stay in India.	</p>
<p>	4.  International Travellers having Pakistani Passport or Pakistani origin may please apply for regular Visa at Indian Mission.	</p>
<p>	5.  Not available to Diplomatic/Official Passport Holders or Laissez-passer travel document holders.	</p>
<p>	6.  Not available to individuals endorsed on Parent's/Spouse's Passport i.e. each individual should have a separate passport.	</p>
<p>	7.  Not available to International Travel Document Holders.	</p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>