<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">India journalist Visa</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        OVERVIEW<br/>
        Who can Apply?<br/>
        Journalist visas are issued to professional journalists and photographers for a period of up to 3 months (single or double entry).  providing details on a separate sheet, of places to be visited and the persons to be interviewed will be require. Please allow and note one month's time for processing documentary proposals.<br/>
        Please contact with Embassy office and make appointment for your visa<br/>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>