<h2>India Embassy in Indonesia</h2>
<div class="content_format">
    <p>India Embassy in Indonesia is an office of communication between India Government and Indonesia. It operates as the official representative of the India in Indonesia. The following is major information about India Embassy for Indonesia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Indonesia</strong></p>
    <ul>
        <li>Add: Jl. H.R. Rasuna Said Kav. S-1, Kuningan, Jakarta Selatan, 12950, Jakarta, Indonesia</li>
        <li>Tel : +62-215-204150/ +62-215-204152/ +62-215-204157</li>
        <li>Fax: +62-215-204160</li>
        <li>Email: amb.jakarta@mea.gov.in/ ambasador@net-zap.com</li>
        <li>Website: www.indianembassyjakarta.com</li>
    </ul>
    <p><strong>India Consulate- Indonesia</strong></p>
    <ul>
        <li>Add: Jl. Uskup Agung A. Sugipranoto No. 19, 20152, Medan, Sumatera Utara, Indonesia</li>
        <li>Tel : +62-614-556452/ +62-614-531308</li>
        <li>Fax: +62-614-531319</li>
        <li>Email: cgimedan@idola.net.id</li>
        <li>Website: cgimedan@idola.net.id</li>
    </ul>
    <p><strong>India Consulate- Indonesia</strong></p>
    <ul>
        <li>Add: JI.Raya Puputan, No 163,Renon, Denpasar, 80235, Bali, Indonesia</li>
        <li>Tel : ++62-361-259502/ +62-361-259503</li>
        <li>Fax: +62-361-222253/ +62-361-259505</li>
        <li>Email: cg.bali@mea.gov.in/ hoc.bali@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Indonesia</strong></p>
    <p>Citizens or residents in Indonesia can just only directly contact and apply your India Visa at the India Embassy in Indonesia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>