<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">Instructions for eVisa</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
<h2>Instructions for e-Visa </h2>
<p>	1.  e-Visa has 3 sub-categories i.e., e-Tourist visa, e-Business Visa and e-Medical visa. A foreigner will be permitted to obtain these categories.	</p>
<p>	2.  Applicants of the eligible countries/territories may apply online minimum 4 days in advance of the date of arrival with a window of 120 days. Example: If you are applying on 1st Sept then applicant can select arrival date from 5th Sept to 2nd Jan	</p>
<p>	3.  Recent front facing photograph with white background and photo page of Passport containing personal details like name, date of birth, nationality, expiry date etc are to be uploaded mandatorily by the applicant. Additionally one more document depending upon the e-Visa type would also be required to be uploaded. The application is liable to be rejected if the uploaded documents and photograph are not clear / as per specification.	</p>

<p>	4.  E-Visa Government fee once submitted is non-refundable as the fee is for processing of the application and is not dependent on either Grant or Rejection of Electronic Travel Authorization (ETA).	</p>
<p>	5.  Applicant should carry a copy of Electronic Travel Authorization (ETA) along with him/her at the time of travel. Please confirm that your ETA status is shown as 'GRANTED' on this website prior to commencement of your journey. Applicants can track the status of their application online by clicking VisaStatus	</p>
<p>	6.  Biometric details of the applicant will be mandatorily captured at Immigration on arrival in India.	</p>
<p>	7.  The validity of e-Visa will be 60 days from the date of arrival in India.Double entry is permitted on e-Tourist Visa and e-Business Visa. Triple entry will be permitted on e-Medical Visa.	</p>
<p>	8.  e-Visa is valid for entry through 24 designated Airports (i.e. Ahmedabad, Amritsar, Bagdogra, Bengaluru, Calicut, Chennai, Chandigarh,Cochin, Coimbatore, Delhi, Gaya, Goa, Guwahati, Hyderabad, Jaipur, Kolkata, Lucknow, Mangalore, Mumbai, Nagpur, Pune, Tiruchirapalli, Trivandrum & Varanasi) and 3 designated seaports (i.e. Cochin, Goa, Mangalore). However, the foreigner can take exit from any of the authorized Immigration Check Posts (ICPs) in India.	</p>
<p>	9. This facility is in addition to the existing Visa services.	</p>
<p>	10. e-Visa can be availed for maximum of two times in a calendar year i.e. between January to December.	</p>
<p>	11. e-Visa is non-extendable, non-convertible & not valid for visiting Protected/Restricted and Cantonment Areas. If you intend to visit Protected/Restricted/Cantonment areas, you would require prior permission from the Civil Authority please visit here.	</p>
<p>	12. Please be careful while making payment of the e-Visa fee. If the number of unsuccessful attempts is more than three (03), then the application id would be blocked and the applicant would be required to apply afresh by filling the application form again and regenerating a new application id.	</p>
<p>	13. The e-Visa fee payment status updation may take up to 4 hours due to technical reasons/network delays. Before re-applying, the applicants are requested to wait for 4 hours for payment status updating, after final submission of the application form and payment of the fee. In cases, where e-Visa fee has been deducted but status is not updated, the applicants are advised to verify their payment status by clicking on 'Verify Payment/Pay Visa Fee' tab or by clicking on the link Verify Payment.	</p>
<p>	14. Nationals of Yellow Fever affected countries or travellers arriving from these countries must carry YELLOW FEVER VACCINATION CARD at the time of arrival in India, otherwise they may be quarantined for 6 days upon arrival in India. Please visit our Ministry Of Health & Family Welfare latest guidelines regarding yellow fever countries here.	</p>
     </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
