<h2>India Embassy in Iran</h2>
<div class="content_format">
    <p>India Embassy in Iran is an office of communication between India Government and Iran. It operates as the official representative of the India in Iran. The following is major information about India Embassy for Iran and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Iran</strong></p>
    <ul>
        <li>Add: No. 22, Mir Emad Street, Dr. Beheshti Avenue, P.O. Box No.15875-4118, Tehran, Iran</li>
        <li>Tel : +98-21-8755102/ +98-21-8755103/ +98-21-8755105</li>
        <li>Fax: +98-21-8755973</li>
        <li>Email: amb.tehran@mea.gov.in/ hoc.tehran@mea.gov.in</li>
        <li>Website: www.indianembassy-tehran.com</li>
    </ul>
    <p><strong>India Consulate- Iran</strong></p>
    <ul>
        <li>Add: Ayatollah Kafemi Avenue, Street No.08, Behind Gurudwara, P.O. Box No. 313, Zahedan, Iran</li>
        <li>Tel : +98-54-13221727</li>
        <li>Fax: +98-54-13221740</li>
        <li>Email: consindia_zahidan@yahoo.com</li>
        <li>Website: cgimedan@idola.net.id</li>
    </ul>
    <p><strong>India Consulate- Iran</strong></p>
    <ul>
        <li>Add: JI43, Khiyaban-e-Hikmat, Gulshehr (South), PO Box No. 79145-1866, Bandar Abbas, Iran</li>
        <li>Tel : +98-76-16661745/ +98-76-16681800</li>
        <li>Fax: +98-76-16661745/ +98-76-16681800</li>
        <li>Email: hoc.babbas@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Iran</strong></p>
    <p>Citizens or residents in Iran can just only directly contact and apply your India Visa at the India Embassy in Iran by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>