<h2>India Embassy in Ireland</h2>
<div class="content_format">
    <p>India Embassy in Ireland is an office of communication between India Government and Ireland. It operates as the official representative of the India in Ireland. The following is major information about India Embassy for Ireland and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Ireland</strong></p>
    <ul>
        <li>Add: 6, Leeson park, Dublin, Ireland</li>
        <li>Tel : +353-1-4970843/ +353-1-4966792/ +353-1-4966787/ +353-1-4970984</li>
        <li>Fax: +353-1-4978074/ +353-1-4966770</li>
        <li>Email: indembassy@eircom.net</li>
        <li>Website: www.indianembassy.ie/</li>
    </ul>
    <p><strong>India Embassy - Ireland</strong></p>
    <p>Citizens or residents in Ireland can just only directly contact and apply your India Visa at the India Embassy in Ireland by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>