<h2>India Embassy in Israel</h2>
<div class="content_format">
    <p>India Embassy in Israel is an office of communication between India Government and Israel. It operates as the official representative of the India in Israel. The following is major information about India Embassy for Israel and the way which you can apply you visa to India through:</p>
    <h2>Embassy of India in Israel</h2>
    <ul>
        <li><strong>Add</strong>: 140 Hayarkon Str, PO Box 3368 Tel Aviv, 61033, Tel Aviv, Israel</li>
        <li><strong>Phone</strong>: +972-3-5291999 / +972-3-5291639 / +972-3-5291663 / +972-3-5291556</li>
        <li><strong>Fax</strong>: +972-3-5291953</li>
        <li><strong>Office Hours</strong>: From Monday to Friday; Morning: 09.00 - 12.30, Afternoon: 13:30 - 16:00</li>
    </ul>
    <p>Citizens or residents in Israel can choose one of three options below to apply for a visa to India:</p>
    <p>One, directly contact and apply your India Visa at the India Embassy in Israel by yourself as above address.</p>
    <p>Two,&nbsp;<a href="http://www.onlineindiaevisa.com/apply-visa">apply for India visa on arrival&nbsp;</a>for time-saving. By that way, you will get the India visa approval letter before leaving Israel for India, so that you can pick up India visa at arriving airport. Please visit our&nbsp;<a href="http://www.onlineindiaevisa.com/processing">Visa Processing</a>&nbsp;to better understand how India visa on arrival works and how to apply for a visa upon arrival safer and faster.</p>
    <h2>Useful information:</h2>
    <ul>
        <li><a href="http://www.onlineindiaevisa.com/tips/israel">How to get India visa from Israel</a></li>
        <li><a href="http://www.onlineindiaevisa.com/check-requirements/israel">Check India visa requirement for Israel</a></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>