<h2>India Embassy in Italy</h2>
<div class="content_format">
    <p>India Embassy in Italy is an office of communication between India Government and Italy. It operates as the official representative of the India in Italy. The following is major information about India Embassy for Italy and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Italy</strong></p>
    <ul>
        <li>Add: Via XX Settembre, 5, 00187, Rome, Italy</li>
        <li>Tel : +39-06-488-4642/ +39-06-488-4643/ +39-06-488-4644/ +39-06-488-4645</li>
        <li>Fax: +39-06-481-9539</li>
        <li>Email: amb.rome@mea.gov.in/ cons.wing@indianembassy.it</li>
        <li>Website: www.indianembassy.it</li>
    </ul>
    <p><strong>India Consulate- Italy</strong></p>
    <ul>
        <li>Add: Via Larga 16, 20122, Milan, Italy</li>
        <li>Tel : +39-02-805-7691/ +39-02-865-337</li>
        <li>Fax: +39-02-7200-2226</li>
        <li>Email: cgi.milan@consolatoindia.com</li>
        <li>Website: www.cgimilan.in</li>
    </ul>
    <p><strong>India Embassy - Italy</strong></p>
    <p>Citizens or residents in Italy can just only directly contact and apply your India Visa at the India Embassy in Italy by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>