<h2>India Embassy in Jamaica</h2>
<div class="content_format">
    <p>India Embassy in Jamaica is an office of communication between India Government and Jamaica. It operates as the official representative of the India in Jamaica. The following is major information about India Embassy for Jamaica and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Jamaica</strong></p>
    <ul>
        <li>Add27 Seymour Avenue, Kingston-6, Jamaica</li>
        <li>Tel : +1-876-927-3114/ +1-876-927-4270</li>
        <li>Fax: +1-876-978-0359/ +1-876-978-2801</li>
        <li>Email: hicomindkin@cwjamaica.com/ hc.kingston@mea.gov.in/ hoc.kingston@mea.gov.in/ itm.kingston@mea.gov.in</li>
        <li>Website: www.hcikingston.com/</li>
    </ul>
    <p><strong>India Embassy - Jamaica</strong></p>
    <p>Citizens or residents in Jamaica can just only directly contact and apply your India Visa at the India Embassy in Jamaica by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>