<h2>India Embassy in Japan</h2>
<div class="content_format">
    <p>India Embassy in Japan is an office of communication between India Government and Japan. It operates as the official representative of the India in Japan. The following is major information about India Embassy for Japan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Japan</strong></p>
    <ul>
        <li>Add: 2-2-11 Kudan-Minami, Chiyoda-ku, 102-0074, Tokyo, Japan</li>
        <li>Tel : +81-3-32622391/ +81-3-32622392/ +81-3-32622393/ +81-3-32622394/ +81-3-32622395/ +81-3-32622396/ +81-3-32622397</li>
        <li>Fax: +81-3-32344866</li>
        <li>Email: embassy@indembassy-tokyo.gov.in</li>
        <li>Website: www.embassyofindiajapan.org</li>
    </ul>
    <p><strong>India Consulate- Japan</strong></p>
    <ul>
        <li>Add: 10th Floor, Semba I S Bldg, 9-26, Kyutaromachi, 1-Chome, Chuo-ku, 541-0056, Osaka, Japan</li>
        <li>Tel : +81-6-62617299/ +81-6-62619299</li>
        <li>Fax: +81-6-62617201/ +81-6-62617799</li>
        <li>Email: cgindia@gol.com/ cons.osakakobe@mea.gov.in/ hoc.osakakobe@mea.gov.in/ cg.osakakobe@mea.gov.in</li>
        <li>Website: www.indconosaka.org</li>
    </ul>
    <p><strong>India Embassy - Japan</strong></p>
    <p>Citizens or residents in Japan can just only directly contact and apply your India Visa at the India Embassy in Japan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>