<h2>India Embassy in Jordan</h2>
<div class="content_format">
    <p>India Embassy in Jordan is an office of communication between India Government and Jordan. It operates as the official representative of the India in Jordan. The following is major information about India Embassy for Jordan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Jordan</strong></p>
    <ul>
        <li>Add: No.13, Amr Bin Masadah Street, Jabal Amman, 1st Circle, P.O. Box 2168, 11181, Amman, Jordan</li>
        <li>Tel : +962-6-4622098/ +962-6-4637262</li>
        <li>Fax: +962-6-4659540/ +962-6-4611916</li>
        <li>Email: amb.amman@mea.gov.in</li>
        <li>Website: www.indembassy.org.jo</li>
    </ul>
    <p><strong>India Embassy - Jordan</strong></p>
    <p>Citizens or residents in Jordan can just only directly contact and apply your India Visa at the India Embassy in Jordan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>