<h2>India Embassy in Kazakhstan</h2>
<div class="content_format">
    <p>India Embassy in Kazakhstan is an office of communication between India Government and Kazakhstan. It operates as the official representative of the India in Kazakhstan. The following is major information about India Embassy for Kazakhstan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Kazakhstan</strong></p>
    <ul>
        <li>Add: Kaskad Business Centre, 5th Floor, 6/1, Kabanbai Batyr Avenue, Astana, Kazakhstan</li>
        <li>Tel : +7-7172-925700/ +7-7172-925701</li>
        <li>Fax: +7-7172-925716/ +7-7172-925717</li>
        <li>Email: admn.astana@mea.gov.in/ hoc.astana@mea.gov.in</li>
        <li>Website: www.indembastana.in</li>
    </ul>
    <p><strong>India Consulate- Kazakhstan</strong></p>
    <ul>
        <li>Add: 71, Maulenova Street (Crossing of Kazybek Bi Street)3rd Floor, Almaty, Kazakhstan</li>
        <li>Tel : +7-7272-784455/ +7-7272-784465</li>
        <li>Fax: +7-7272-784685</li>
        <li>Email: admn2.almaty@mea.gov.in/ cons.almaty@mea.gov.in</li>
        <li>Website: www.indembastana.in</li>
    </ul>
    <p><strong>India Embassy - Kazakhstan</strong></p>
    <p>Citizens or residents in Kazakhstan can just only directly contact and apply your India Visa at the India Embassy in Kazakhstan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>