<h2>India Embassy in Kenya</h2>
<div class="content_format">
    <p>India Embassy in Kenya is an office of communication between India Government and Kenya. It operates as the official representative of the India in Kenya. The following is major information about India Embassy for Kenya and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Kenya</strong></p>
    <ul>
        <li>Add: 3, Harambee Avenue, Jeevan Bharati Building, P.O. Box No.30074-00100, Nairobi, Kenya</li>
        <li>Tel : +254-20-222566/ +254-20-222567/ +254-20-224500/ +254-20-225104</li>
        <li>Fax: +254-20-316242</li>
        <li>Email: hcindia@kenyaweb.com/ hcinfo@connect.co.ke</li>
        <li>Website: www.hcinairobi.co.ke</li>
    </ul>
    <p><strong>India Consulate- Kenya</strong></p>
    <ul>
        <li>Add: Bank of India Bldg, 3rd Flr Nkrumah Rd, PO Box 90164,Mombasa, Mombasa, Kenya</li>
        <li>Tel : +254-11-224433</li>
        <li>Fax: +254-11-316740</li>
        <li>Email: hoc.mombasa@mea.gov.in/ cimsa@swiftmombasa.com/ ahc.mombasa@mea.gov.in</li>
        <li>Website: www.indembastana.in</li>
    </ul>
    <p><strong>India Embassy - Kenya</strong></p>
    <p>Citizens or residents in Kenya can just only directly contact and apply your India Visa at the India Embassy in Kenya by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>