<h2>India Embassy in Kuwait</h2>
<div class="content_format">
    <p>India Embassy in Kuwait is an office of communication between India Government and Kuwait. It operates as the official representative of the India in Kuwait. The following is major information about India Embassy for Kuwait and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Kuwait</strong></p>
    <ul>
        <li>Add: Arabian Gulf Street,P O Box No.1450,Safat 13015, Kuwait</li>
        <li>Tel : +965 22530612, Consular Emergency Assistance +965-22530600</li>
        <li>Fax: 00965 22546958</li>
        <li>Email: contact@indembkwt.org, psamb@indembkwt.org, ambss@indembkwt.org, labour@indembkwt.org, counsellor@indembkwt.org, sscons@indembkwt.org, hoc@indembkwt.org, ssinfo@indembkwt.org</li>
    </ul>
    <p><strong>India Embassy - Kuwait</strong></p>
    <p>Citizens or residents in Kuwait can just only directly contact and apply your India Visa at the India Embassy in Kuwait by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>