<h2>India Embassy in Kyrgyzstan</h2>
<div class="content_format">
    <p>India Embassy in Kyrgyzstan is an office of communication between India Government and Kyrgyzstan. It operates as the official representative of the India in Kyrgyzstan. The following is major information about India Embassy for Kyrgyzstan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Kyrgyzstan</strong></p>
    <ul>
        <li>Add: 15-A, Aeroportinskaya Street, Bishkek, 720044, Kyrgyzstan</li>
        <li>Tel : +996-312-549214/ +996-312-595756/ +996-312-541450</li>
        <li>Fax: 00-996-312-543245/ 00-996-312-595763</li>
        <li>Email: hocap@elcat.kg/ sscons@infotel.kg/ ambap@elcat.kg/ indembas@infotel.kg</li>
    </ul>
    <p><strong>India Embassy - Kyrgyzstan</strong></p>
    <p>Citizens or residents in Kyrgyzstan can just only directly contact and apply your India Visa at the India Embassy in Kyrgyzstan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>