<h2>India Embassy in Latvia</h2>
<div class="content_format">
    <p>India Embassy in Latvia is an office of communication between India Government and Latvia. It operates as the official representative of the India in Latvia. The following is major information about India Embassy for Latvia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Latvia</strong></p>
    <ul>
        <li>Add: Adolf Fredriks Kyrkogata 12, P.O. Box 1340, 111 83, Stockholm, Sweden</li>
        <li>Tel : +46-841-13237/ +46-810-7008/ +46-841-13213</li>
        <li>Fax: +46-824-8505/ +46-824-8524</li>
        <li>Email: information@indianembassy.se/ ambassador@indianembassy.se/ political@indianembassy.se/ administration@indianembassy.se/</li>
        Website: http://www.indianembassy.se</ul>
    <p><strong>India Embassy - Latvia</strong></p>
    <p>Citizens or residents in Latvia can just only directly contact and apply your India Visa at the India Embassy in Latvia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>