<h2>India Embassy in Lebanon</h2>
<div class="content_format">
    <p>India Embassy in Lebanon is an office of communication between India Government and Lebanon. It operates as the official representative of the India in Lebanon. The following is major information about India Embassy for Lebanon and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Lebanon</strong></p>
    <ul>
        <li>Add: 239, Ibrahim Abed El Aal Street, Ras Beirut, P.O. Box 113-5240, Beirut, Lebanon</li>
        <li>Tel : +961-1-741-270/ +961-1-735-922/ +961-1-735-856</li>
        <li>Fax: +961-1-741-283</li>
        <li>Email: amb.beirut@mea.gov.in/ cons.beirut@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Lebanon</strong></p>
    <p>Citizens or residents in Lebanon can just only directly contact and apply your India Visa at the India Embassy in Lebanon by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>