<div class="content-terms-universal">
<p>PLEASE READ THIS GENERAL TERMS OF SERVICE AGREEMENT CAREFULLY, AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES.</p>
<h2>1. OVERVIEW</h2>
<p>This Universal Terms of Service Agreement (this "Agreement") is entered into by and between&nbsp;India e-Visa Services Team&nbsp;(India e-Visa Services Team) and you, and is made effective as of the date of your use of this website ("Site") or the date of electronic acceptance.  This Agreement set forth the general terms and conditions of your use of the Site and the products and services purchased or accessed through this Site (individually and collectively, the "Services"), and is in addition to (not in lieu of) any specific terms and conditions that apply to the particular Services.</p>
<p>Whether you are simply browsing or using this Site or purchase Services, your use of this Site and your electronic acceptance of this Agreement signifies that you have read, understand, acknowledge and agree to be bound by this Agreement, along with the following policies and the applicable product agreements, which are incorporated herein by reference:</p>
<h2>AGREEMENTS</h2>
<ul>
    <li><a href="#" target="_self">Terms of Service Agreement for India Visa</a></li>
    <li><a href="#" target="_self">Terms of Service Agreement for India Car Pick-up Services</a></li>
</ul>
<h2>POLICIES</h2>
<ul>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Payment Guidelines</a></li>
    <li><a href="#">Refund Policy</a></li>
</ul>
<p>The terms "we", "us" or "our" shall refer to India e-Visa Services Team.  The terms "you", "your", "User" or "customer" shall refer to any individual or entity who accepts this Agreement, has access to your account or uses the Services.  Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.</p>
<p>India e-Visa Services Team may, in its sole and absolute discretion, change or modify this Agreement, and any policies or agreements which are incorporated herein, at any time, and such changes or modifications shall be effective immediately upon posting to this Site. Your use of this Site or the Services after such changes or modifications have been made shall constitute your acceptance of this Agreement as last revised.  If you do not agree to be bound by this Agreement as last revised, do not use (or continue to use) this Site or the Services.  In addition, India e-Visa Services Team may occasionally notify you of changes or modifications to this Agreement by email.  It is therefore very important that you keep your account ("Account") information current.  India e-Visa Services Team assumes no liability or responsibility for your failure to receive an email notification if such failure results from an inaccurate email address.</p>
<h2>2. ELIGIBILITY; AUTHORITY</h2>
<p>This Site and the Services are available only to Users who can form legally binding contracts under applicable law.  By using this Site or the Services, you represent and warrant that you are (i) at least eighteen (18) years of age, (ii) otherwise recognized as being able to form legally binding contracts under applicable law, and (iii) are not a person barred from purchasing or receiving the Services found under the laws of the United States or other applicable jurisdiction.</p>
<p>If you are entering into this Agreement on behalf of a corporate entity, you represent and warrant that you have the legal authority to bind such corporate entity to the terms and conditions contained in this Agreement, in which case the terms "you", "your", "User" or "customer" shall refer to such corporate entity.  If, after your electronic acceptance of this Agreement, India e-Visa Services Team finds that you do not have the legal authority to bind such corporate entity, you will be personally responsible for the obligations contained in this Agreement, including, but not limited to, the payment obligations. India e-Visa Services Team shall not be liable for any loss or damage resulting from India e-Visa Services Team's reliance on any instruction, notice, document or communication reasonably believed by India e-Visa Services Team to be genuine and originating from an authorized representative of your corporate entity. If there is reasonable doubt about the authenticity of any such instruction, notice, document or communication, India e-Visa Services Team reserves the right (but undertakes no duty) to require additional authentication from you. You further agree to be bound by the terms of this Agreement for transactions entered into by you, anyone acting as your agent and anyone who uses your account or the Services, whether or not authorized by you.</p>
<h2>3. ACCOUNTS; TRANSFER OF DATA ABROAD</h2>
<p>Accounts.  In order to access some of the features of this Site or use some of the Services, you will have to create an Account. You represent and warrant to India e-Visa Services Team that all information you submit when you create your Account is accurate, current and complete, and that you will keep your Account information accurate, current and complete. If India e-Visa Services Team has reason to believe that your Account information is untrue, inaccurate, out-of-date or incomplete, India e-Visa Services Team reserves the right, in its sole and absolute discretion, to suspend or terminate your Account.  You are solely responsible for the activity that occurs on your Account, whether authorized by you or not, and you must keep your Account information secure, including without limitation your customer number/login, password, Payment Method(s) (as defined below).  For security purposes, India e-Visa Services Team recommends that you change your password at least once every six (6) months for each Account.  You must notify India e-Visa Services Team immediately of any breach of security or unauthorized use of your Account. India e-Visa Services Team will not be liable for any loss you incur due to any unauthorized use of your Account. You, however, may be liable for any loss India e-Visa Services Team or others incur caused by your Account, whether caused by you, or by an authorized person, or by an unauthorized person.</p>
<p>Transfer of Data Abroad.  If you are visiting this Site from a country other than the country in which our servers are located, your communications with us may result in the transfer of information (including your Account information) across international boundaries.  By visiting this Site and communicating electronically with us, you consent to such transfers.</p>
<h2>4. AVAILABILITY OF WEBSITE/SERVICES</h2>
<p>Subject to the terms and conditions of this Agreement and our other policies and procedures, we shall use commercially reasonable efforts to attempt to provide this Site and the Services on a twenty-four (24) hours a day, seven (7) days a week basis. You acknowledge and agree that from time to time this Site may be inaccessible or inoperable for any reason including, but not limited to, equipment malfunctions; periodic maintenance, repairs or replacements that we undertake from time to time; or causes beyond our reasonable control or that are not reasonably foreseeable including, but not limited to, interruption or failure of telecommunication or digital transmission links, hostile network attacks, network congestion or other failures. You acknowledge and agree that we have no control over the availability of this Site or the Service on a continuous or uninterrupted basis, and that we assume no liability to you or any other party with regard thereto.</p>
<p>You acknowledge and agree that you have the necessary rights and permissions to share all information necessary to provide the Services with India e-Visa Services Team.  You acknowledge and agree that the Services may be provided by independent contractors or third party service providers.</p>
<h2>5. GENERAL RULES OF CONDUCT</h2>
<p>You acknowledge and agree that:</p>
<ol>
    <li>Your use of this Site and the Services , including any content you submit, will comply with this Agreement and all applicable local, state, national and international laws, rules and regulations.</li>
    <li>You will not collect or harvest (or permit anyone else to collect or harvest) any non-public or personally identifiable information about another User or any other person or entity without their express prior written consent.</li>
    <li>You will not use this Site or the Services in a manner (as determined by India e-Visa Services Team in its sole and absolute discretion) that:
    <ul>
        <li>Is illegal, or promotes or encourages illegal activity;</li>
        <li>Promotes, encourages or engages in child pornography or the exploitation of children;</li>
        <li>Promotes, encourages or engages in terrorism, violence against people, animals, or property;</li>
        <li>Promotes, encourages or engages in any spam or other unsolicited bulk email, or computer or network hacking or cracking;</li>
        <li>Infringes on the intellectual property rights of another User or any other person or entity;</li>
        <li>Violates the privacy or publicity rights of another User or any other person or entity, or breaches any duty of confidentiality that you owe to another User or any other person or entity;</li>
        <li>Interferes with the operation of this Site or the Services found at this Site;</li>
        <li>Contains or installs any viruses, worms, bugs, Trojan horses or other code, files or programs designed to, or capable of, disrupting, damaging or limiting the functionality of any software or hardware; or</li>
        <li>Contains false or deceptive language, or unsubstantiated or comparative claims, regarding India e-Visa Services Team or India e-Visa Services Team's Services.</li>
    </ul>
    </li>
    <li>You will not copy or distribute in any medium any part of this Site or the Services , except where expressly authorized by India e-Visa Services Team.</li>
    <li>You will not modify or alter any part of this Site or the Services found at this Site or any of its related technologies.</li>
    <li>You will not access India e-Visa Services Team's Content through any technology or means other than through this Site itself, or as India e-Visa Services Team may designate.</li>
    <li>You will not re-sell or provide the Services for a commercial purpose, including any of India e-Visa Services Team's related technologies, without India e-Visa Services Team express prior written consent.</li>
    <li>You agree to provide government-issued photo identification and/or government-issued business identification as required for verification of identity when requested.</li>
    <li>You are aware that India e-Visa Services Team may from time-to-time call you about your account, and that, for the purposes of any and all such call(s), you do not have any reasonable expectation of privacy during those calls; indeed you hereby consent to allow India e-Visa Services Team, in its sole discretion, to record the entirety of such calls regardless of whether India e-Visa Services Team asks you on any particular call for consent to record such call.  You further acknowledge and agree that, to the extent permitted by applicable law, any such recording(s) may be submitted as evidence in any legal proceeding in which India e-Visa Services Team is a party.</li>
    <li>India e-Visa Services Team reserves the right to modify, change, or discontinue any aspect of this Site or the Services, including without limitation prices and fees for the same, at any time.</li>
</ol>
<h2>6. ADDITIONAL RESERVATION OF RIGHTS</h2>
<p>India e-Visa Services Team expressly reserves the right to deny, cancel, terminate, suspend, lock, or modify access to (or control of) any Account or Services for any reason (as determined by India e-Visa Services Team in its sole and absolute discretion), including but not limited to the following: (i) to correct mistakes made by India e-Visa Services Team in offering or delivering any Services (ii) to protect the integrity and stability of, and correct mistakes made by, any our partner, (iii) to assist with our fraud and abuse detection and prevention efforts, (iv) to comply with court orders against you and applicable local, state, national and international laws, rules and regulations, (v) to comply with requests of law enforcement, including subpoena requests, (vi) to comply with any dispute resolution process, (vii) to defend any legal action or threatened legal action without consideration for whether such legal action or threatened legal action is eventually determined to be with or without merit, or (viii) to avoid any civil or criminal liability on the part of India e-Visa Services Team, its officers, directors, employees and agents, as well as India e-Visa Services Team's affiliates, including, but not limited to, instances where you have sued or threatened to sue India e-Visa Services Team.</p>
<p>India e-Visa Services Team expressly reserves the right to terminate, without notice to you, any and all Services where, in India e-Visa Services Team's sole discretion, you are harassing or threatening India e-Visa Services Team and/or any of India e-Visa Services Team's employees.</p>
<h2>7. LINKS TO THIRD-PARTY WEBSITES</h2>
<p>This Site and the Services found at this Site may contain links to third-party websites that are not owned or controlled by India e-Visa Services Team. India e-Visa Services Team assumes no responsibility for the content, terms and conditions, privacy policies, or practices of any third-party websites. In addition, India e-Visa Services Team does not censor or edit the content of any third-party websites. By using this Site or the Services found at this Site, you expressly release India e-Visa Services Team from any and all liability arising from your use of any third-party website.</p>
<p>Accordingly, India e-Visa Services Team encourages you to be aware when you leave this Site or the Services found at this Site and to review the terms and conditions, privacy policies, and other governing documents of each other website that you may visit.</p>
<h2>8. LIMITATION OF LIABILITY</h2>
<p>IN NO EVENT SHALL India e-Visa Services Team, ITS OFFICERS, DIRECTORS, EMPLOYEES,  AGENTS, AND ALL THIRD PARTY SERVICE PROVIDERS, BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER, INCLUDING ANY THAT MAY RESULT FROM (I) THE ACCURACY, COMPLETENESS, OR CONTENT OF THIS SITE, (II) THE ACCURACY, COMPLETENESS, OR CONTENT OF ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (III) THE SERVICES FOUND AT THIS SITE OR ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (IV) PERSONAL INJURY OR PROPERTY DAMAGE OF ANY NATURE WHATSOEVER, (V) THIRD-PARTY CONDUCT OF ANY NATURE WHATSOEVER, (VI) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS AND/OR ANY AND ALL CONTENT, PERSONAL INFORMATION, FINANCIAL INFORMATION OR OTHER INFORMATION AND DATA STORED THEREIN, (VII) ANY INTERRUPTION OR CESSATION OF SERVICES TO OR FROM THIS SITE OR ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (VIII) ANY VIRUSES, WORMS, BUGS, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR FROM THIS SITE OR ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (IX) ANY CONTENT THAT IS DEFAMATORY, HARASSING, ABUSIVE, HARMFUL TO MINORS OR ANY PROTECTED CLASS, PORNOGRAPHIC, "X-RATED", OBSCENE OR OTHERWISE OBJECTIONABLE, AND/OR (X) ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF THIS SITE OR THE SERVICES FOUND AT THIS SITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL OR EQUITABLE THEORY, AND WHETHER OR NOT India e-Visa Services Team IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
<p>IN ADDITION, YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THIS SITE OR THE SERVICES FOUND AT THIS SITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE SUCH CAUSE OF ACTION SHALL BE PERMANENTLY BARRED.</p>
<p>IN ADDITION, YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT IN NO EVENT SHALL India e-Visa Services Team'S TOTAL AGGREGATE LIABILITY EXCEED THE TOTAL AMOUNT PAID BY YOU FOR THE PARTICULAR SERVICES THAT ARE THE SUBJECT OF THE CAUSE OF ACTION.</p>
<p>THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW, AND SHALL SURVIVE ANY TERMINATION OR EXPIRATION OF THIS AGREEMENT OR YOUR USE OF THIS SITE OR THE SERVICES FOUND AT THIS SITE.</p>
<h2>9. FEES AND PAYMENTS</h2>
<p>You acknowledge and agree that your Payment Method may be charged by&nbsp;India e-Visa Services Team.</p>
<h3>(A) GENERAL TERMS, INCLUDING AUTOMATIC RENEWAL TERMS</h3>
<p>You agree to pay any and all prices and fees due for Services purchased or obtained at this Site at the time you order the Services. India e-Visa Services Team expressly reserves the right to change or modify its prices and fees at any time, and such changes or modifications shall be posted online at this Site and effective immediately without need for further notice to you.  If you have purchased or obtained Services for a period of months or years, changes or modifications in prices and fees shall be effective when the Services in question come up for renewal as further described below.</p>
<p>Except as prohibited in any product-specific agreement, you may pay for Services by utilizing any of the following "Payment Methods": (i) by providing a valid credit card (ii) via an electronic check from your personal or business checking account, as appropriate (and as defined below); (iv) by using PayPal (as defined below). For Services that offer "Express Checkout", clicking the Express Checkout button will automatically place an order for that Service and charge the primary Payment Method on file for your Account.  Confirmation of that order will be sent to the email address on file for your Account.  Your Payment Method on file must be kept valid if you have any active Services in your Account.</p>
<p>You acknowledge and agree that where refunds are issued to your Payment Method, India e-Visa Services Team's issuance of a refund receipt is only confirmation that India e-Visa Services Team has submitted your refund to the Payment Method charged at the time of the original sale, and that India e-Visa Services Team has absolutely no control over when the refund will be applied towards your Payment Method's available balance.  You further acknowledge and agree that the payment provider and/or individual issuing bank associated with your Payment Method establish and regulate the time frames for posting your refund, and that such refund posting time frames may range from five (5) business days to a full billing cycle, or longer.</p>
<p>If for any reason India e-Visa Services Team is unable to charge your Payment Method for the full amount owed for the Services provided, or if India e-Visa Services Team receives notification of a chargeback, reversal, payment dispute, or is charged a penalty for any fee it previously charged to your Payment Method, you agree that India e-Visa Services Team may pursue all available lawful remedies in order to obtain payment, including but not limited to, immediate cancellation, without notice to you, of any Services registered on your behalf.  India e-Visa Services Team also reserves the right to charge you reasonable "administrative fees" or "processing fees" for (i) tasks India e-Visa Services Team may perform outside the normal scope of its Services, (ii) additional time and/or costs India e-Visa Services Team may incur in providing its Services, and/or (iii) your noncompliance with this Agreement (as determined by India e-Visa Services Team in its sole and absolute discretion).  Typical administrative or processing fee scenarios include, but are not limited to (i) customer service issues that require additional personal time or attention; (ii) recouping any and all costs and fees, including the cost of Services, incurred by India e-Visa Services Team as the results of chargebacks or other payment disputes brought by you, your bank or Payment Method processor. These administrative fees or processing fees will be billed to the Payment Method you have on file with India e-Visa Services Team.</p>
<p>India e-Visa Services Team may offer product-level pricing in various currencies; however, transaction processing is supported only in HKD (Hongkong dollars) and a select number of the currency options displayed on this Site ("Supported Currency" or "Supported Currencies"). If the currency selected is a Supported Currency, then the transaction will be processed in the Supported Currency and the pricing displayed during the checkout process will be the actual amount processed and submitted to your bank for payment. If the currency selected is not a Supported Currency, then the transaction will be processed in HKD dollars and the pricing displayed during the checkout process will be an estimated conversion price at the time of purchase. In either case (whether the currency selected is a Supported Currency or not), if the transaction is processed in a currency that differs from the currency of your bank account, you may be charged exchange rate conversion fees by your bank.  In addition, due to time differences between (i) the time you complete the checkout process, (ii) the time the transaction is processed, and (iii) the time the transaction posts to your bank statement, the conversion rates may fluctuate, and India e-Visa Services Team makes no representations or warranties that (a) the amount submitted to your bank for payment will be the same as the amount posted to your bank statement (in the case of a Supported Currency) or (b) the estimated conversion price will be the same as either the amount processed or the amount posted to your bank statement (in the case of a non-Supported Currency), and you agree to waive any and all claims based upon such discrepancies (including any and all claims for a refund based on the foregoing). In addition, regardless of the selected currency, you acknowledge and agree that you may be charged Value Added Tax ("VAT"), Goods and Services Tax ("GST"), or other localized fees and/or taxes, based on your bank and/or the country indicated in your billing address section.</p>
<h3>(B) PAY BY CHECK (ELECTRONIC CHECK)</h3>
<p>By using India e-Visa Services Team's pay by check option ("Pay By Check"), you can purchase India e-Visa Services Team Services using an electronic check (from your personal or business checking account, as appropriate). In connection therewith, you agree to allow India e-Visa Services Team to debit the full amount of your purchase from your checking account ("Checking Account").</p>
<p>It is your responsibility to keep your Checking Account current and funded. You acknowledge and agree that (i) India e-Visa Services Team reserves the right to decline a transaction for any reason (including, but not limited to, payments that fail to go through as a result of your Checking Account no longer existing or not holding available/sufficient funds) and (ii) in such event, India e-Visa Services Team shall be liable to you or any third party regarding the same.  If for any reason India e-Visa Services Team is unable to withdraw the full amount owed for the Services provided, you agree that India e-Visa Services Team may pursue all available lawful remedies in order to obtain payment.</p>
<h3>(C) PAY BY PAYPAL</h3>
<p>By using India e-Visa Services Team's pay by PayPal payment option ("PayPal"), you can purchase Services using PayPal. In connection therewith, you agree to allow PayPal to debit the full amount of your purchase from your PayPal account ("PayPal Account") or from credit card(s), bank account(s), or other allowed payment method(s) linked to your PayPal Account ("PayPal Funding Source").</p>
<p>It is your responsibility to keep your PayPal Account and PayPal Funding Source current and funded, and your PayPal Account backed by a valid credit card.  You acknowledge and agree that (i) PayPal reserves the right to decline a transaction for any reason (including, but not limited to, payments that fail to go through as a result of your PayPal Account or PayPal Funding Source no longer existing or not holding available/sufficient funds) and (ii) in such event, neither PayPal nor India e-Visa Services Team shall be liable to you or any third party regarding the same.  If for any reason PayPal is unable to withdraw the full amount owed for your purchase, you agree that PayPal and India e-Visa Services Team may pursue all available lawful remedies in order to obtain payment. You agree that if the transaction is returned unpaid, you will pay a service charge of $25.00 or the maximum amount allowed by law, which may be debited from your PayPal Account or PayPal Funding Source.</p>
<p>By clicking the box labeled "I agree" or "Process to Payment" to the terms of the PayPal payment option, you authorize a debit of the full amount of your purchase from your PayPal Account or PayPal Funding Source.</p>
<h3>(D) AUTHORIZATION YOUR CREDIT CARD</h3>
<p>To make sure card holder agreed to pay our services fee, may be our Risk Management team will request for fill-up Authorization form, need card holder signature on form and/or scan/take picture of real Credit Card with hidden 8 number of  Credit Card. If you not comply with this requirement, services may be cancelled and any lost we will not responsibility or liabilities any loss or damage.</p>
<p>We can request an electronic authorisation from the card holder's issuing bank (the "Authorized fund") in case you order extra services from us.</p>
<p>Customer are fully responsible to make sure fund in their credit/ debit card enough for payment</p>
<h3>(E) CURRENCY CONVERSION</h3>
<p>We use USD (US Dollar) as list price for all our services.</p>
<p>Complying with Government requirement, the price of services and products must be converted into HKD (Hongkong Dollar) for any payment by Credit Card Method and/or SGD (Singapore Dollar) for any payment by Credit Card by Paypal Method.</p>
<p>For transactions involving a currency conversion, rates are derived from the mid-market rate, which is the mid-point between the "buy" and "sell" rates from global currency markets (exchange rate fixed at 1USD = 7.78 HKD and 1USD =  1.3 SGD). Reference mid-market rate at: https://finance.yahoo.com/currency-converter/#from=USD;to=HKD;amt=1 and https://finance.yahoo.com/currency-converter/#from=USD;to=SGD;amt=1.</p>
<p>These amount may differ due to currency convert with your local currency.</p>
<p>Credit card statement might appear HKD (HongKong Dollar) or SGD (Singapore Dollar) depend on payment method you selected.</p>
<p>This term only apply for Credit Card payment option only, not for other options like Paypal account or Wire Transfer/Tele-Transfer.</p>
<h2>10. INDEMNITY</h2>
<p>You agree to protect, defend, indemnify and hold harmless India e-Visa Services Team and its officers, directors, employees, agents, and third party service providers from and against any and all claims, demands, costs, expenses, losses, liabilities and damages of every kind and nature (including, without limitation, reasonable attorneys' fees) imposed upon or incurred by India e-Visa Services Team directly or indirectly arising from (i) your use of and access to this Site or the Services found at this Site; (ii) your violation of any provision of this Agreement or the policies or agreements which are incorporated herein; and/or (iii) your violation of any third-party right, including without limitation any intellectual property or other proprietary right.  The indemnification obligations under this section shall survive any termination or expiration of this Agreement or your use of this Site or the Services found at this Site.</p>
<h2>11. SUCCESSORS AND ASSIGNS</h2>
<p>This Agreement shall be binding upon and inure to the benefit of the parties hereto and their respective heirs, successors and assigns.</p>
<h2>12. NO THIRD-PARTY BENEFICIARIES</h2>
<p>Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.</p>
<h2>13. COMPLIANCE WITH LOCAL LAWS</h2>
<p>India e-Visa Services Team makes no representation or warranty that the content available on this Site or the Services found at this Site are appropriate in every country or jurisdiction, and access to this Site or the Services found at this Site from countries or jurisdictions where its content is illegal is prohibited.  Users who choose to access this Site or the Services found at this Site are responsible for compliance with all local laws, rules and regulations.</p>
<h2>14. TITLES AND HEADINGS; INDEPENDENT COVENANTS; SEVERABILITY</h2>
<p>The titles and headings of this Agreement are for convenience and ease of reference only and shall not be utilized in any way to construe or interpret the agreement of the parties as otherwise set forth herein.  Each covenant and agreement in this Agreement shall be construed for all purposes to be a separate and independent covenant or agreement.  If a court of competent jurisdiction holds any provision (or portion of a provision) of this Agreement to be illegal, invalid, or otherwise unenforceable, the remaining provisions (or portions of provisions) of this Agreement shall not be affected thereby and shall be found to be valid and enforceable to the fullest extent permitted by law.</p>
<h2>15. CONTACT US</h2>
<p>If you have any questions about Term of Services, Privacy Policy, please contact us by email or regular mail at the following address:</p>
<p><b>Indian Immigration Services Limited - Member of Galaxy One Pte. Ltd</b></p>
<ul>
    <li>Add : 1745 Broadway, 17th Floor, New York City, New York, 10019, USA.</li>
    <li>Hotline : +1 917 397 7487</li>
    <li>Website :&nbsp;<a href="https://www.onlineindiaevisa.com"/>www.onlineindiaevisa.com</a></li>
    <li>Email:&nbsp;<a href="mailto:visa@indiaonlineevisa.com" target="_blank">visa@iindiaonlineevisa.com</a></li>
</ul>
</div>