<h2>India Embassy in Libya</h2>
<div class="content_format">
    <p>India Embassy in Libya is an office of communication between India Government and Libya . It operates as the official representative of the India in Libya . The following is major information about India Embassy for Libya and the way which you can apply you visa to India through:</p>
    <p><strong>Embassy of India in Libya</strong></p>
    <ul>
        <li>Add: Fashloom Area, Nafleen, PO Box 3150, Tripoli, Libya</li>
        <li>Phone: +218-21-3409288 / +218-21-3409289</li>
        <li>Fax: +218-21-3409281</li>
        <li>Office Hours: From Sunday to Thursday; Morning: 8:00 &ndash; 11:30, Afternoon: 14:00 &ndash; 16:30</li>
    </ul>
    <p>Citizens or residents in Libya can just only apply for a visa to India:</p>
    <ul>
        <li><strong>Directly contact and apply your India Visa at the India Embassy in Libya by yourself as above address.</strong></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>