<h2>India Embassy in Luxembourg</h2>
<div class="content_format">
    <p>India Embassy in Luxembourg is an office of communication between India Government and Luxembourg. It operates as the official representative of the India in Luxembourg. The following is major information about India Embassy for Luxembourg and the way which you can apply you visa to India through:</p>
    <h2>Embassy of India in Luxembourg</h2>
    <ul>
        <li><strong>Add</strong>: 25B, Boulevard Road, B.P. 282, L-2012, Luxembourg</li>
        <li><strong>Phone</strong>: +352-473-886</li>
        <li><strong>Fax</strong>: +352-222-584</li>
        <li><strong>Office Hours</strong>: From Monday to Friday; Morning: 09.00 - 12.30, Afternoon: 13:30 - 16:00</li>
    </ul>
    <p>Citizens or residents in Luxembourg can choose one of three options below to apply for a visa to India:</p>
    <p>One, directly contact and apply your India Visa at the India Embassy in Luxembourg by yourself as above address.</p>
    <p>Two,&nbsp;<a href="http://www.onlineindiaevisa.com/apply-visa">apply for India visa on arrival&nbsp;</a>for time-saving. By that way, you will get the India visa approval letter before leaving Luxembourg for India, so that you can pick up India visa at arriving airport. Please visit our&nbsp;<a href="http://www.onlineindiaevisa.com/processing">Visa Processing</a>&nbsp;to better understand how India visa on arrival works and how to apply for a visa upon arrival safer and faster.</p>
    <h2>Useful information:</h2>
    <ul>
        <li><a href="http://www.onlineindiaevisa.com/tips/luxembourg">How to get India visa from Luxembourg</a></li>
        <li><a href="http://www.onlineindiaevisa.com/check-requirements/luxembourg">Check India visa requirement for Luxembourg</a></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>