<h2>India Embassy in Madagascar</h2>
<div class="content_format">
    <p>India Embassy in Madagascar is an office of communication between India Government and Madagascar. It operates as the official representative of the India in Madagascar . The following is major information about India Embassy for Madagascar and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Madagascar</strong></p>
    <ul>
        <li>4, Lalana Rajaonson Emile, Tsaralalana, PO Box 1787, Antananarivo, Antananarivo, Madagascar</li>
        <li>Tel : +261-20-2223334 / +261-20-2227156</li>
        <li>Fax: +261-20-2233790</li>
        <li>Email: indesecamb@blueline.mg/ amb.aanarivo@mea.gov.in/ indembmd@blueline.mg / hoc.aanarivo@mea.gov.in / indcomsec@blueline.mg</li>
        <li>Website: www.embassyofindia.mg</li>
    </ul>
    <p>Citizens or residents in Madagascar can just only directly contact and apply your India Visa at the India Embassy in Madagascar by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>