<h2>India Embassy in Malaysia</h2>
<div class="content_format">
    <p>India Embassy in Malaysia is an office of communication between India Government and Malaysia. It operates as the official representative of the India in Malaysia. The following is major information about India Embassy for Malaysia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Malaysia</strong></p>
    <ul>
        <li>Menara 1 Mon&rsquo;t Kiara, Level 28 No.1, Jalan Mon&rsquo;t Kiara, 50480, Kuala Lumpur, Malaysia</li>
        <li>Tel : +603-620-52350 / +603-620-52351</li>
        <li>Fax: +603-614-31173</li>
        <li>Email: info@indianhighcommission.com.my / admn@indianhighcommission.com.my / attcons@indianhighcommission.com.my / attcom@indianhighcommission.com.my</li>
        <li>Website: www.indianhighcommission.com.my/index.php</li>
    </ul>
    <p>Citizens or residents in Malaysia can just only directly contact and apply your India Visa at the India Embassy in Malaysia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>