<h2>India Embassy in Maldives</h2>
<div class="content_format">
    <p>India Embassy in Maldives is an office of communication between India Government and Maldives . It operates as the official representative of the India in Maldives . The following is major information about India Embassy for Maldives and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Maldives</strong></p>
    <ul>
        <li>Athireege Aage, Ameeru Ahmed Magu, Henveiru, Male, Maldives</li>
        <li>Tel : +960-323-015 / +960-323-016</li>
        <li>Fax: +960-324-778</li>
        <li>Email: hcimale@hicomindia.com.mv / hc.male@mea.gov.in / hoc.male@mea.gov.in</li>
    </ul>
    <p>Citizens or residents in Maldives can just only directly contact and apply your India Visa at the India Embassy in Maldives by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>