<h2>India Embassy in Malta</h2>
<div class="content_format">
    <p>India Embassy in Malta is an office of communication between India Government and Malta. It operates as the official representative of the India in Malta. The following is major information about India Embassy for Malta and the way which you can apply you visa to India through:</p>
    <p><strong>India Embassy - Malta</strong></p>
    <ul>
        <li>Add: Cannon Road SVR9037 St. Venera Malta</li>
        <li>Tel : +356-21-222346</li>
        <li>Fax: +356-21-446792</li>
        <li>Website: http://www.india.org.mt/</li>
    </ul>
    <p><strong>India Embassy - Malta</strong></p>
    <p>Citizens or residents in Malta can just only directly contact and apply your India Visa at the India Embassy in Malta by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>