<h2>India Embassy in Mauritius</h2>
<div class="content_format">
    <p>India High Comission in Mauritus is an office of communication between India Government and Mauritius . It operates as the official representative of the India in Mauritius . The following is major information about India Embassy for Mauritius and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Mauritius</strong></p>
    <ul>
        <li>6th Flr Life Insurance Corporation of India President John Kennedy Str., PO Box 162 Port Luis, Port Louis, Mauritius</li>
        <li>Tel : +230-2083775/ +230-2083776</li>
        <li>Fax: +230-2088891</li>
        <li>Email: hicom.ss@intnet.mu/ hicombc@intnet.mu / hicom.cons@intnet.mu / coined@intnet.mu</li>
        <li>Website: www.indiahighcom.intnet.mu</li>
    </ul>
    <p>Citizens or residents in Mauritius can just only directly contact and apply your India Visa at the India Embassy in Mauritius by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>