<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">Medical Visa</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        Who can Apply?<br/>
        Medical Visa: - Eligibility Criteria<br/><br/>
        To get Medical visa to india within 2months you need to hold a valid passport <a href="/article/faqs#11">check here</a> and have a clear Itinerary and letter  from the hospital you will get treatment. The medical visa only valid for the person get treatment. Within the processing time You may be asked for required docs.<br/><br/>
        MEDICAL VISA <br/>
          SHORT TERM MEDICAL TREATMENT OF SELF
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>