<h2>India Embassy in Mexico</h2>
<div class="content_format">
    <p>India Embassy in Mexico is an office of communication between India Government and Mexico . It operates as the official representative of the India in Mexico . The following is major information about India Embassy for Mexico and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Mexico</strong></p>
    <ul>
        <li>Musset 325, Col. Polanco, Mexico DF, Mexico</li>
        <li>Tel : +52-55-55311050 / +52-55-55311002</li>
        <li>Fax: +52-55-52542349</li>
        <li>Email: amb_eoimex@prodigy.net.mx / com_eoimex@prodigy.net.mx</li>
    </ul>
    <p>Citizens or residents in Mexico can just only directly contact and apply your India Visa at the India Embassy in Mexico by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>