<h2>India Embassy in Monaco</h2>
<div class="content_format">
    <p>Embassy of India has not established in Monaco yet. Therefore, citizens or residents in Monaco can choose one of&nbsp;two&nbsp;options below to apply for a visa to India:</p>
    <ul>
        <li><a href="http://www.onlineindiaevisa.com/apply-visa?action=step1">Apply online</a>&nbsp;to get visa on arrival (visa picked up at the arrival airport in India with the legal e-visa issued by the India Government).</li>
        <li>Visit the nearest India Embassy in the neighboring countries in person.</li>
    </ul>
    <p>Useful information:</p>
    <ul>
        <ul><ol>-&nbsp;</ol></ul>
    </ul>
    <a href="http://www.onlineindiaevisa.com/embassy"><em>India Embassies and Consulates overseas</em></a>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="http://www.indiavisacorp.com/contact-us">contact us</a>. Thank you!</p>
</div>