<h2>India Embassy in Mongolia</h2>
<div class="content_format">
    <p>India Embassy in Mongolia is an office of communication between India Government and Mongolia . It operates as the official representative of the India in Mongolia . The following is major information about India Embassy for Mongolia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Mongolia</strong></p>
    <ul>
        <li>Zaluuchuudyn Urgun Chuluu 10, PO Box 691 Ulanbaatar, 210613, Ulaanbaatar, Mongolia</li>
        <li>Tel : +976-11-329-522/ +976-11-329-524</li>
        <li>Fax: +976-11-329-532</li>
        <li>Email: reception@indianembassy.mn</li>
        <li>Website: http://www.eoi.gov.in/ulaanbaatar/</li>
    </ul>
    <p>Citizens or residents in Mongolia can just only directly contact and apply your India Visa at the India Embassy in Mongolia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>