<h2>India Embassy in Morocco</h2>
<div class="content_format">
    <p>India Embassy in Morocco is an office of communication between India Government and Morocco . It operates as the official representative of the India in Morocco . The following is major information about India Embassy for Morocco and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Morocco</strong></p>
    <ul>
        <li>Add: 88, Rue Oulad Tidrarine, Souissi, Rabat, Morocco</li>
        <li>Tel : +212-537-635801 / +212-537-635802 / +212-537-635803</li>
        <li>Fax: +212-537-634733 / +212-537-634734</li>
        <li>Email: amb.rabat@mea.gov.in / cons.rabat@mea.gov.in</li>
        <li>Website: www.indianembassyrabat.com</li>
    </ul>
    <p>Citizens or residents in Morocco can just only directly contact and apply your India Visa at the India Embassy in Morocco by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>