<h2>India Embassy in Mozambique</h2>
<div class="content_format">
    <p>India High Comission in Mozambique is an office of communication between India Government and Mozambique . It operates as the official representative of the India in Mozambique . The following is major information about India Embassy for Mozambique and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Mozambique</strong></p>
    <ul>
        <li>Add: Avenida Kenneth Kaunda No. 167, PO Box 4751, Maputo, Maputo, Mozambique</li>
        <li>Tel : +258-1-492437 / +258-1-490717</li>
        <li>Fax: +258-1-492364</li>
        <li>Email: hicomind@tvcabo.co.mz</li>
        <li>Website: www.hicomind-maputo.org/</li>
    </ul>
    <p>Citizens or residents in Mozambique can just only directly contact and apply your India Visa at the India Embassy in Mozambique by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>