<h2>India Embassy in Myanmar</h2>
<div class="content_format">
    <p>India Embassy in Myanmaris an office of communication between India Government and Myanmar. It operates as the official representative of the India in Myanmar. The following is major information about India Embassy for Myanmarand the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Myanmar</strong></p>
    <ul>
        <li>Add: No. 545-547,Merchant Str, P.O. Box 751 Yangon, Yangon, Myanmar</li>
        <li>Tel : +95-1-391219 / +95-1-243972 / +95-1-388412</li>
        <li>Fax: +95-1-254086 / +95-1-250164 / +95-1-388414</li>
        <li>Email: indianembassy@mptmail.net.mm</li>
        <li>Website: www.indiaembassy.net.mm</li>
    </ul>
    <p><strong>India Consulate - Myanmar</strong></p>
    <ul>
        <li>Add: Widenmayerstrasse 15, D-80538, Munich, Myanmar</li>
        <li>Tel: +49-89-21023920</li>
        <li>Fax: +49-89-21023970 / +49-89-21023980</li>
        <li>Email: consul@cgimun.com / viceconsul@cgimun.com</li>
        <li>Website: www.cgimunich.de</li>
    </ul>
    <p>Citizens or residents in Myanmarcan just only directly contact and apply your India Visa at the India Embassy in Myanmarby yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>