<h2>India Embassy in Nepal</h2>
<div class="content_format">
    <p>India Embassy in Nepal is an office of communication between India Government and Nepal . It operates as the official representative of the India in Nepal . The following is major information about India Embassy for Nepal and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Nepal</strong></p>
    <ul>
        <li>Add: 336 Kapurdhara Marg, P.O. Box 292, Kathmandu, Nepal</li>
        <li>Tel : +977-14-410900 / +977-14-414990</li>
        <li>Fax: +977-14-428279</li>
        <li>Email: hocktm@mos.com.np</li>
        <li>Website: www.south-asia.com/Embassy-India</li>
    </ul>
    <p>Citizens or residents in Nepal can just only directly contact and apply your India Visa at the India Embassy in Nepal by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>