<h2>India Embassy in Netherlands</h2>
<div class="content_format">
    <p>India Embassy in Netherlands is an office of communication between India Government and Netherlands . It operates as the official representative of the India in Netherlands . The following is major information about India Embassy for Netherlands and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Netherlands</strong></p>
    <ul>
        <li>Add: Buitenrustweg-2, The Hague, Netherlands</li>
        <li>Tel : +31-70-346-9771</li>
        <li>Fax: +31-70-361-7072</li>
        <li>Email: cpembind@bart.nl / ambassador@indianembassy.nl</li>
        <li>Website: www.indianembassy.nl/</li>
    </ul>
    <p>Citizens or residents in Netherlands can just only directly contact and apply your India Visa at the India Embassy in Netherlands by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>