<h2>India Embassy in New Zealand</h2>
<div class="content_format">
    <p>India Embassy in New Zealand is an office of communication between India Government and New Zealand . It operates as the official representative of the India in New Zealand . The following is major information about India Embassy for New Zealand and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - New Zealand</strong></p>
    <ul>
        <li>Add: 180 Molesworth Str, PO Box 4045 Wellington, Wellington, New Zealand</li>
        <li>Tel : +64-4-473-6390 / +64-4-473-6391</li>
        <li>Fax: +64-4-499-0665</li>
        <li>Email: hicomind@hicomind.org.nz / consular@hicomind.org.nz</li>
        <li>Website: www.hicomind.org.nz/</li>
    </ul>
    <p>Citizens or residents in New Zealand can just only directly contact and apply your India Visa at the India Embassy in New Zealand by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>