<h2>India Embassy in Nigeria</h2>
<div class="content_format">
    <p>India Embassy in Nigeria is an office of communication between India Government and Nigeria . It operates as the official representative of the India in Nigeria . The following is major information about India Embassy for Nigeria and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Nigeria</strong></p>
    <ul>
        <li>Add: 15, Rio Negro Close, Off Yedseram Street , Maitama, Abuja, Nigeria</li>
        <li>Tel : +234-7080622800</li>
        <li>Fax: +234-7080622805</li>
        <li>Email: cons.abuja@mea.gov.in / trade.abuja@mea.gov.in / hoc.abuja@mea.gov.in/ info.abuja@mea.gov.in</li>
        <li>Website: www.indianhcabuja.com</li>
    </ul>
    <p><strong>India Consulate - Nigeria</strong></p>
    <ul>
        <li>Add: 8-A, Walter Carrington Crescent, Victoria Island, Lagos, Nigeria</li>
        <li>Tel: +234-14480876 / +234-14480877</li>
        <li>Fax: +234-14480882</li>
        <li>Email: hoc.lagos@mea.gov.in / fs1@hcilagos.org</li>
        <li>Website: www.indianhcabuja.com</li>
    </ul>
    <p>Citizens or residents in Nigeria can just only directly contact and apply your India Visa at the India Embassy in Nigeria by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>