<h2>India Embassy in Niger</h2>
<div class="content_format">
    <p>India Consulate in Niger is an office of communication between India Government and Niger . It operates as the official representative of the India in Niger . The following is major information about India Embassy for Niger and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Niger</strong></p>
    <ul>
        <li>Add: Rue AM-14 Kouara Kano BP 201, Niamey, Niger</li>
        <li>Tel : +227-20370029 / +227-20370030 / +227-20370108</li>
        <li>Fax: +227-2020370116</li>
        <li>Email: amb.niamey@mea.gov.in / hoc.niamey@mea.gov.in</li>
    </ul>
    <p>Citizens or residents in Niger can just only directly contact and apply your India Visa at the India Embassy in Niger by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>