<h2>India Embassy in Norway</h2>
<div class="content_format">
    <p>India Embassy in Norway is an office of communication between India Government and Norway . It operates as the official representative of the India in Norway . The following is major information about India Embassy for Norway and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Norway</strong></p>
    <ul>
        <li>Add: +47-24115910 / +47-24115916 / +47-24115912</li>
        <li>Tel :+47-24115912 / +47-24115929</li>
        <li>Fax: +234-7080622805</li>
        <li>Email: hoc@indemb.no / consular@indemb.no / cs@indemb.no / ambassador@indemb.no / commerce@indemb.no</li>
        <li>Website: www.indemb.no/</li>
    </ul>
    <p>Citizens or residents in Norway can just only directly contact and apply your India Visa at the India Embassy in Norway by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>