<h2>India Embassy in Oman</h2>
<div class="content_format">
    <p>India Embassy in Oman is an office of communication between India Government and Oman. It operates as the official representative of the India in Oman. The following is major information about India Embassy for Oman and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Oman</strong></p>
    <ul>
        <li>Add: Diplomatic Area, Jami at Al-Dowal, Al-Arabia Street, Diplomatic Qtrs., Al-Khuwair, PO Box 1727, Postal Code: 112, Ruwi, Muscat, Oman</li>
        <li>Tel : +968-2468-4500</li>
        <li>Fax: +968-2469-8291/ +968-2469-7591</li>
        <li>Email: indiamct@omantel.net.om/ couns@indemb-oman.org</li>
        <li>Website: http://www.indemb-oman.org/</li>
    </ul>
    <p><strong>India Embassy - Oman</strong></p>
    <p>Citizens or residents in Oman can just only directly contact and apply your India Visa at the India Embassy in Oman by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>