<h2>India Embassy in Pakistan</h2>
<div class="content_format">
    <p>India Embassy in Pakistan is an office of communication between India Government and Pakistan. It operates as the official representative of the India in Pakistan. The following is major information about India Embassy for Pakistan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Pakistan</strong></p>
    <ul>
        <li>Add: G-5, Diplomatic Enclave, Islamabad, Pakistan</li>
        <li>Tel : +92-51-220-6950/ +92-51-220-6954</li>
        <li>Fax: +92-51-282-3386</li>
        <li>Email: hicomind@isb.compol.com</li>
        <li>Website: NA</li>
    </ul>
    <p><strong>India Embassy - Pakistan</strong></p>
    <p>Citizens or residents in Pakistan can just only directly contact and apply your India Visa at the India Embassy in Pakistan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>