<h2>India Embassy in Palestine</h2>
<div class="content_format">
<p>India Embassy in Palestine is an office of communication between India Government and Palestine. It operates as the official representative of the India in Palestine. The following is major information about India Embassy for Palestine and the way which you can apply you visa to India through :</p>
<p><strong>India Embassy - Palestine</strong></p>
<ul>
<li>Add: PO Box No.1344, Villa Jamal Shalash, Ain Arik Crossing, Mahatma Gandhi Street, Beitunia,Ramallah City, Palestine</li>
<li>Tel : +972-2-2903033/ +972-2-2903034/ +972-2-2903037</li>
<li>Fax: +972-2-2903035</li>
<li>Email: roi_ramallah@palnet.com/ rep.ramallah@mea.gov.in</li>
<li>Website: www.roi-ramallah.org.ps/</li>
</ul>
<p><strong>India Embassy - Palestine</strong></p>
<p>Citizens or residents in Palestine can just only directly contact and apply your India Visa at the India Embassy in Palestine by yourself as above address.</p>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div><p><a href="https://4html.net/Advanced-HTML-Editor-869.html?v=4" target="_blank">free Online HTML Editor</a> are essential for an optimized website. Free HTML tool by 4html.net.</p>