<h2>India Embassy in Papua New Guinea</h2>
<div class="content_format">
    <p>India Embassy in Papua New Guinea is an office of communication between India Government and Papua New Guinea. It operates as the official representative of the India in Papua New Guinea. The following is major information about India Embassy for Papua New Guinea and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Papua New Guinea</strong></p>
    <ul>
        <li>Add: Lot 20, Section 8, Unit 2, Tanatana Street, Boroko Port Moresby, Papua New Guinea</li>
        <li>Tel : +675-3254757/ +675-3236677/ +675-3232414</li>
        <li>Fax: +675-3253138</li>
        <li>Email: hcipom@datec.net.pg/ hc.pmoresby@mea.gov.in/ hoc.pmoresby@mea.gov.in</li>
        <li>Website: NA</li>
    </ul>
    <p><strong>India Embassy - Papua New Guinea</strong></p>
    <p>Citizens or residents in Papua New Guinea can just only directly contact and apply your India Visa at the India Embassy in Papua New Guinea by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>