<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Payment Guideline </h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
        <h2>1. Pay by Bank Wire Transfer</h2>
        <p>Using your internet banking account and transfer the visa fee here</p>
        <h2>2. Pay by Credit/Debit Card Guidelines</h2>
        <p>You can make payment for your visa by using any card which allow you pay online.</p>
        <p>· Your billing information: relate to Billing person name, Country, ZIP code...</p>
        <p>· Your credit card information: Relate to Credit Card number, Expiry date, CVV or CVC</p>
        <p>Please note that You have to put the password to verify the the payment you have to put it through</p>
        <h2>3. Pay by Paypal</h2>
        <p>Paypal getway is available for you to make payment for your visa fee</p>
        <ul>
        </ul>
      </section>
    </div>
  </div>
</div>
