<h2>India Embassy in Peru</h2>
<div class="content_format">
    <p>India Embassy in Peru is an office of communication between India Government and Peru. It operates as the official representative of the India in Peru. The following is major information about India Embassy for Peru and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Peru</strong></p>
    <ul>
        <li>Add: Avenida Salaverry 3006, Magdalena Del Mar Lima, Peru</li>
        <li>Tel : +51-1-460-2289/ +51-1-261-6006/ +51-1-461-0371</li>
        <li>Fax: +51-1-461-0374</li>
        <li>Email: hoc@indembassy.org.pe/ ambassador@indembassy.org.pe/ consular@indembassy.org.pe</li>
        <li>Website: www.indembassy.org.pe</li>
    </ul>
    <p><strong>India Embassy - Peru</strong></p>
    <p>Citizens or residents in Peru can just only directly contact and apply your India Visa at the India Embassy in Peru by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>