<h2>India Embassy in Philippines</h2>
<div class="content_format">
    <p>India Embassy in Philippines is an office of communication between India Government and Philippines. It operates as the official representative of the India in Philippines. The following is major information about India Embassy for Philippines and the way which you can apply you visa to India through:</p>
    <h2>Embassy of India in Philippines</h2>
    <ul>
        <li><strong>Add</strong>: 2190 Paraiso Street, Dasmarinas Village, P.O. Box No. 2123, Makati City, Metro Manila, Philippines</li>
        <li><strong>Phone</strong>: +63-2-843-0101, +63-2-843-0102</li>
        <li><strong>Fax</strong>: +63-2-815-8151</li>
        <li><strong>Office Hours</strong>: From Monday to Friday; Morning: 09.00 - 12.30, Afternoon: 13:30 - 16:00</li>
    </ul>
    <p>Citizens or residents in Philippines can choose one of three options below to apply for a visa to India:</p>
    <p>One, directly contact and apply your India Visa at the India Embassy in Philippines by yourself as above address.</p>
    <p>Two,&nbsp;<a href="http://www.onlineindiaevisa.com/apply-visa">apply for India visa on arrival&nbsp;</a>for time-saving. By that way, you will get the India visa approval letter before leaving Philippines for India, so that you can pick up India visa at arriving airport. Please visit our&nbsp;<a href="http://www.onlineindiaevisa.com/processing">Visa Processing</a>&nbsp;to better understand how India visa on arrival works and how to apply for a visa upon arrival safer and faster.</p>
    <h2>Useful information:</h2>
    <ul>
        <li><a href="http://www.onlineindiaevisa.com/tips/philippines">How to get India visa from Philippines</a></li>
        <li><a href="http://www.onlineindiaevisa.com/check-requirements/philippines">Check India visa requirement for Philippines</a></li>
    </ul>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>