<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">Provide Photo</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>Documents Provide by the applicant including business cards, invitation letters etc. must be in English language, failing which e-Visa application would be liable for rejection. The documents required for e-Visa are:</p>


        <h3> For e-Tourist Visa</h3>
        <p> 1. Scanned Bio Page of the passport showing the Photograph and Details </p>
        <h3> For e-Medical Visa</h3>
        <p>1. Scanned Bio Page of the passport showing the Photograph and Details </p>
        <p>2. Copy of Letter from the Hospital concerned in India on its letterhead</p>
        <h3> For e-Business Visa </h3>
        <p> 1. Scanned Bio Page of the passport showing the Photograph and Details </p>
        <p> 2. Copy of Business Card </p>
        <h3> For e-Business Visa visiting "To deliver lecture/s under Global Initiative for Academic Networks (GIAN)" </h3>
        <ul>
          <li>1. Scanned Bio Page of the passport showing the Photograph and Details</li>
          <li>2. Invitation of the host institute to the foreign faculty</li>
          <li>3. Copy of the sanction order under GIAN issued by the National Coordinating Institute viz. IIT Kharagpur</li>
          <li>4. Copy of the synopsis of the courses to be taken up by the faculty</li>

        </ul>

        <p> Digital photograph to be provided along with the Visa application should meet the following requirements:</p>
        <ul>
          <li>
            1. Format – JPEG
          </li>
          <li>
            2. Size
          </li>
          <li style="list-style-type: none">
            <ul style="margin-top:0">
              <li>i. Minimum 10 KB</li>
              <li>ii. Maximum 1 MB</li>
            </ul>
          </li>
          <li>3. The height and width of the Photo must be equal.</li>
          <li>
            4. Photo should present full face, front view, eyes open and without spectacles
          </li>
          <li>
            5. Center head within frame and present full head from top of hair to bottom of chin
          </li>
          <li>
            6. Background should be plain light colored or white background.
          </li>
          <li>
            7. No shadows on the face or on the background.
          </li>
          <li>
            8. Without borders.
          </li>
        </ul>
        <p>Scanned Bio Page of the passport showing the Photograph and Details.</p>
        <ul>
          <li>i. Format -PDF</li>
          <li>ii. Size : Minimum 10 KB ,Maximum 300 KB</li>
        </ul>
        <p> Other document for Business/Medical Purpose </p>
        <ul>
          <li>i. Format -PDF</li>
          <li>ii. Size : Minimum 10 KB ,Maximum 300 KB</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>