<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Pick up visa from Government</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
       
        <p>If you apply E-visa with Government but you don’t get the visa from them and you have the ID number only. We can support you get the visa from India gorvenment</p>
        
      </section>
    </div>
  </div>
</div>
