<h2>India Embassy in Poland</h2>
<div class="content_format">
    <p>India Embassy in Poland is an office of communication between India Government and Poland. It operates as the official representative of the India in Poland. The following is major information about India Embassy for Poland and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Poland</strong></p>
    <ul>
        <li>Add: Ul. Rejtana 15, Flats 2-702-516, Warsaw, Poland</li>
        <li>Tel : +48-22-5400000</li>
        <li>Fax: +48-22-5400001</li>
        <li>Email: ambassador@indembwarsaw.in/ ambassador.office@indembwarsaw.in/ counsellor@indembwarsaw.in/ first.secretary@indembwarsaw.in</li>
        <li>Website: www.indembwarsaw.in</li>
    </ul>
    <p><strong>India Embassy - Poland</strong></p>
    <p>Citizens or residents in Poland can just only directly contact and apply your India Visa at the India Embassy in Poland by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>