<h2>India Embassy in Portugal</h2>
<div class="content_format">
    <p>India Embassy in Portugal is an office of communication between India Government and Portugal. It operates as the official representative of the India in Portugal. The following is major information about India Embassy for Portugal and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Portugal</strong></p>
    <ul>
        <li>Add: Rua Pero da Covilha 16, Restelo, Lisbon, Portugal</li>
        <li>Tel : +351-21-304-1095/ +351-21-304-1099</li>
        <li>Fax: +351-21-301-6576</li>
        <li>Email: ambassador@indembassy-lisbon.org/ hoc@indembassy-lisbon.org/ commercial@indembassy-lisbon.org/ consular@indembassy-lisbon.org</li>
        <li>Website: NA</li>
    </ul>
    <p><strong>India Embassy - Portugal</strong></p>
    <p>Citizens or residents in Portugal can just only directly contact and apply your India Visa at the India Embassy in Portugal by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>