<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Private Policy</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
        <p><a href="http://www.onlineindiaevisa.com/">www.onlineindiaevisa.com</a> is a subsidiary business of of EVisa4U PTY LTD registered under Australian Business Number 18619971023</p>
        <p><a href="http://www.onlineindiaevisa.com/">www.onlineindiaevisa.com</a> is a trusted partner with the Diplomatic Missions for administrative and non-judgmental tasks of outsourcing of Visas, Passports and Attestation Applications in India as well as abroad.</p>
        <p>Our dedicated team is committed to providing professional service to individuals and legal entities with their E-Visa India application process. This is a private website, not affiliated with the Indian Government. Our agency charges a fee in exchange for our expert immigration and travel advice.</p>
        <p>To maintain such high standards, we have created the Privacy Principles to conduct the services, offered on this web, in a safe and secure manner:</p>
        <ul>
          <li>The specialized immigration and travel services offered on this web, abide by this company’s Privacy Policy. In case of questions or doubts regarding our Policy, do not hesitate to contact us by email. We will reply within 24 hours of your contact (all business days).</li>
          <li>Personal data on this web is provided voluntarily by our users. collects traffic data; user behaviour patterns; stores user IP address; weblog; location data and other information that may be provided during the e-Visa application process on this website.</li>
          <li>All personal and user information entered on this web is private and will be safely stored in our servers. No information or data will be sold or disclosed to third parties, offering similar services, nor to marketing agencies. Personal data that has already been processed will be automatically erased from our servers. This meets and exceeds the Indian Government standards, regarding such Online Visa applications.</li>
          <li><a href="http://www.onlineindiaevisa.com/">www.onlineindiaevisa.com</a> collects and stores information about the user’s interaction with this web, in the form of cookies. If you wish to change or disable your cookies, you can do so from the Settings menu of your preferred browser.</li>
          <li>We uses secured servers, located in the Australia. We store all user information on our own servers to protect and prevent any unauthorised access. All information is protected and encrypted through firewalls, passwords as well as physical security.</li>
          <li>The use of is subject to the Terms and Conditions set herein. Make sure to go through our Terms and Conditions in order to have a better understanding of our principles and practices, before using the services of this web.</li>
        </ul>
      </section>
    </div>
  </div>
</div>
