<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">Processing</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>India Visa Processing Times</h2>
      <p>3 steps to get India eVisa Online</p>
      <fieldset>
        <legend><strong>Step 1: Apply visa online </strong></legend>
        <p><img height="110" style="float:left; padding-right:10px;" title="Fill out the secure form online application" alt="Fill out the secure form online application"
            src="/assets/images/step1.png"></p>
        <ul style="margin-left:105px">
          <li>Please enter your information into online forms to process your eVisa &nbsp;to India at the link <a href="/apply-visa/step/1">Apply for India visa</a></li>
          <li>In this step, you are required to enter the exact personal information of the applicant(s).</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend><strong>Step 2: Payment Online</strong></legend>
        <p><img height="110" style="float:right; padding-left:10px; margin-top:-5px;" title="Payment requirements"
            alt="Get confirmation and payment requirements" src="/assets/images/step2.png"></p>
        <ul>
          <li style="text-align: left;">Please double check your information to make sure that all of it is correct.</li>
          <li> After process payment for your visa. Please check your Email to get The confirmation.</li>
        </ul>
      </fieldset>
      <fieldset>
        <legend><strong>Step 3: Get Visa Via Email</strong></legend>
        <p><img height="110" style="float:left; padding-right:10px; " title="Get visa approval letter and instruction to get visa stamped"
            alt="Get visa approval letter and instruction to get visa stamped" src="/assets/images/step3.png"></p>
        <ul style="margin-left:105px">
          <li>The E-visa will be issued and send to Traveler via email.</li>
          <li>Get the eVisa within 3 business days for normal service.</li>
          <li>Get the eVisa within 24 hours for urgent service.</li>
          <li>Get the eVisa within 5 business hours for Emergentcy service.</li>
          <li>lease print out your India eVisa that we send you via email to board the airplane.</li>
          <li>When you arrive in India with a valid eVisa, you may have biometric information taken at the airport, and a stamp placed inside passport.</li>
        </ul>
      </fieldset>
     
      <div style="margin:15px 0" class="aligncenter">
        <a href="/apply-visa/step/1" target="_self" title="APPLY FOR A VISA NOW">
          <input class="btn btn-primary custom-button" style="margin:0 auto" value="APPLY FOR A VISA NOW" type="button"/>
        </a>
      </div>
    </div>
  </div>
</div>