<div class="content_format">
  <h2>Promotion Policy</h2>
  <div class="padding_5px">
    <p><strong>Our VIP account</strong>&nbsp;is designed to support individuals, organizations and travel agents who are regular
      customers using India visa on arrival service of India e-Visa Services Team. Taking this opportunity to become our
      VIP member with many benefits:</p>
    <ul>
      <li>Save time and money with the preferential service fee.</li>
      <li>Committed to quality service and delivering customer satisfaction.</li>
      <li>Automatically reduces service costs</li>
      <li>Easy-to-use online account management system allows you to view and manage numerous orders for the travelers.</li>
      <li>Get from 10 % to 25 % discount per price of each order.</li>
      <li>Priority update the promotion information from India e-Visa Services Team</li>
      <li>Support customer quickly by phone or email in any case.</li>
    </ul>
    <p><strong>How it works?</strong><br> Your current account will be automatically upgraded to VIP account if until now your
      order volume reaches our requirement as the table below:</p>
    <div>
      <table width="100%" cellpadding="5" bordercolor="#ce1126" border="1">
        <tbody>
          <tr>
            <th width="25%">VIP account</th>
            <th colspan="2">Number of Order</th>
            <th width="39%" colspan="2">Automatic discount rate</th>
          </tr>
          <tr>
            <td>Bronze level</td>
            <td colspan="2">5-9</td>
            <td colspan="2">10%</td>
          </tr>
          <tr>
            <td>Silver level</td>
            <td colspan="2">10-14</td>
            <td colspan="2">15%</td>
          </tr>
          <tr>
            <td>Gold level</td>
            <td colspan="2">15-19</td>
            <td colspan="2">20%</td>
          </tr>
          <tr>
            <td>Diamond level</td>
            <td colspan="2">&gt; 19</td>
            <td colspan="2">25%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>With your VIP account, you can get India visa online with discount rate increases in level from Bronze (10%) to Diamond
      (25%). That is our automatic systems to&nbsp;<strong>save and update your previous order to now automatically,</strong>&nbsp;helps
      you mange online your account efficiently. Only successful 19-order can gain Diamond level and receive 25% discount
      with more fabulous benefits.</p>
    <p>Join this program now to use our visa service with more convenient!</p>
  </div>
</div>