<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Refund Policy</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
    <p>
      A full refund of processing fee will be made available to users who have submitted their eVisa application through this web, should the Indian Government deny the application.    </p>
    <p>
      If you decide to request a refund after your application has already been submitted, we will not be able to refund the Government fee. However, you may apply to be considered to receive an processing fee refund.    </p>
    <p>
      No refund will be made available once you have received your approved eVisa India application.    </p>
    <p>
      By submitting your eVisa India application with us, it is assumed and agreed that the visa application process will begin within the respected timeframe (120 days before your approximate date of arrival).    </p>
    <p>
      Users have 30 days from the date of payment to request a refund.    </p>
    <p>
      By accessing this web, browsing through and using its services, you - the user - understand and fully agree to indemnify and hold harmless www.onlineindiaevisa.com, including the company’s employees, agents, and shareholders. Furthermore, you waive your right to pursue any legal or other charges against this company.
    </p>
    <p>
      If you wish to request a refund, contact us at <a href="mailto:support@indiaonlineevisa.com">support@indiaonlineevisa.com</a> 
    </p>
    <p>
      Refund requests are processed within 72 hours of the user’s request.    </p>
    <p>
      When contacting us, please make sure to include the following details:    </p>
    <ul>
      <li>
        Your reason for the request      </li>
      <li>
        Your full names (as displayed in your passport)      </li>
      <li>
        Your unique transaction ID      </li>
      <li>
        Your email used to make the registration on this web      </li>
    </ul>
    <p>
      In case you required any further information, refer to the following sections:    </p>
    <ul>
      <li>
    <a href="/article/term-of-condition">Terms and Conditions</a>
      </li>
      <li>
        <a href="/article/cookie-policy">Cookie Policy</a>
      </li>
      <li>
        <a href="/article/faqs">FAQ</a>
      </li>
      <li>
        <a href="/article/private-policy">Privacy Policy</a>
      </li>

    </ul>
   </section>
    </div>
  </div>
</div>