<div class="content_format">
    <p>India Embassy in Republic of Korea is an office of communication between India Government and Republic of Korea. It operates as the official representative of the India in Republic of Korea. The following is major information about India Embassy for Republic of Korea and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Republic of Korea</strong></p>
    <ul>
        <li>Add: 101, Hannam Dong, Dokseodang-ro, Yongsan-ku Seoul 140-885</li>
        <li>Tel : +82-2-7984257/ +82-2-7984268</li>
        <li>Fax: 82-2-7969534</li>
        <li>Email: hoc.seoul@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Republic of Korea</strong></p>
    <p>Citizens or residents in Republic of Korea can just only directly contact and apply your India Visa at the India Embassy in Republic of Korea by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>