<h2>India Embassy in Romania</h2>
<div class="content_format">
    <p>India Embassy in Romania is an office of communication between India Government and Romania. It operates as the official representative of the India in Romania. The following is major information about India Embassy for Romania and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Romania</strong></p>
    <ul>
        <li>Add: 183, Mihai Eminescu Street,Sector 2, 020078 Bucharest, Romania</li>
        <li>Tel : +40-21-211-5451/ +40-21-619-0236</li>
        <li>Fax: +40-21-211-0614/ +40-21-211-8715</li>
        <li>Email: sscom@embassyofindia.ro/ indem@dnt.ro</li>
        <li>Website: www.embassyofindia.ro</li>
    </ul>
    <p><strong>India Embassy - Romania</strong></p>
    <p>Citizens or residents in Romania can just only directly contact and apply your India Visa at the India Embassy in Romania by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>