<h2>India Embassy in Russia</h2>
<div class="content_format">
    <p>India Embassy in Russia is an office of communication between India Government and Russia. It operates as the official representative of the India in Russia. The following is major information about India Embassy for Russia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Russia</strong></p>
    <ul>
        <li>Add: 6-8, Vorontsovo Polye (Ulitsa Obukha), Moscow, Russia</li>
        <li>Tel : +7-095-7837535</li>
        <li>Fax: +7-095-9163632/ +7-095-9172285</li>
        <li>Email: choc@indianembassy.ru/ cinfo@indianembassy.ru</li>
        <li>Website: www.indianembassy.ru</li>
    </ul>
    <p><strong>India Consulate - Russia</strong></p>
    <ul>
        <li>Add: 35, Ulitsa Reyleeva, 191123 St.Petersburg, Russia</li>
        <li>Tel : +7-812-2721988/ +7-812-2721731/ +7-812-5793002</li>
        <li>Fax: +7-812-2722473/ +7-812-5795088</li>
        <li>Email: cg.spburg@mea.gov.in/ hoc.spburg@mea.gov.in/ cons.spburg@mea.gov.in</li>
        <li>Website: www.indianconsulate.ru</li>
    </ul>
    <ul>
        <li>Add: 46, 4th Floor, Verkhneportovaya Street, PO Box No. 308, 690090 Vladivostok, Russia</li>
        <li>Tel : +7-423-2413920/ +7-423-2413933/ +7-423-2413938</li>
        <li>Fax: +7-423-2413956</li>
        <li>Email: cg.vladi@mea.gov.in/ cgivlad@mail.ru/ hoc.vladi@mea.gov.in/ cgivlad@vlad.ru</li>
        <li>Website: cgivladivostok.wordpress.com</li>
    </ul>
    <p><strong>India Embassy - Russia</strong></p>
    <p>Citizens or residents in Russia can just only directly contact and apply your India Visa at the India Embassy in Russia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>