<h2>India Embassy in Saudi Arabia</h2>
<div class="content_format">
    <p>India Embassy in Saudi Arabia is an office of communication between India Government and Saudi Arabia. It operates as the official representative of the India in Saudi Arabia. The following is major information about India Embassy for Saudi Arabia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Saudi Arabia</strong></p>
    <ul>
        <li>Add: B/1, Diplomatic Quatrer, Maidan Ibn Khaldoum, PO Box 94387, 11693 Riyadh, Saudi Arabia</li>
        <li>Phone: +966-1-4884144/ +966-1-4884691/ +966-1-4884692/ +966-1-4834254/ +966-1-4884697/ +966-1-4881982</li>
        <li>Fax : +966-1-4884750</li>
        <li>Email: wel.riyadh@mea.gov.in</li>
        <li>Website: www.indianembassy.org.sa</li>
    </ul>
    <p><strong>India Consulate- Saudi Arabia</strong></p>
    <ul>
        <li>Add: Building of Mr. Mansoor Abdul Rahman Al Hueesh, Villa No. 34, Near Al Huda Mosque, Tahlia Street, Jeddah, Saudi Arabia</li>
        <li>Phone: +966-2-6603779</li>
        <li>Fax : +966-2-2840238</li>
        <li>Email: admin@cgijeddah.com</li>
        <li>Website: wwww.cgijeddah.com</li>
    </ul>
    <p><strong>India Embassy - Saudi Arabia</strong></p>
    <p>Citizens or residents in Saudi Arabia can just only directly contact and apply your India Visa at the India Embassy in Saudi Arabia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>