<h2>India Embassy in Senegal</h2>
<div class="content_format">
    <p>India Embassy in Senegal is an office of communication between India Government and Senegal. It operates as the official representative of the India in Senegal. The following is major information about India Embassy for Senegal and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Senegal</strong></p>
    <ul>
        <li>Add: 5 Avenue Carde, BP 398, Dakar, Senegal</li>
        <li>Phone: +221-3384-95875</li>
        <li>Fax : +221-3382-23585</li>
        <li>Email: indiacouns@orange.sn</li>
    </ul>
    <p><strong>India Embassy - Senegal</strong></p>
    <p>Citizens or residents in Senegal can just only directly contact and apply your India Visa at the India Embassy in Senegal by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>