<h2>India Embassy in Seychelles</h2>
<div class="content_format">
    <p>India Embassy in Seychelles is an office of communication between India Government and Seychelles. It operates as the official representative of the India in Seychelles. The following is major information about India Embassy for Seychelles and the way which you can apply you visa to India through:</p>
    <p><strong>India Embassy - Seychelles</strong></p>
    <ul>
        <li>Add: Le Chantier P.O. Box 488 Mahe Seychelles</li>
        <li>Tel : +248-610-301</li>
        <li>Fax: +248-610-308</li>
        <li>Email: attadm@seychelles.net</li>
        <li>Website: www.seychelles.net/hicomind</li>
    </ul>
    <p><strong>India Embassy - Seychelles</strong></p>
    <p>Citizens or residents in Seychelles can just only directly contact and apply your India Visa at the India Embassy in Seychelles by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>