<h2>India Embassy in Singapore</h2>
<div class="content_format">
    <p>India Embassy in Singapore is an office of communication between India Government and Singapore. It operates as the official representative of the India in Singapore. The following is major information about India Embassy for Singapore and the way which you can apply you visa to India through :</p>
    <p><strong>India High Commission - Singapore</strong></p>
    <ul>
        <li>Add: 31, Grange Road, 239702 Singapore, Singapore</li>
        <li>Phone: +65-6238510/ +65-62382518</li>
        <li>Fax : +65-67351739/ +65-67326909</li>
        <li>Email: hc@hcisingapore.org</li>
        <li>Website: http://www.embassyofindia.com</li>
    </ul>
    <p><strong>India Embassy - Singapore</strong></p>
    <p>Citizens or residents in Singapore can just only directly contact and apply your India Visa at the India Embassy in Singapore by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>