<h2>India Embassy in Slovenia</h2>
<div class="content_format">
    <p>India Embassy in Slovenia is an office of communication between India Government and Slovenia. It operates as the official representative of the India in Slovenia. The following is major information about India Embassy for Slovenia and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Slovenia</strong></p>
    <ul>
        <li>Add: Zelezna cesta 16, 1000 Ljubljana, Slovenia</li>
        <li>Fax : +386-151-33116</li>
        <li>Email: amb.ljubljana@mea.gov.in</li>
        <li>Website: www.indianembassy.si/si</li>
    </ul>
    <p><strong>India Embassy - Slovenia</strong></p>
    <p>Citizens or residents in Slovenia can just only directly contact and apply your India Visa at the India Embassy in Slovenia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>