<h2>India Embassy in Slovak Republic</h2>
<div class="content_format">
    <p>India Embassy in Slovak Republic is an office of communication between India Government and Slovak Republic. It operates as the official representative of the India in Slovak Republic. The following is major information about India Embassy for Slovak Republic and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Slovak Republic</strong></p>
    <ul>
        <li>Add: Dunajska 4, 81108 Bratislava, Slovakia</li>
        <li>Phone: +421-2-52962915/ +421-2-52962916</li>
        <li>Fax : +421-2-52962921</li>
        <li>Email: amb.bratislava@mea.gov.in</li>
        <li>Website: www.indianembassy.sk</li>
    </ul>
    <p><strong>India Embassy - Slovak Republic</strong></p>
    <p>Citizens or residents in Slovak Republic can just only directly contact and apply your India Visa at the India Embassy in Slovak Republic by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>