<h2>India Embassy in South Sudan</h2>
<div class="content_format">
    <p>India Embassy in South Sudan is an office of communication between India Government and South Sudan. It operates as the official representative of the India in South Sudan. The following is major information about India Embassy for South Sudan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - South Sudan</strong></p>
    <ul>
        <li>Add: Plot No. 522, Hai Matar Area, Juba, South Sudan</li>
        <li>Tel : +211 922000188/ +211 922458007</li>
        <li>Email: hoc.juba@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - South Sudan</strong></p>
    <p>Citizens or residents in South Sudan can just only directly contact and apply your India Visa at the India Embassy in South Sudan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>