<h2>India Embassy in South Africa</h2>
<div class="content_format">
    <p>India Embassy in South Africa is an office of communication between India Government and South Africa. It operates as the official representative of the India in South Africa. The following is major information about India Embassy for South Africa and the way which you can apply you visa to India through :</p>
    <p><strong>India High Commission - South Africa</strong></p>
    <ul>
        <li>Add: 852 Schoeman Street, Arcadia, P.O. Box 40216, 0083 Pretoria, South Africa</li>
        <li>Tel : +27-12-342-5392</li>
        <li>Fax : +27-12-342-5310</li>
        <li>Email: hciadmn@hicomind.co.za</li>
        <li>Website: www.indiainsouthafrica.com</li>
    </ul>
    <p><strong>India Consulate - South Africa</strong></p>
    <ul>
        <li>Add: No.1, Eton Road (Corner Jan Smuts Avenue &amp; Eton Road), Park Town 2193, PO Box 6805, Johannesburg 2000, South Africa</li>
        <li>Tel : +27-11-482-8484/ +27-11-482-8485/ +27-11-482-8486</li>
        <li>Fax : +27-11-482-4648/ +27-11-482-8492</li>
        <li>Email: vccons1@indconjoburg.co.za</li>
        <li>Website: www.indiainsouthafrica.com</li>
    </ul>
    <p><strong>India Consulate - South Africa</strong></p>
    <ul>
        <li>Add: 160 Pine Street, 4th Floor, The Old Station Building, 4001 Durban, South Africa</li>
        <li>Tel : +27-31-332-7020/ +27-31-332-7021/ +27-31-332-7023/ +27-31-332-7024/ +27-31-332-7025/ +27-31-332-7026</li>
        <li>Fax : +27-31-332-7008/ +27-31-332-7071/ +27-31-332-7073</li>
        <li>Email: concons@cgidbn.com</li>
        <li>Website: www.indcondurban.co.za</li>
    </ul>
    <p><strong>India Consulate - South Africa</strong></p>
    <ul>
        <li>Add: The Terraces, 9th Floor, 34 Bree Street, P.O. Box No.3316, 8000 Cape Town, South Africa</li>
        <li>Tel : +27-21-419-8110/ +27-21-419-8111</li>
        <li>Fax : +27-31-332-7008</li>
        <li>Email: political@hcict.org.za</li>
        <li>Website: www.indiainsouthafrica.com</li>
    </ul>
    <p><strong>India Embassy - South Africa</strong></p>
    <p>Citizens or residents in South Africa can just only directly contact and apply your India Visa at the India Embassy in South Africa by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>