<h2>India Embassy in Spain</h2>
<div class="content_format">
    <p>India Embassy in Spain is an office of communication between India Government and Spain. It operates as the official representative of the India in Spain. The following is major information about India Embassy for Spain and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Spain</strong></p>
    <ul>
        <li>Add: Av.Pio XII, 30-32, 28016, Madrid, Spain</li>
        <li>Tel : +34-913098870/ +34-913098885/ +34-913098886/ +34-913098887/ +34-913098888</li>
        <li>Fax: +34-913451112/ +34-913451900</li>
        <li>Email: counsellorcons@embassyindia.es</li>
        <li>Website: www.embassyindia.es</li>
    </ul>
    <p><strong>India Consulate - Spain</strong></p>
    <ul>
        <li>Add: C/ Doctor Fleming, 21, Entrada B,local 1, 08017, Barcelona, Spain</li>
        <li>Tel : +34-932120422</li>
        <li>Fax: +34-932120354</li>
        <li>Email: hcg.barcelona@embassyindia.es</li>
        <li>Website: www.embassyindia.es</li>
    </ul>
    <p><strong>India Consulate - Spain</strong></p>
    <ul>
        <li>Add: Villalba Hervas No.15-1st Floor, PO Box No.336, 38002 Santa Cruz de, Tenerife, Spain</li>
        <li>Tel : +34-922241416/ +34-922243503</li>
        <li>Fax: +94-47-2222501</li>
        <li>Email: hcg.tenerife@embassyindia.es</li>
        <li>Website: www.embassyindia.es</li>
    </ul>
    <p><strong>India Consulate - Spain</strong></p>
    <ul>
        <li>Add: 103, New Road, Hambantota, Spain</li>
        <li>Tel : +94-47-2222500/ +94-47-2222503</li>
        <li>Fax: +94-47-2222501</li>
        <li>Email: cg.hambantota@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Spain</strong></p>
    <p>Citizens or residents in Spain can just only directly contact and apply your India Visa at the India Embassy in Spain by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>