<h2>India Embassy in Sri Lanka</h2>
<div class="content_format">
    <p>India Embassy in Sri Lanka is an office of communication between India Government and Sri Lanka. It operates as the official representative of the India in Sri Lanka. The following is major information about India Embassy for Sri Lanka and the way which you can apply you visa to India through :</p>
    <p><strong>India High Commission - Sri Lanka</strong></p>
    <ul>
        <li>Add: 36-38, Galle Road, Colombo, Sri Lanka</li>
        <li>Tel : +94-11-2327587/ +94-11-2421605/ +94-11-2422788/ +94-11-2422789</li>
        <li>Fax: +94-11-2446403 / +94-11-2448166</li>
        <li>Email: hc.colombo@mea.gov.in</li>
    </ul>
    <p><strong>India Consulate - Sri Lanka</strong></p>
    <ul>
        <li>Add: No. 31, Rajapihilla Mawatha, P.O. Box 47, Kandy, Sri Lanka</li>
        <li>Tel : +94-81-2222652/ +94-81-2223786/ +94-81-2224563/ +94-81-2234545</li>
        <li>Fax: +94-81-2222652/ +94-81-2223786/ +94-81-2224563/ +94-81-2234545</li>
        <li>Email: ahciknd@sltnet.lk</li>
        <li>Website: ahciknd@sltnet.lk</li>
    </ul>
    <p><strong>India Consulate - Sri Lanka</strong></p>
    <ul>
        <li>Add: 14 Maruthady Lane, Nallur, Jaffna, Sri Lanka</li>
        <li>Tel : +94-21-2220504/ +94-21-2220505</li>
        <li>Fax: +94-47-2222501</li>
        <li>Email: cg.jaffna@mea.gov.in</li>
    </ul>
    <p><strong>India Consulate - Sri Lanka</strong></p>
    <ul>
        <li>Add: 103, New Road, Hambantota, Sri Lanka</li>
        <li>Tel : +94-47-2222500/ +94-47-2222503</li>
        <li>Fax: +94-47-2222501</li>
        <li>Email: cg.hambantota@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Sri Lanka</strong></p>
    <p>Citizens or residents in Sri Lanka can just only directly contact and apply your India Visa at the India Embassy in Sri Lanka by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>