<h2>India Embassy in St Lucia</h2>
<div class="content_format">
    <p>India Embassy in Saint Lucia is an office of communication between India Government and Saint Lucia. It operates as the official representative of the India in Saint Lucia. The following is major information about India Embassy for Saint Lucia and the way which you can apply you visa to India through:</p>
    <p><strong>India Embassy - Saint Lucia</strong></p>
    <ul>
        <li>Add: Monument Road, Morne Fortune P.O. Box No.1526 Castries Saint Lucia</li>
        <li>Tel : +1-758-4516271</li>
        <li>Fax: +1-758-4527870</li>
        <li>Email: consul-india@candw.lc</li>
        <li>Website: www.indembassysuriname.com</li>
    </ul>
    <p><strong>India Embassy - Saint Lucia</strong></p>
    <p>Citizens or residents in Saint Lucia can just only directly contact and apply your India Visa at the India Embassy in Saint Lucia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>