<h2>India Embassy in Sudan</h2>
<div class="content_format">
    <p>India Embassy in Sudan is an office of communication between India Government and Sudan. It operates as the official representative of the India in Sudan. The following is major information about India Embassy for Sudan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Sudan</strong></p>
    <ul>
        <li>Add: Plot No. 2, Al Amarat Street No. 01, Block 12 DH, Eastern Extension, P.O. Box 707, Khartoum, Sudan</li>
        <li>Tel : +249-1-83574001/ +249-1-83574002/ +249-1-83574003</li>
        <li>Fax: +249-1-83574050 / +249-1-83574051</li>
        <li>Email: ambindia@sr.net</li>
        <li>Website: www.indembsdn.com</li>
    </ul>
    <p><strong>India Embassy - Sudan</strong></p>
    <p>Citizens or residents in Sudan can just only directly contact and apply your India Visa at the India Embassy in Sudan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>