<h2>India Embassy in Suriname</h2>
<div class="content_format">
    <p>India Embassy in Suriname is an office of communication between India Government and Suriname. It operates as the official representative of the India in Suriname. The following is major information about India Embassy for Suriname and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Suriname</strong></p>
    <ul>
        <li>Add: No.221, Dr. Sophie Redmondstraat, PO Box No.1329, Paramaribo, Suriname</li>
        <li>Tel : +597-498-344/ +597-531-448/ +597-531-449</li>
        <li>Fax: +597-491-106/ +597-499-382</li>
        <li>Email: ambindia@sr.net</li>
        <li>Website: www.indembassysuriname.com</li>
    </ul>
    <p><strong>India Embassy - Suriname</strong></p>
    <p>Citizens or residents in Suriname can just only directly contact and apply your India Visa at the India Embassy in Suriname by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>