<h2>India Embassy in Sweden</h2>
<div class="content_format">
    <p>India Embassy in Sweden is an office of communication between India Government and Sweden. It operates as the official representative of the India in Sweden. The following is major information about India Embassy for Sweden and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Sweden</strong></p>
    <ul>
        <li>Add: Adolf Fredriks Kyrkogata 12, P.O. Box 1340, 11183 Stockholm, Sweden</li>
        <li>Tel : +46-8-107008/ +46-8-4113237</li>
        <li>Fax: +46-8-248505</li>
        <li>Email: hoc.stockholm@mea.gov.in</li>
        <li>Website: www.indianembassy.se</li>
    </ul>
    <p><strong>India Embassy - Sweden</strong></p>
    <p>Citizens or residents in Sweden can just only directly contact and apply your India Visa at the India Embassy in Sweden by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>