<h2>India Embassy in Switzerland</h2>
<div class="content_format">
    <p>India Embassy in Switzerland is an office of communication between India Government and Switzerland. It operates as the official representative of the India in Switzerland. The following is major information about India Embassy for Switzerland and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Switzerland</strong></p>
    <ul>
        <li>Add: Kirchenfeldstrasse 28, 3000 Berne, Switzerland</li>
        <li>Tel : +41-31-3501130/ +41-31-3501139/ +41-31-3501138</li>
        <li>Fax: +41-31-3511557</li>
        <li>Email: hoc.berne@mea.gov.in</li>
        <li>Website: www.indembassybern.ch</li>
    </ul>
    <p><strong>India Consulate - Switzerland</strong></p>
    <ul>
        <li>Add: 9, rue de Valais, CH-1202, Geneva, Switzerland</li>
        <li>Tel : +41-22-9068686</li>
        <li>Fax: +41-22-9068676</li>
        <li>Email: rajwilliam@hotmail.com</li>
        <li>Website: www.indembassybern.ch</li>
    </ul>
    <p><strong>India Embassy - Switzerland</strong></p>
    <p>Citizens or residents in Switzerland can just only directly contact and apply your India Visa at the India Embassy in Switzerland by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>