<h2>India Embassy in Taiwan</h2>
<div class="content_format">
    <p>India Embassy in Taiwan is an office of communication between India Government and Taiwan. It operates as the official representative of the India in Taiwan. The following is major information about India Embassy for Taiwan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Taiwan</strong></p>
    <ul>
        <li>Add: 333 Keelung Road, Sector 1, Taipei, Taiwan</li>
        <li>Tel : +886 2 2757-6112/ +886 2 2757-6113</li>
        <li>Website: www.india.org.tw</li>
    </ul>
    <p><strong>India Embassy - Taiwan</strong></p>
    <p>Citizens or residents in Taiwan can just only directly contact and apply your India Visa at the India Embassy in Taiwan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>