<h2>India Embassy in Tajikistan</h2>
<div class="content_format">
    <p>India Embassy in Tajikistan is an office of communication between India Government and Tajikistan. It operates as the official representative of the India in Tajikistan. The following is major information about India Embassy for Tajikistan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Tajikistan</strong></p>
    <ul>
        <li>Add: 45, Bukhoro Street,Dushanbe,Tajikistan</li>
        <li>Tel : +992-37-2217172 / +992-37-2217172 / +992-37-2217172</li>
        <li>Fax: +992-37-2510035 / +992-37-2510045 / +992-37-2510045</li>
        <li>Email: hoc.dushanbe@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Tajikistan</strong></p>
    <p>Citizens or residents in Tajikistan can just only directly contact and apply your India Visa at the India Embassy in Tajikistan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>