<h2>India Embassy in Tanzania</h2>
<div class="content_format">
    <p>India Embassy in Tanzania is an office of communication between India Government and Tanzania. It operates as the official representative of the India in Tanzania. The following is major information about India Embassy for Tanzania and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Tanzania</strong></p>
    <ul>
        <li>Add: 82, Kinondoni Road, Kinondoni P.O. Box 2684,Dar es Salaam,Tanzania</li>
        <li>Tel : +255-22-2669040 / +255-22-2669041 / +255-22-2669042</li>
        <li>Fax: +255-22-2669043 / +255-22-2669050</li>
        <li>Email: couns@hcindiatz.org</li>
        <li>Website: www.hcindiatz.org</li>
    </ul>
    <p><strong>India Consulate - Tanzania</strong></p>
    <ul>
        <li>Add: 8 Migombani,PO Box 871 Zanzibar,Zanzibar,Tanzania</li>
        <li>Tel : +255-24-2232711 / +255-24-2230720</li>
        <li>Fax: +255-24-2230001</li>
        <li>Email: cg.zanzibar@mea.gov.in</li>
        <li>Website: www.hcindiatz.org</li>
    </ul>
    <p><strong>India Embassy - Tanzania</strong></p>
    <p>Citizens or residents in Tanzania can just only directly contact and apply your India Visa at the India Embassy in Tanzania by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>