<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Terms and Conditions </h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
        <p><b>In General</b></p>
        <p>Indiaonlineevisa services ("www.onlineindiaevisa.com") IOEV owns and operate this Website. This document governs your relationship with www.onlineindiaevisa.com ("Website"). Access to and use of this Website and the products and services available through this Website (collectively, the "Services") are subject to the following terms, conditions and notices (the "Terms of Service"). By using the Services, you are agreeing to all of the Terms of Service, as may be updated by us from time to time. You should check this page regularly to take notice of any changes we may have made to the Terms of Service.</p>
        <p>Access to this Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the Services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or all of this Website.</p>
        <p>This Website may contain links to other websites (the "Linked Sites"), which are not operated by www.onlineindiaevisa.com. www.onlineindiaevisa.com has no control over the Linked Sites and accepts no responsibility for them or for any loss or damage that may arise from your use of them. Your use of the Linked Sites will be subject to the terms of use and service contained within each such site.</p>
        <p><b>Privacy Policy</b></p>
        <p>IOEV shall not use your personal information, credit card details or other information gathered during the process of sale and delivery of visa application services for any purpose other than applying for Visa and sending you the necessary information through emails. IOEV will not share your data with any third party agencies, unless mandated by law of the land or the courts of law to do so. IOEV however retains the right to inform you from time to time of changes to Visa laws and visa application processes as such information is deemed useful. By using this Website, you consent to the processing described therein and warrant that all data provided by you is accurate.</p>
        <p><b>Prohibitions</b></p>
        <p>You must not misuse this Website. You will not: commit or encourage a criminal offense; transmit or distribute a virus, trojan, worm, logic bomb or any other material which is malicious, technologically harmful, in breach of confidence or in any way offensive or obscene; hack into any aspect of the Service; corrupt data; cause annoyance to other users; infringe upon the rights of any other person's proprietary rights; send any unsolicited advertising or promotional material, commonly referred to as "spam"; or attempt to affect the performance or functionality of any computer facilities of or accessed through this Website. Breaching this provision would constitute a criminal offense and www.onlineindiaevisa.com will report any such breach to the relevant law enforcement authorities and disclose your identity to them.</p>
        <p>We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of this Website or to your downloading of any material posted on it, or on any website linked to it.</p>
        <p><b>Intellectual Property, Software and Content</b></p>
        <p>The intellectual property rights in all software and content (including photographic images) made available to you on or through this Website remains the property of www.onlineindiaevisa.com or its licensors and are protected by copyright laws and treaties around the world. All such rights are reserved by www.onlineindiaevisa.com and its licensors. You may store, print and display the content supplied solely for your own personal use. You are not permitted to publish, manipulate, distribute or otherwise reproduce, in any format, any of the content or copies of the content supplied to you or which appears on this Website nor may you use any such content in connection with any business or commercial enterprise.</p>
        <p><b>Terms of Sale</b></p>
        <p><a href="http://www.onlineindiaevisa.com/">www.onlineindiaevisa.com</a> is a subsidiary company of <b>Evisa4u Pty. Ltd</b> which is registered in Australia under Australia Business Number <b>18619971023</b></p>
        <p>Therefore on your bank statement the receipt may read <b>Evisa4u Pty. Ltd</b> trading as <a href="http://www.onlineindiaevisa.com/">www.onlineindiaevisa.com</a></p>
        <p>By placing an order you are offering to purchase a product on and subject to the following terms and conditions. All orders are subject to availability and confirmation of the order price.</p>
        <p>Delivery times may vary according to approvals and processing of applications and subject to any delays resulting from delay in processing or force majeure for which we will not be responsible.</p>
        <p>In order to contract with www.onlineindiaevisa.com you must be over 18 years of age and possess a valid credit or debit card issued by a bank acceptable to us. www.onlineindiaevisa.com retains the right to refuse any request made by you. If your order is accepted we will inform you by email. This will usually be www.onlineindiaevisa.com or may in some cases be a third party. Where a contract is made with a third party www.onlineindiaevisa.com is not acting as either agent or principal and the contract is made between yourself and that third party and will be subject to the terms of sale which they supply you. When placing an order you undertake that all details you provide to us are true and accurate, that you are an authorized user of the credit or debit card used to place your order and that there are sufficient funds to cover the cost of the goods. The cost of foreign products and services may fluctuate. All prices advertised are subject to such changes.</p>
        <p><b>(a) Our Contract</b></p>
        <p>When you place an order, you will receive an acknowledgement e-mail confirming receipt of your order: this email will only be an acknowledgement and will not constitute acceptance of your order. A contract between us will not be formed until we send you confirmation by e-mail that the service which you ordered is being processed and made ready for you. Only those services listed in the confirmation e-mail sent at the time of dispatch will be included in the contract formed.</p>
        <p><b>(b) Pricing and Availability</b></p>
        <p>Whilst we try and ensure that all details, descriptions and prices which appear on this Website are accurate, errors may occur. If we discover an error in the price of any services which you have ordered we will inform you of this as soon as possible and give you the option of reconfirming your order at the correct price or cancelling it. If we are unable to contact you we will treat the order as cancelled. If you cancel and you have already paid for the goods, you will receive a full refund.</p>
        <p>Delivery costs will be charged in addition; such additional charges are clearly displayed where applicable and included in the 'Total Cost'.</p>
        <p><b>(c) Payment</b></p>
        <p>Upon receiving your order we carry out a standard authorization check on your payment card to ensure there are sufficient funds to fulfil the transaction. Your card will be debited upon authorization being received. The monies received upon the debiting of your card shall be treated as the service fee against the value of the services you wish to purchase.</p>
        <p>All Advertised Prices in USD but will be charged to your card in AUD.</p>
        <p><b>(d) Refund</b></p>
        <p>Once refund is requested all documents will be cancel Immediately by INDIAN Goverment</p>
        <p>A full refund processing fee will be made available to users who have submitted their eVisa application through this web, should the Indian Government deny the application.</p>
        <p>If you decide to request a refund after your application has already been submitted, we will not be able to refund the Government fee. However, you may apply to be considered to receive an Processing application fee refund.</p>
        <p>No refund will be made available once you have received your approved eVisa India application.</p>
        <p>By submitting your eVisa India (eTV) application with us, it is assumed and agreed that the visa application process will begin within the respected timeframe (120 days before your approximate date of arrival).</p>
        <p>Users have 30 days from the date of payment to request a refund.</p>
        <p>By accessing this web, browsing through and using its services, you - the user - understand and fully agree to indemnify and hold harmless www.onlineindiaevisa.com, including the company’s employees, agents, and shareholders. Furthermore, you waive your right to pursue any legal or other charges against this company.</p>
        <p>If you wish to request a refund, contact us at support@indiaonlineevisa.com</p>
        <p>Refund requests are processed within 72 hours of the user’s request.</p>
        <p>When contacting us, please make sure to include the following details:</p>
          <ul>
            <li>Please use your reference number at all times.</li>
          </ul>
        <p><b>Disclaimer of Liability</b></p>
        <p>The material displayed on this Website is provided without any guarantees, conditions or warranties as to its accuracy. Unless expressly stated to the contrary to the fullest extent permitted by law www.onlineindiaevisa.com and its suppliers, content providers and advertisers hereby expressly exclude all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity and shall not be liable for any damages whatsoever, including but without limitation to any direct, indirect, special, consequential, punitive or incidental damages, or damages for loss of use, profits, data or other intangibles, damage to goodwill or reputation, or the cost of procurement of substitute goods and services, arising out of or related to the use, inability to use, performance or failures of this Website or the Linked Sites and any materials posted thereon, irrespective of whether such damages were foreseeable or arise in contract, tort, equity, restitution, by statute, at common law or otherwise. This does not affect www.onlineindiaevisa.com liability for death or personal injury arising from its negligence, fraudulent misrepresentation, and misrepresentation as to a fundamental matter or any other liability which cannot be excluded or limited under applicable law.</p>
        <p><b>Linking to this Website</b></p>
        <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must not establish a link from any website that is not owned by you. This Website must not be framed on any other site, nor may you create a link to any part of this Website other than the home page. We reserve the right to withdraw linking permission without notice.</p>
        <p>Disclaimer as to ownership of trade marks, images of personalities and third party copyright Except where expressly stated to the contrary all persons (including their names and images), third party trademarks and content, services and/or locations featured on this Website are in no way associated, linked or affiliated with www.onlineindiaevisa.com and you should not rely on the existence of such a connection or affiliation. Any trade marks/names featured on this Website are owned by the respective trade mark owners. Where a trade mark or brand name is referred to it is used solely to describe or identify the products and services and is in no way an assertion that such products or services are endorsed by or connected to www.onlineindiaevisa.com</p>
        <p><b>Indemnity</b></p>
        <p>You agree to indemnify, defend and hold harmless www.onlineindiaevisa.com its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages and/or costs (including, but not limited to, legal fees) arising from your use this Website or your breach of the Terms of Service.</p>
        <p><b>Variation</b></p>
        <p>www.onlineindiaevisa.com shall have the right in its absolute discretion at any time and without notice to amend, remove or vary the Services and/or any page of this Website.</p>
        <p><b>Invalidity</b></p>
        <p>If any part of the Terms of Service is unenforceable (including any provision in which we exclude our liability to you) the enforceability of any other part of the Terms of Service will not be affected all other clauses remaining in full force and effect. So far as possible where any clause/sub-clause or part of a clause/sub-clause can be severed to render the remaining part valid, the clause shall be interpreted accordingly. Alternatively, you agree that the clause shall be rectified and interpreted in such a way that closely resembles the original meaning of the clause /sub-clause as is permitted by law.</p>
        <p><b>Complaints</b></p>
        <p>We operate a complaints handling procedure which we will use to try to resolve disputes when they first arise, please let us know if you have any complaints or comments.</p>
        <p><b>Waiver</b></p>
        <p>If you breach these conditions and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these conditions.</p>
        <p><b>Entire Agreement</b></p>
        <p>The above Terms of Service constitute the entire agreement of the parties and supersede any and all preceding and contemporaneous agreements between you and www.onlineindiaevisa.com. Any waiver of any provision of the Terms of Service will be effective only if in writing and signed by a Director of www.onlineindiaevisa.com.</p>
        <ul>
        </ul>
      </section>
    </div>
  </div>
</div>
