<h2>India Embassy in Thailand</h2>
<div class="content_format">
<p>India Embassy in Thailand is an office of communication between India Government and Thailand. It operates as the official representative of the India in Thailand. The following is major information about India Embassy for Thailand and the way which you can apply you visa to India through :</p>
<p><strong>India Embassy - Thailand</strong></p>
<ul>
<li>Add: 46 Soi Prasarnmitr (23), Sukhumvit Road,10110,Bangkok,Thailand</li>
<li>Tel : +66-2-2580300 / +66-2-2580306</li>
<li>Fax: +66-2-2584627 / +66-2-2621740</li>
<li>Email: indiaemb@indianembassy.in.th</li>
<li>Website: www.indianembassy.in.th</li>
</ul>
<p><strong>India Consulate - Thailand</strong></p>
<ul>
<li>Add: 33/1, Thung Hotel Road, Wat Kate,Muang, 50000,Chiangmai,Thailand</li>
<li>Tel : +66-5-3243066</li>
<li>Fax: +66-5-3247879</li>
<li>Email: bharat@loxinfo.co.th</li>
</ul>
<p><strong>India Embassy - Thailand</strong></p>
<p>Citizens or residents in Thailand can just only directly contact and apply your India Visa at the India Embassy in Thailand by yourself as above address.</p>
<p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p><p><a href="https://4html.net/Advanced-HTML-Editor-869.html?v=4" target="_blank">free Online HTML Editor</a> are essential for an optimized website. Free HTML tool by 4html.net.</p>
</div>