<h2>India Embassy in Turkmenistan</h2>
<div class="content_format">
    <p>India Embassy in Turkmenistan is an office of communication between India Government and Turkmenistan. It operates as the official representative of the India in Turkmenistan. The following is major information about India Embassy for Turkmenistan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy- Turkmenistan</strong></p>
    <ul>
        <li>Add: International Business Centre,Y, Emre 1, Mir 2/1 P.O. Box No.80,Ashgabat,Turkmenistan</li>
        <li>Tel : +99-312-458-152 / +99-312-458-153</li>
        <li>Fax: +99-312-452-434 / +99-312-456-156</li>
        <li>Email: indembhoc@online.tm</li>
    </ul>
    <p><strong>India Embassy - Turkmenistan</strong></p>
    <p>Citizens or residents in Turkmenistan can just only directly contact and apply your India Visa at the India Embassy in Turkmenistan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>