<h2>India Embassy in UAE</h2>
<div class="content_format">
    <p>India Embassy in United Arab Emirates is an office of communication between India Government and United Arab Emirates. It operates as the official representative of the India in United Arab Emirates. The following is major information about India Embassy for United Arab Emirates and the way which you can apply you visa to India through:</p>
    <p><strong>India Embassy - United Arab Emirates</strong></p>
    <ul>
        <li>Add: Plot No. 10, Sector W-59/02,Diplomatic Area, Off-Airport Road, PO Box No.4090,Abu Dhabi, United Arab Emirates</li>
        <li>Tel : +971-2-4492700 / +971-2-4447729</li>
        <li>Fax: +971-2-4444685 / +971-2-4447768</li>
        <li>Email: hoc@indembassyuae.org</li>
        <li>Website: www.indembassyuae.org</li>
    </ul>
    <p><strong>India Consulate - United Arab Emirates</strong></p>
    <ul>
        <li>Add: Al Hamaria Diplomatic Enclave PO Box 737,Dubai, United Arab Emirates</li>
        <li>Tel : +971-4-3971222 / +971-4-3971333</li>
        <li>Fax: +971-4-3970453</li>
        <li>Email: cgidubai@emirates.net.ae</li>
        <li>Website: www.cgidubai.com</li>
    </ul>
    <p><strong>India Embassy - United Arab Emirates</strong></p>
    <p>Citizens or residents in United Arab Emirates can just only directly contact and apply your India Visa at the India Embassy in United Arab Emirates by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>