<h2>India Embassy in Uganda</h2>
<div class="content_format">
    <p>India Embassy in Uganda is an office of communication between India Government and Uganda. It operates as the official representative of the India in Uganda. The following is major information about India Embassy for Uganda and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission- Uganda</strong></p>
    <ul>
        <li>Add: 11 Kyaddondo Road, Nakasero PO Box 7040 Kampala,Kampala,Uganda</li>
        <li>Tel : +256-41-4257368 / +256-41-4342994 / +256-41-4344631</li>
        <li>Fax: +256-41-4254943</li>
        <li>Email: hoc.kampala@mea.gov.in</li>
    </ul>
    <p><strong>India Embassy - Uganda</strong></p>
    <p>Citizens or residents in Uganda can just only directly contact and apply your India Visa at the India Embassy in Uganda by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>