<h2>India Embassy in Ukraine</h2>
<div class="content_format">
    <p>India Embassy in Ukraine is an office of communication between India Government and Ukraine. It operates as the official representative of the India in Ukraine. The following is major information about India Embassy for Ukraine and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Ukraine</strong></p>
    <ul>
        <li>Add: 20-B, Maxima Berlinskogo Street Kiev, Ukraine,01901</li>
        <li>Tel : +380-44-4686661 / +380-44-4686219 / +380-44-4687032</li>
        <li>Fax: +380-44-4686619</li>
        <li>Email: india@indianembassy.org.ua</li>
        <li>Website: http://www.indianembassy.org.ua</li>
    </ul>
    <p><strong>India Embassy - Ukraine</strong></p>
    <p>Citizens or residents in Ukraine can just only directly contact and apply your India Visa at the India Embassy in Ukraine by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>