<h2>India Embassy in United Kingdom</h2>
<div class="content_format">
    <p>India Embassy in United Kingdom is an office of communication between India Government and United Kingdom. It operates as the official representative of the India in United Kingdom. The following is major information about India Embassy for United Kingdomand the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - United Kingdom</strong></p>
    <ul>
        <li>Add: India House Aldwych,Covent Garden,WC2B 4NA,London, United Kingdom</li>
        <li>Tel : +44-207-836-8484</li>
        <li>Fax: +44-207-836-4331</li>
        <li>Email: hc.office@hcilondon.in</li>
        <li>Website: www.hcilondon.in</li>
    </ul>
    <p><strong>India Consulate - United Kingdom</strong></p>
    <ul>
        <li>Add: 17, Rutland Square,EH1 2BB,Edinburgh,United Kingdom</li>
        <li>Tel : +44-131-2290011</li>
        <li>Fax: +44-131-2292155 / +44-131-2219712</li>
        <li>Email: cgindia@btconnect.com</li>
        <li>Website: www.cgiedinburgh.org</li>
    </ul>
    <p><strong>India Consulate - United Kingdom</strong></p>
    <ul>
        <li>Add: 20, Augusta Street, Jewellery Quart Hockley,B18 6JL,Birmingham, United Kingdom</li>
        <li>Tel : +44-121-212-2782</li>
        <li>Fax: +44-121-212-2786</li>
        <li>Email: hoc.birmingham@mea.gov.in</li>
        <li>Website: www.cgibirmingham.org</li>
    </ul>
    <p><strong>India Consulate - United Kingdom</strong></p>
    <ul>
        <li>Add: 63-67 Wellfield Road,CF24 3PA,Cardiff,United Kingdom</li>
        <li>Tel : +44-303-040-2777</li>
        <li>Fax: +44-303-040-2778</li>
        <li>Email: enquiries@hciwales.in</li>
    </ul>
    <p><strong>India Embassy - United Kingdom</strong></p>
    <p>Citizens or residents in United Kingdom can just only directly contact and apply your India Visa at the India Embassy in United Kingdom by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>