<h2>India Embassy in USA</h2>
<div class="content_format">
    <p>India Embassy in United States is an office of communication between India Government and United States. It operates as the official representative of the India in United States. The following is major information about India Embassy for United States and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - United States</strong></p>
    <ul>
        <li>Add: 2107, Massachusetts Avenue, NW 20008,Washington,United States</li>
        <li>Tel : +1-202-9397000</li>
        <li>Fax: +1-202-2654351</li>
        <li>Email: hoc.washington@mea.gov.in</li>
        <li>Website: www.indianembassy.org</li>
    </ul>
    <p><strong>India Consulate - United States</strong></p>
    <ul>
        <li>Add: 4300 Scotland Street,77007,Houston,Texas,United States</li>
        <li>Tel : +1-713-6262148 / +1-713-6262149</li>
        <li>Fax: +1-713-6262450</li>
        <li>Email: cgi-hou@swbell.net</li>
        <li>Website: www.cgihouston.org</li>
    </ul>
    <p><strong>India Consulate - United States</strong></p>
    <ul>
        <li>Add: 3 East 64th Street,NY 10021,New York, United States</li>
        <li>Tel : +1-212-7740600 / +1-312-5950410</li>
        <li>Fax: +1-312-5950416 / +1-312-5950418</li>
        <li>Email: hoc@indianconsulate.com</li>
        <li>Website: www.chicago.indianconsulate.com</li>
    </ul>
    <p><strong>India Consulate - United States</strong></p>
    <ul>
        <li>Add: 540 Arguello Boulevard,CA 94118,San Francisco, California,United States</li>
        <li>Tel : +1-415-6680662/ +1-415-6680683</li>
        <li>Fax: +1-415-6689764 / +1-415-6682073</li>
        <li>Email: cg@cgisf.org</li>
        <li>Website: www.cgisf.org</li>
    </ul>
    <p><strong>India Consulate - United States</strong></p>
    <ul>
        <li>5549 Glenridge Drive NE,GA-30342,Atlanta ,United States</li>
        <li>Tel : +1-404-9635902</li>
        <li>Email: contact@indianconsulateatlanta.org</li>
        <li>Website: http://www.indianconsulateatlanta.org/</li>
    </ul>
    <p><strong>India Embassy - United States</strong></p>
    <p>Citizens or residents in United States can just only directly contact and apply your India Visa at the India Embassy in United States by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>