<h2>India Embassy in Uzbekistan</h2>
<div class="content_format">
    <p>India Embassy in Uzbekistan is an office of communication between India Government and Uzbekistan. It operates as the official representative of the India in Uzbekistan. The following is major information about India Embassy for Uzbekistan and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Uzbekistan</strong></p>
    <ul>
        <li>Add: 15-16, Kara Bulak (Vakhshskaya),Street, Mirzo Ulugbek District 700052,Tashkent,Uzbekistan</li>
        <li>Tel : +998-71-1400983 / +998-71-1400997 / +998-71-1400998</li>
        <li>Fax: +998-71-1400987 / +998-71-1400999</li>
        <li>Email: consind@buzton.com</li>
        <li>Website: www.indembassy.uz</li>
    </ul>
    <p><strong>India Embassy - Uzbekistan</strong></p>
    <p>Citizens or residents in Uzbekistan can just only directly contact and apply your India Visa at the India Embassy in Uzbekistan by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>