<h2>India Embassy in Venezuela</h2>
<div class="content_format">
    <p>India Embassy in Venezuela is an office of communication between India Government and Venezuela. It operates as the official representative of the India in Venezuela. The following is major information about India Embassy for Venezuela and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Venezuela</strong></p>
    <ul>
        <li>Add: Quinta Tagore, No. 12, Avenida San Carlos,La Floresta,Caracas,Venezuela</li>
        <li>Tel : +58-212-2857887</li>
        <li>Fax: +58-212-2865131</li>
        <li>Email: com.caracas@mea.gov.in</li>
        <li>Website: www.embindia.org</li>
    </ul>
    <p><strong>India Consulate - Venezuela</strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
        <li>Add: Boolchand Pesoomal B.V. Freezone, Block DI-1, Gzeelandia Curacao, &nbsp;Venezuela</li>
        <li>Tel : +59-994-612262 / +59-994-162798</li>
        <li>Fax: +59-994-614345</li>
        <li>Email: ram.boolchand@gmail.com</li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>India Embassy - Venezuela</strong></p>
    <p>Citizens or residents in Venezuela can just only directly contact and apply your India Visa at the India Embassy in Venezuela by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>