<h2>India Embassy in Vietnam</h2>
<div class="content_format">
    <p>India Embassy in Vietnam is an office of communication between India Government and Vietnam. It operates as the official representative of the India in Vietnam. The following is major information about India Embassy for Vietnam and the way which you can apply you visa to India through :</p>
    <p><strong>India Embassy - Vietnam</strong></p>
    <ul>
        <li>Add: 58-60 Tran Hung Dao Str., Ha Noi, Vietnam</li>
        <li>Tel : +84-8-824-4989 / +84-8-824-4990 / +84-8-824-4994</li>
        <li>Fax: +84-8-824-4998</li>
        <li>Email: cons.hanoi@mea.gov.in</li>
        <li>Website: www.indembassy.com.vn</li>
    </ul>
    <p><strong>India Consulate - Vietnam</strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
        <li>Add: 55, Nguyen Dinh Chieu Street, District 3, Ho Chi Minh City, Vietnam</li>
        <li>Tel : +84-8-382-37050 / +84-8-382-37053</li>
        <li>Fax: +84-8-382-37047</li>
        <li>Email: cgihcmc@hcm.vnn.vn</li>
        <li>Website: www.india-consulate.org.vn</li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>India Embassy - Vietnam</strong></p>
    <p>Citizens or residents in Vietnam can just only directly contact and apply your India Visa at the India Embassy in Vietnam by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>