<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">Visa Fees Instruction </h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>There are two kinds of Indian visa fees that you have to pay for to get your e-Visa to India, including visa processing fee and Indian Government fee</p>
        <p>1. Indian e-Visa Processing Fee is 69 usd</p>
        <p>2. Indian e-Visa Government Fee</p>
        <p>Government fee is the amount that the applicant have to pay for the India Immigration Department. This fee is from 25 to 75 usd depend on your nationality.</p>
        <p>Please note: No any extra fee at the airport when you arrival in india</p>
        <p>If your would like to process the visa within 24 hours You should pay extra 79 usd on the top of normal visa</p>
        <p>With emergency situation you need to travel as soon as possible The extra fee for you to get visa is 99 usd on the top of normal visa</p>
        <ul>
        </ul>
      </section>
    </div>
  </div>
</div>
