<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">What is the e-Visa?</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p>From Oct 2014 India Government allow traveler travel to india with E visa . The visa will valid 60 days with double entry ( that mean you can enter india twice)</p>
      <h3>The evisa mean </h3>
      <p>The Evisa mean you can apply online, your visa will be granted an electronic visa (EVisa). This means you will not have a physical visa label in your passport. You may have to submit some document via email if it require.</p>
      <p>You’ll be told by email when your application has been decided. You can check your status on the website.</p>
      <p>The Evisa available for E-tourist visa, E-business visa E-medical visa</p>
      <p>If your application is successful, your visa approval letter will include your visa details</p>
      <h3>Verifying your visa status </h3>
      <p>Even if we don’t put a visa label in your passport, You can check if you are eligible to travel to India or not.</p>
      <p>You can also authorize our organizations, to view the details of your current visa through our Visa Verification Service.</p>
    </div>
  </div>
  <div style="margin:15px 0" class="aligncenter">
    <a href="/check-visa-valid" title="Check visa valid">
      <input class="btn btn-primary custom-button" style="margin:0 auto" value="Check visa valid" type="button"/>
    </a>
  </div>
</div>
