<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header class="">
        <h1 class="entry-title">Why choosing us</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <section>
        <p><a href="http://www.onlineindiaevisa.com/">www.onlineindiaevisa.com</a> is a subsidiary business of EVisa4U PTY LTD registered under Australian Business Number 18619971023</p>
        <p>Indiaonlineevisa (IOEV) in all notations are registered and fully qualified doing the Evisa for 17 years combined experience in migration. EI  base in Australia and  We have also Representative office in Hongkong, United Kingdom, United State . We co-copperated with many travel agency all over the world.</p>
        <p>IOEV  is a trusted partner with the Diplomatic Missions for administrative and non-judgmental tasks of outsourcing of Visas, Passports and Attestation Applications in India as well as abroad.</p>
        <p>We concentrate on getting Travel visa for customer, cover every situation could be happen with visa, and handle with urgent situation when traveler need visa ( Stuck at the airport, need the visa to go back home for the family reason.. ect)</p>
        <p>It is important to get the right advice from the beginning of the visa process. There are many case where Applicants have wasted time, effort and money pursuing the visa without advice. They get reject for their visa and they have to repay for the visa fee again.</p>
        <p>IOEV offer an Evisa services can better provide the type of expert advice, assistance and service that you need to submit a successful application for an India visa. Overall, a high level of service and protection is offered by Indiaonlineevisa (IOEV) in all notations. Our clients receive the benefit of this collective knowledge and expertise.</p>
        <p>When you have your matter deal with by us, your valuable time and money will not be expended on any unwarranted or unattainable applications. Under our direction, you can be confident that your India visa application will have UP TO 98% chance of approval.</p>
        <p>With E visa you can apply and get visa anytime from everywhere.</p>
        
        <p><b>OUR SERVICES AND BENEFIT WHEN APPLY WITH US</b></p> 
        <ul>
          <li>Check valid visa</li>
          <li>24/7 online eVisa India application </li>
          <li>Simple and fast online Visa application process </li>
          <li>Expert eVisa apply to the Indian Government </li>
          <li>No time limit before applying </li>
          <li>No Additional bank transaction commission fees of 2,5% </li>
          <li>Refund available if application is reject </li>
          <li>Email recovery of eVisa India if lost </li>
          <li>Approved online eVisa India application sent via email in PDF format </li>
          <li>24/7 professional call and email support </li>
          <li>Revision and correction of missing or incorrect information </li>
          <li>Verification and validation of eVisa India application requirements </li>
          <li>Online Visa form and privacy protection</li>
          <li>Self - Prepared India Visa Applications</li>         
        </ul>
      </section>
    </div>
  </div>
</div>
