<h2>India Embassy in Zambia</h2>
<div class="content_format">
    <p>India Embassy in Zambia is an office of communication between India Government and&nbsp;Zambia. It operates as the official representative of the India in Zambia. The following is major information about India Embassy for Zambia and the way which you can apply you visa to India through :</p>
    <p><strong>India High Comission - Zambia</strong></p>
    <ul>
        <li>Add: 1, Pandit Nehru Rd, P.O. Box 32111, Lusaka, Zambia</li>
        <li>Tel : 260-1-253-159 / 260-1-253-160</li>
        <li>Fax: +260-1-254-118</li>
        <li>Email: hc.lusaka@mea.gov.in</li>
        <li>Website: www.india.zm/</li>
    </ul>
    <p><strong>India Embassy - Zambia</strong></p>
    <p>Citizens or residents in Zambia can just only directly contact and apply your India Visa at the India Embassy in Zambia by yourself as above address.</p>
    <p>If you have any further questions or comments, please feel free to&nbsp;<a href="#">contact us</a>. Thank you!</p>
</div>