.account-menu {
  &.list-group {
    margin-left: 0;
    li {
      list-style-type: none;
      .list-group-item {
        &.active {
        	color: white;
            background-color: #fe8100;
            border-color: #fe8100;
          &:hover,
          &:focus {
            color: white;
            background-color: #fe8100;
            border-color: #fe8100;
          }
        }
        color: #fe8100;
        border-radius: 0;
      }
    }
  }
}
