.ember-light-table, body, html {
  font-family: "Open Sans", sans-serif;
}

.spinner, .tip {
  text-align: center;
}

.spinner {
  margin: 15px auto;
  width: 50px;
  height: 50px;
  font-size: 10px;
  > div {
    background-color: #dd6a58;
    height: 100%;
    width: 4px;
    display: inline-block;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    animation-delay: -1.1s;
  }
  .rect3 {
    animation-delay: -1s;
  }
  .rect4 {
    animation-delay: -0.9s;
  }
  .rect5 {
    animation-delay: -0.8s;
  }
}

@keyframes sk-stretchdelay {
  0%,
  100%,
  40% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}


.ember-light-table {
  width: 95%;
  //margin: 0 auto;
  margin-left: 40px;
  border-collapse: collapse;
  .multi-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  tfoot .lt-column {
    border-top: 1px solid #DADADA;
  }
  thead .lt-column {
    border-bottom: 1px solid #DADADA;
  }
  tfoot th.is-dragging, thead th.is-dragging {
    opacity: .75;
    background: #eee;
  }
  tfoot th.is-drag-target.drag-right, thead th.is-drag-target.drag-right {
    border-right: 1px dotted #DADADA;
  }
  tfoot th.is-drag-target.drag-left, thead th.is-drag-target.drag-left {
    border-left: 1px dotted #DADADA;
  }
  .lt-column {
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    .lt-sort-icon {
      width: 15px;
    }
    &.lt-group-column {
      border: none !important;
      padding-bottom: 10px;
    }
    .lt-column-resizer {
      border-right: 1px dashed #ccc;
      border-left: 1px dashed #ccc;
    }
  }
  .lt-row {
    height: 50px;
    &.is-selected {
      background-color: #DEDEDE;
    }
    &:not(.is-selected):hover {
      background-color: #F5F4F4;
    }
    &:last-of-type td {
      border-bottom-width: 0;
    }
    &.lt-expanded-row:hover, &.lt-no-data:hover {
      background-color: transparent;
    }
    &.lt-expanded-row td, &.lt-no-data td {
      padding: 15px;
    }
    &.colored-row {
      color: #fff;
      &:hover {
        opacity: 0.8;
      }
    }
    td {
      border-color: #DADADA;
      border-width: 0 0 1px;
      border-style: solid;
      font-size: 13px;
      padding: 0 10px;
    }
  }
}

tfoot {
  tr > td {
    border-top: 1px solid #DADADA;
    padding: 10px 10px 0;
    font-size: 13px;
  }
  form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .pagination {
    margin: 5px 0;
    li {
      > a {
        color: #d95743;
      }
      &.active > a {
        color: #fff;
        background: #d4442e;
        border-color: #c13c27;
        &:focus, &:hover {
          color: #fff;
          background: #d4442e;
          border-color: #c13c27;
        }
      }
      > a {
        &:focus, &:hover {
          color: #fff;
          background: #d4442e;
          border-color: #c13c27;
        }
      }
    }
  }
}

body, html {
  min-height: 100%;
  min-width: 100%;
  background-color: #F3F3F3;
  height: 100%;
}

label {
  font-weight: 600;
}

.navbar.navbar-default {
  background-color: #fff;
  margin: 0;
  .navbar-brand {
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    img {
      height: 32px;
      display: inline-block;
      margin-top: -15px;
    }
    span {
      font-size: 12px;
      vertical-align: super;
      text-transform: uppercase;
      color: #444;
    }
  }
  .navbar-nav {
    > li > a {
      font-size: 14px;
      font-weight: 200;
      &.github {
        font-size: 24px;
      }
    }
    &.dropdown-menu li a {
      font-size: 13px;
    }
    > {
      li > a {
        &:focus, &:hover {
          color: #dd6a58;
        }
      }
      .active > a {
        color: #dd6a58;
        background-color: transparent;
        &:focus, &:hover {
          color: #dd6a58;
          background-color: transparent;
        }
      }
    }
  }
}

.panel {
  width: 75%;
  margin: 2.5% auto;
  position: relative;
  .table-actions {
    position: absolute;
    left: -41px;
    width: 40px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #ccc;
    border-right-width: 0;
    top: 35%;
    cursor: pointer;
    .table-action {
      font-size: 20px;
      text-align: center;
      display: block;
      margin: 10px;
      color: #191919;
      opacity: 0.8;
      &:active, &:hover {
        opacity: 1;
      }
      &.delete {
        color: #dd6a58;
      }
    }
  }
  .panel-heading {
    background-color: #dd6a58;
    padding: 0;
    a {
      color: #F9F9F9;
      text-decoration: none;
      .panel-title {
        font-weight: 200;
        padding: 15px;
      }
    }
  }
  .code-snippet {
    background-color: #f8f8f8;
    max-height: 500px;
    overflow: auto;
    .nav-tabs li {
      > a {
        color: #8A8A8A;
        border-radius: 2px 2px 0 0;
        font-size: 12px;
      }
      &.active > a {
        background-color: #f8f8f8;
        color: #696969;
      }
    }
    .tab-content > .active {
      padding: 15px 15px 0;
    }
    pre {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}

.table-container {
  overflow-y: auto;
  &.fixed-header {
    overflow-y: hidden;
    margin-bottom: 15px;
  }
}

.user-actions a {
  color: #dd6a58;
  padding-right: 10px;
  font-size: 18px;
  width: 30px;
  text-decoration: none;
  cursor: pointer;
  &:active, &:focus, &:hover {
    color: #d95743;
  }
}

.user-avatar {
  border-radius: 50%;
  border: 1px solid #ccc;
}

.row-toggle {
  color: #dd6a58;
  cursor: pointer;
  &:active, &:focus, &:hover {
    color: #d95743;
  }
}

.tip {
  font-size: 13px;
  color: #4E4E4E;
  .icon-info {
    color: #dd6a58;
    margin-right: 3px;
  }
}

form .form-group {
  input, select {
    outline: 0;
    display: block;
    width: 100%;
    padding: 0 15px;
    border: 1px solid #d9d9d9;
    color: #6E6E6E;
    font-family: Roboto, sans-serif;
    -webkti-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .3s linear 0s;
    box-shadow: none;
  }
  input:focus, select:focus {
    color: #333;
    border-color: #b9b9b9;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}