.order-detail {
  margin: 40px;
  .order-detail--template {
    font-size: 15px;
  }
}

.order-list,
.email-notify-list {
  .ember-light-table {
    margin: 0 auto;
  }
}

.check-status {
  .raw-code {
    background: white;
    .refresh-code {
      line-height: 34px;
    }
  }
  .refresh-button {
    line-height: 34px;
  }
}
