{{#if session.isAuthenticated}}
<ul class="list-group account-menu">
{{!--   {{#if session.isAdmin}}
  <li>
    {{#link-to 'admin.manage-order' class='list-group-item'}}<i class="fa fa-tasks"></i> Admin Pages{{/link-to}}
  </li>
  {{/if}} --}}
  <li>
    {{#link-to 'account.order' class='list-group-item'}}<i class="fa fa-list"></i> Order{{/link-to}}
  </li>
  <li>
    {{#link-to 'account.profile' class='list-group-item'}} <i class="fa fa-user"></i> Profile{{/link-to}}
  </li>
  <li>
    {{#link-to 'account.change-password' class='list-group-item'}}<i class="fa fa-lock"></i> Change password{{/link-to}}
  </li>
  <li>
    {{#link-to 'account.promotion-policy' class='list-group-item'}}<i class="fa fa-tags"></i> Promotion Policy{{/link-to}}
  </li>
  <li>
    {{#link-to 'account.make-payment' class='list-group-item'}}<i class="fa fa-credit-card"></i> Make Payment{{/link-to}}
  </li>
  <li>
    <a class="pointer list-group-item" {{action 'logout'}}><i class="fa fa-sign-out"></i> Logout</a>
  </li>
</ul>
{{/if}}
