<article>
  <div class="container title-area">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <header>
          <h1 class="entry-title">Apply for a India Visa Online</h1>
          <div class="info">
            <div class="row">
              <div class="col-sm-3">
                <ul class="apply-visa-home-left-nav">
                  <li><i class="fa fa-caret-right"></i>{{#link-to "article" 'applying-for-india-visa'}}Applying for Evisa India{{/link-to}}</li>
                  <li><i class="fa fa-caret-right"></i>{{#link-to "article" 'what-is-e-visa'}}What is Evisa?{{/link-to}}</li>
                  <li><i class="fa fa-caret-right"></i>{{#link-to "article" 'why-choosing-us'}}Why choosing us?{{/link-to}}</li>
                </ul>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-3" style="padding-left: 0">
                    <label class="full">Number of visa</label>
                    <select rel="applicants"
                      style="width: 78%"
                      class="caption"
                      onchange={{action 'onNumberOfVisaChange' value="target.value"}}>
                      <option value="1" selected={{equal visaInfo.numberOfVisa '1'}} rel="1 Applicant">1</option>
                      <option value="2" selected={{equal visaInfo.numberOfVisa '2'}} rel="2 Applicant">2</option>
                      <option value="3" selected={{equal visaInfo.numberOfVisa '3'}} rel="3 Applicant">3</option>
                      <option value="4" selected={{equal visaInfo.numberOfVisa '4'}} rel="4 Applicant">4</option>
                      <option value="5" selected={{equal visaInfo.numberOfVisa '5'}} rel="5 Applicant">5</option>
                      <option value="6" selected={{equal visaInfo.numberOfVisa '6'}} rel="6 Applicant">6</option>
                      <option value="7" selected={{equal visaInfo.numberOfVisa '7'}} rel="7 Applicant">7</option>
                      <option value="8" selected={{equal visaInfo.numberOfVisa '8'}} rel="8 Applicant">8</option>
                      <option value="9" selected={{equal visaInfo.numberOfVisa '9'}} rel="9 Applicant">9</option>
                      <option value="10" selected={{equal visaInfo.numberOfVisa '10'}} rel="10 Applicant">10</option>
                      <option value="11" selected={{equal visaInfo.numberOfVisa '11'}} rel="11 Applicant">11</option>
                      <option value="12" selected={{equal visaInfo.numberOfVisa '12'}} rel="12 Applicant">12</option>
                      <option value="13" selected={{equal visaInfo.numberOfVisa '13'}} rel="13 Applicant">13</option>
                      <option value="14" selected={{equal visaInfo.numberOfVisa '14'}} rel="14 Applicant">14</option>
                      <option value="15" selected={{equal visaInfo.numberOfVisa '15'}} rel="15 Applicant">15</option>
                    </select>
                    <span class="question-mark thetooltip home-question tooltipstered"
                      data-toggle="tooltip"
                      data-container="body"
                      data-original-title="How many applicants would you like to apply visa for?">?</span>
                  </div>
                  <div class="col-sm-4">
                    <label class="full">Transportation Method <span class="question-mark transportation-method thetooltip tooltipstered arrival-port-type"
                      data-toggle="tooltip"
                      data-container="body"
                      data-original-title="Which transportation would you like to use to enter India ?">?</span></label>
                    <div class="radios">
                    {{#each ARRIVAL_PORT_TYPE as |port|}}
                      <input type="radio"
                        id={{concat "arrival_port_type_" port.key}}
                        value={{port.key}}
                        checked={{equal visaInfo.arrivalPortType port.key}} 
                        name="arrival_port_type" 
                        type-name={{port.detail}}
                        onchange={{action (mut visaInfo.arrivalPortType) value="target.value"}}>
                      <label for={{concat "arrival_port_type_" port.key}}>{{port.detail}}</label><br/>
                    {{/each}}
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <label class="full">Port of arrival</label>
                    <select name="port_of_arrival" class="combobox" onchange={{action (mut visaInfo.portOfArrival) value="target.value"}}>
                      {{#each PortOfArrivals as |poa|}}
                        <option value={{poa.key}} selected={{equal poa.key visaInfo.portOfArrival}}>{{poa.detail}}</option>
                      {{/each}}
                    </select>
                    <span class="question-mark thetooltip home-question tooltipstered" style="float:none; display:inline-block;"
                      data-toggle="tooltip"
                      data-container="body"
                      data-original-title="Which airport will you arrive in India?">?</span>
                  </div>
                </div>
                <div class="row" style="margin-top:20px">
                  <div class="col-sm-4">
                    <label class="full">Type of visa</label> 
                    <select class="inputbox caption combobox" rel="type" onchange={{action (mut visaInfo.typeOfVisa) value="target.value"}}>
                      {{#each TYPE_OF_CARDS as |type|}}
                        <option selected={{equal type.key visaInfo.typeOfVisa}} value={{type.key}} rel={{type.detail}} price={{type.key}}>{{type.detail}}</option>
                      {{/each}}
                    </select>
                    <span class="question-mark thetooltip home-question tooltipstered"
                      data-toggle="tooltip"
                      data-container="body"
                      data-original-title="What type of visa do you need?">?</span>
                  </div>
                  <div class="col-sm-8">
                    <label class="full">Processing Time</label>
                    <div class="radios">
                      {{#each PROCESS_TYPES as |type index|}}
                        <input type="radio" 
                          name="PROCESS_TYPES" 
                          price={{type.key}} 
                          value={{type.key}}
                          checked={{equal visaInfo.processType type.key}}
                          id={{concat 'process_type_' type.key}} 
                          rel={{type.detail}}
                          onchange={{action 'onProcessTypeChange' value="target.value"}}>
                        <label for={{concat 'process_type_' type.key}} >{{type.detail}}</label>
                        {{#if (not-eq PROCESS_TYPES.lastObject type)}}
                        <br/>
                        {{/if}}
                      {{/each}}
                    </div>
                      <input type="button" id="home_page_form" class="home_page_btn_apply" value="Apply Now" {{action "apply"}}>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!--<div class="row results">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 col-sm-offset-4">
              <input type="button" id="home_page_form" class="home_page_btn_apply" value="Apply Now" {{action "apply"}}>
            </div>
          </div>--}}
        </header>
      </div>
    </div>
  </div>
</article>