{{#if contactName}}
<strong>Dear {{contactName}}</strong><br/>
{{/if}}
Thank you for choosing us. We confirm that your payment has been unsuccessful. It could be some reasons:<br/>
- You canceled the payment<br/>
- You have entered incorrect card expiration<br/>
- You credit has reached the limit<br/>
- Computer or network error<br/>
- Your payment was failed with reasons: <br/>
<strong class="serious">Detail Error Message:</strong><br/>
{{#each errors as |error|}}
  <strong>{{error}}</strong>
{{/each}}
Please check your card details and kindly try to {{#link-to "make-payment"}}make payment{{/link-to}} again.<br/>
Best Regards,<br/>
<strong>Evisa4u Pty Ltd trading as <a href="https://onlineindiaevisa.com">www.onlineindiaevisa.com</a></strong><br/>
<strong>At your service 24/7.</strong>