{{#if error}}
  <div class="row text-center">
    {{#each error.errors as |e|}}
    <span class="alert alert-danger" style="display: inline">{{or e.detail.message e.detail}}</span>
    {{/each}}
  </div>
{{/if}}
{{#form-validation classNames="apply-visa-form-step2" rules=validationRules}}
  {{!--Applicants--}}
  <div class="row">
    <div class="col-md-12 applicant-wrapper">
      <h2 class="new-header" style="font-size: 18px !important; margin-bottom: 0 !important; text-align: left; !important; padding-left: 5px;">Visa Applicant Information</h2>
      {{#each visaInfo.applicants as |applicant|}}
      <div class="applicantID row " style="margin-left: auto; margin-right: auto;">
        {{#if (not-eq visaInfo.applicants.length 1)}}
        <div class="applicant-single">Applicant #{{applicant.id}}</div>
        {{/if}}
        <div class={{concat "row applicant-row applicant-" applicant.id}}>
          <div class="applicant-info">
            {{input type="text" 
              name=(concat "surName" applicant.id)
              value=applicant.surName
              required=true
              class="name"
              rel=(concat "surName" applicant.id) 
              placeholder="First Name"}}
            <div class={{concat "alert alert-danger surName" applicant.id ' required'}} role="alert">Please enter your first name</div>
          </div>
          <div class="applicant-info">
            {{input type="text" 
              name=(concat "givenName" applicant.id)
              value=applicant.givenName
              required=true
              class="giveName"
              rel=(concat "givenName" applicant.id) 
              placeholder="Last Name"}}
            <div class={{concat "alert alert-danger givenName" applicant.id ' required'}} role="alert">Please enter your last name</div>
          </div>
          <div class="applicant-info">
            <select name={{concat "gender" applicant.id}} 
              style="min-width: 61px"
              class="inputbox2"
              required=true
              rel={{concat "gender" applicant.id}}
              onchange={{action (mut applicant.gender) value="target.value"}}>
              {{#each GENDER as |gender|}}
                <option selected={{equal gender.key applicant.gender}} value={{gender.key}} rel={{gender.detail}} price={{gender.key}}>{{or gender.detail 'Gender'}}</option>
              {{/each}}
            </select>
            <div class={{concat "alert alert-danger gender" applicant.id ' required'}} role="alert">Please enter your gender</div>
          </div>
          <div class="applicant-info">
            {{input type='text'
              class='datepicker dateOfBirth'
              value=applicant.dateOfBirth
              name=(concat "dateOfBirth" applicant.id)
              required=true
              placeholder=(concat "Date of Birth (" formatDate ")")
              rel=(concat "dateOfBirth" applicant.id)
              keyUp=(action 'keyUp')
              keyDown=(action 'keyDown')}}
            <div class={{concat "alert alert-danger dateOfBirth" applicant.id ' required'}} role="alert">Please select your birthdate</div>
          </div>
          <div class="applicant-info">
            {{dropdown-nationality 
              name=(concat "nationality" applicant.id) 
              classNames="nationality"
              required=true
              rel=(concat "nationality" applicant.id)
              placeholder="Nationality"
              selectedValue=applicant.nationality}}
            <div class={{concat "alert alert-danger nationality" applicant.id ' required'}} role="alert">Please select your nationality</div>
          </div>
          <div class="applicant-info">
            {{input type="text" 
              name=(concat "passportNumber" applicant.id)
              value=applicant.passportNumber
              required=true
              class="passportNumber" 
              rel=(concat "passport" applicant.id)
              placeholder="Passport Number"}}
            <div class={{concat "alert alert-danger passportNumber" applicant.id ' required'}} role="alert">Please enter your passport number</div>
          </div>
        </div>
        {{!--<div class="applicant-single">Family applicant #{{applicant.id}}</div>--}}
        <div class={{concat "row applicant-row applicant-" applicant.id}}>
          <div class="applicant-info">
            <select name={{concat "relious" applicant.id}} 
              style="min-width: 68px"
              class="inputbox2" 
              rel={{concat "relious" applicant.id}}
              onchange={{action (mut applicant.relious) value="target.value"}}>
              <option selected={{equal applicant.relious ''}} value="">Religion</option>
              {{#each CONSTANTS.RELIOUS as |relious|}}
              <option selected={{equal applicant.relious relious}} value={{relious}}>{{relious}}</option>
              {{/each}}
            </select>
          </div>
          <div class="applicant-info">
            <select name={{concat "education" applicant.id}} 
              style="min-width: 140px"
              class="inputbox2" 
              rel={{concat "education" applicant.id}}
              onchange={{action (mut applicant.education) value="target.value"}}>
              <option selected={{equal applicant.education ''}} value="">Your Education</option>
              {{#each CONSTANTS.EDUCATIONS as |education|}}
              <option selected={{equal applicant.education education}} value={{education}}>{{education}}</option>
              {{/each}}
            </select>
          </div>
          <div class="applicant-info">
            {{input type="text" 
              name=(concat "fatherName" applicant.id)
              value=applicant.fatherName
              class="name"
              rel=(concat "fatherName" applicant.id) 
              placeholder="Father Name"
              }} 
             
          </div>
           <span class="question-mark thetooltip home-question tooltipstered"
            data-toggle="tooltip"
            data-container="body"
            data-original-title="If your parents was born from some specialist country of India Government You wont be able to get E-visa. Please provide correct information.">?</span>
          <div class="applicant-info">
            {{dropdown-nationality 
              name=(concat "fnationality" applicant.id) 
              classNames="nationality"
              rel=(concat "fnationality" applicant.id)
              placeholder="Father Nationality"
              selectedValue=applicant.fatherNationality}}
          </div>
          <div class="applicant-info">
            {{input type="text" 
              name=(concat "motherName" applicant.id)
              value=applicant.motherName
              class="name"
              rel=(concat "motherName" applicant.id) 
              placeholder="Mother Name"}}
          </div>
          <div class="applicant-info">
            {{dropdown-nationality 
              name=(concat "mnationality" applicant.id) 
              classNames="nationality"
              rel=(concat "mnationality" applicant.id)
              placeholder="Mother Nationality"
              selectedValue=applicant.motherNationality}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      How many time use travel to India this year?
      <select name="numverOfTravelInYear"
        onchange={{action (mut visaInfo.numverOfTravelInYear) value="target.value"}}
        style="width: 160px">
        <option selected={{equal visaInfo.numverOfTravelInYear ''}} value="">0</option>
        <option selected={{equal visaInfo.numverOfTravelInYear '1'}} value="1">1</option>
        <option selected={{equal visaInfo.numverOfTravelInYear '2'}} value="2">2</option>
        <option selected={{equal visaInfo.numverOfTravelInYear '3'}} value="3">3 or Over</option>
      </select>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-6">
      Do you have any family members is from Pakistan?<br/>
      <input checked={{equal visaInfo.question2 'Yes'}}  type="radio" name="question2" id="question2-yes" value="Yes" onchange={{action (mut visaInfo.question2) value="target.value"}}/><label for="question2-yes">Yes</label>
      <input checked={{equal visaInfo.question2 'No'}}  type="radio" name="question2" id="question2-no" value="No" onchange={{action (mut visaInfo.question2) value="target.value"}}/><label for="question2-no">No</label>
    </div>
    <div class="col-md-6">
      Do you have a physical or mental disorder; or are you a drug abuser or addict; or do you currently have any of the following diseases?<br/>
      <input checked={{equal visaInfo.question3 'Yes'}}  type="radio" name="question3" id="question3-yes" value="Yes" onchange={{action (mut visaInfo.question3) value="target.value"}}/><label for="question3-yes">Yes</label>
      <input checked={{equal visaInfo.question3 'No'}}  type="radio" name="question3" id="question3-no" value="No" onchange={{action (mut visaInfo.question3) value="target.value"}}/><label for="question3-no">No</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      Have you ever been arrested or convicted for a crime that resulted in serious damage to property, or serious harm to another person or government authority?<br/>
      <input checked={{equal visaInfo.question4 'Yes'}}  type="radio" name="question4" id="question4-yes" value="Yes" onchange={{action (mut visaInfo.question4) value="target.value"}}/><label for="question4-yes">Yes</label>
      <input checked={{equal visaInfo.question4 'No'}}  type="radio" name="question4" id="question4-no" value="No" onchange={{action (mut visaInfo.question4) value="target.value"}}/><label for="question4-no">No</label>
    </div>
    <div class="col-md-6">
      Have you ever violated any law related to possessing, using, or distributing illegal drugs?<br/>
      <input checked={{equal visaInfo.question5 'Yes'}}  type="radio" name="question5" id="question5-yes" value="Yes" onchange={{action (mut visaInfo.question5) value="target.value"}}/><label for="question5-yes">Yes</label>
      <input checked={{equal visaInfo.question5 'No'}}  type="radio" name="question5" id="question5-no" value="No" onchange={{action (mut visaInfo.question5) value="target.value"}}/><label for="question5-no">No</label>
    </div>
  </div>
  {{!--Contact Info--}}
  <div class="row"> 
    <div class="col-md-6">
      <div class="row">
        <h2 class="new-header" 
          style="font-size: 18px !important; margin-bottom: 0 !important; text-align: left; !important; padding-left: 5px;">Contact Information</h2>
        <div class="col-md-5"><label>Customer Name</label></div>
        <div class="col-md-7">
          {{input type="text" 
              name="contactName"
              value=visaInfo.contactName
              rel="contact name"
              required=true
              placeholder="Contact Name"}}
          <div class="alert alert-danger contactName required" role="alert">Please Enter Customer Name.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"><label>Address</label></div>
        <div class="col-md-7">
          {{input type="text" 
              name="contactAddress"
              value=visaInfo.contactAddress
              rel="address"
              required=true
              placeholder="Address"}}
          <div class="alert alert-danger contactAddress required" role="alert">Please Enter Address.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"><label>Country</label></div>
        <div class="col-md-7">
          {{dropdown-nationality 
            name="contactCountry"
            required=true
            rel="Country"
            placeholder="Country"
            selectedValue=visaInfo.contactCountry}}
          <div class="alert alert-danger contactCountry required" role="alert">Please Enter Country.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"><label>Phone number</label>
       <span class="question-mark thetooltip tooltipstered arrival-port-type"
        style="margin: 0 0 0 4px;float: none;display:inline-block;vertical-align: middle;"
        data-toggle="tooltip"
        data-container="body"
        data-original-title="Please put the valid number that we can contact incase we can not send visa to you.">?</span> 
          </div>
        <div class="col-md-7">
          {{input type="text" 
              name="contactPhone"
              value=visaInfo.contactPhone
              required=true
              rel="contact phone"
              placeholder="Phone Number"}}
          <div class="alert alert-danger contactPhone required" role="alert">Please Enter Phone Number.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="new-header" 
        style="font-size: 22px !important; margin-bottom: 0 !important; text-align: left; !important; padding-left: 5px;">&nbsp;</h2>
      <div class="row">
        <div class="col-md-5"><label>Date of Arrival</label></div>
        <div class="col-md-7">
          {{bootstrap-datepicker type="text" 
              name="dateOfArrival"
              class="datepicker"
              value=visaInfo.dateOfArrival
              required=true
              rel="Date of Arrival"
              placeholder=(concat "Date of Arrival (" formatDate ")")}}
          <div class="alert alert-danger dateOfArrival required" role="alert">Please Enter Date of Arrival.</div>
          <div class="alert alert-danger dateOfArrival arrival" role="alert">You can enter India from {{today}} (India Time : GMT+5:30)</div>
        </div>
      </div>
      {{#if showFlightNumber}}
        <div class="row">
          <div class="col-md-12" style="color: red">
            Please fill your Flight Number, Arrival time and you will get visa in Super Urgent (Within 5 business hours), unless you must change the Arrival Date.
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" style="color: red"><label>Flight Number</label></div>
          <div class="col-md-7">
            {{input type="text"
              classNames="serious"
              name="flightNumber"
              value=visaInfo.flightNumber
              rel="Flight Number"
              required=true
              placeholder="Flight Number"}}
            <div class="alert alert-danger flightNumber required" role="alert">Please Enter Flight Number.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" style="color: red"><label>Arrival Time</label></div>
          <div class="col-md-7">
            {{input type="text"
              classNames="serious"
              name="arrivalTime"
              value=visaInfo.arrivalTime
              rel="Arrival Time"
              required=true
              placeholder="Arrival Time"}}
            <label>(ie. 10:30AM)</label>
            <div class="alert alert-danger arrivalTime required" role="alert">Please Enter Arrival Time.</div>
          </div>
        </div>
      {{/if}}
      <div class="row">
        <div class="col-md-5"><label>Date Of Departure</label></div>
        <div class="col-md-7">
          {{bootstrap-datepicker type="text" 
              name="dateOfDeparture"
              class="datepicker"
              value=visaInfo.dateOfDeparture
              required=true
              rel="Date Of Departure"
              placeholder=(concat "Date Of Departure (" formatDate ")")}}
          <div class="alert alert-danger dateOfDeparture required" role="alert">Please Enter Date Of Departure.</div>
          <div class="alert alert-danger dateOfDeparture departure" role="alert">Please Enter Date Of Departure less than Date Of Arrival is 60 days.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Contact Email  <span class="question-mark thetooltip tooltipstered arrival-port-type"
        style="margin: 0 0 0 4px;float: none;display:inline-block;vertical-align: middle;"
        data-toggle="tooltip"
        data-container="body"
        data-original-title="Please use the email address was live  Because you will receive the visa via email">?</span> 
        </label>
        </div>
        <div class="col-md-7">
          {{input type="text" 
              name="contactEmail"
              value=visaInfo.contactEmail
              required=true
              rel="contact email"
              placeholder="Contact Email"}}
          <div class="alert alert-danger contactEmail required" role="alert">Please Enter Contact Email.</div>
          <div class="alert alert-danger contactEmail email" role="alert">Please Enter correct Contact Email.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"><label>Confirm Email</label></div>
        <div class="col-md-7">
          {{input type="text" 
              name="confirmEmail"
              rel="confirm email"
              required=true
              placeholder="Confirm Email"}}
          <div class="alert alert-danger confirmEmail required" role="alert">Please Enter Confirm Email.</div>
          <div class="alert alert-danger confirmEmail equalTo" role="alert">Confirm Email and Contact Email are not the same.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" style="width: 21%"><label>Note</label></div>
    <div class="col-md-9" style="width: 79%">
      {{textarea
        name="contactNote"
        value=visaInfo.contactNote
        rel="note"
        cols="28"
        placeholder="Note"}}
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-5">
      <input type="checkbox" name="agree" id="agree" required=true/>
      <label for="agree" class="agree">I agree with {{#link-to 'article' 'term-of-condition' title="terms and conditions"}}terms and conditions.{{/link-to}}</label>
      <div class="alert alert-danger agree required" role="alert">You must agree to the terms first.</div><br/>
      <input type="checkbox" name="declare" id="declare" required=true/>
      <label for="declare" class="agree">I declare that information I have given in this application is truthful, complete and correct</label>
      <div class="alert alert-danger declare required" role="alert">You must declare to your information in this application is truthful, complete and correct.</div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6 btn_prev" {{action "prev"}}>Prev</div>
        <div class="col-md-6 btn_next" {{action "next"}}>Next</div>
      </div>
    </div>
  </div>
{{/form-validation}}