{{#if contactName}}
<strong>Dear {{contactName}}</strong><br/>
{{/if}}
Thank you for your payment. Once verified, we will begin processing your visa. Please check your email to get information from us.
Best Regards,<br/>
<strong>Evisa4u Pty Ltd trading as <a href="https://onlineindiaevisa.com">www.onlineindiaevisa.com</a></strong><br/>
<strong>At your service 24/7.</strong>