<div class="info">
  <div class="row">
    <div class="col-md-4">
      <label class="full">Number of visa</label>
      <select rel="applicants" class="caption" onchange={{action 'onNumberOfVisaChange' value="target.value"}}>
        <option value="1" selected={{equal visaInfo.numberOfVisa '1'}} rel="1 Applicant">1</option>
        <option value="2" selected={{equal visaInfo.numberOfVisa '2'}} rel="2 Applicant">2</option>
        <option value="3" selected={{equal visaInfo.numberOfVisa '3'}} rel="3 Applicant">3</option>
        <option value="4" selected={{equal visaInfo.numberOfVisa '4'}} rel="4 Applicant">4</option>
        <option value="5" selected={{equal visaInfo.numberOfVisa '5'}} rel="5 Applicant">5</option>
        <option value="6" selected={{equal visaInfo.numberOfVisa '6'}} rel="6 Applicant">6</option>
        <option value="7" selected={{equal visaInfo.numberOfVisa '7'}} rel="7 Applicant">7</option>
        <option value="8" selected={{equal visaInfo.numberOfVisa '8'}} rel="8 Applicant">8</option>
        <option value="9" selected={{equal visaInfo.numberOfVisa '9'}} rel="9 Applicant">9</option>
        <option value="10" selected={{equal visaInfo.numberOfVisa '10'}} rel="10 Applicant">10</option>
        <option value="11" selected={{equal visaInfo.numberOfVisa '11'}} rel="11 Applicant">11</option>
        <option value="12" selected={{equal visaInfo.numberOfVisa '12'}} rel="12 Applicant">12</option>
        <option value="13" selected={{equal visaInfo.numberOfVisa '13'}} rel="13 Applicant">13</option>
        <option value="14" selected={{equal visaInfo.numberOfVisa '14'}} rel="14 Applicant">14</option>
        <option value="15" selected={{equal visaInfo.numberOfVisa '15'}} rel="15 Applicant">15</option>
      </select>
      <span class="question-mark thetooltip home-question tooltipstered"
        data-toggle="tooltip"
        data-container="body"
        data-original-title="How many applicants would you like to apply visa for?">?</span>
    </div>
    <div class="col-md-4">
      <label class="full">Transportation Method <span class="question-mark thetooltip tooltipstered arrival-port-type"
        style="margin: 0 0 0 4px;float: none;display:inline-block;vertical-align: middle;"
        data-toggle="tooltip"
        data-container="body"
        data-original-title="Which transportation would you like to use to enter India ?">?</span></label>
      {{#each ARRIVAL_PORT_TYPE as |port|}}
        <input type="radio"
          id={{concat "arrival_port_type_" port.key}}
          value={{port.key}}
          checked={{equal visaInfo.arrivalPortType port.key}} 
          name="arrival_port_type" 
          type-name={{port.detail}}
          onchange={{action (mut visaInfo.arrivalPortType) value="target.value"}}>
        <label for={{concat "arrival_port_type_" port.key}}>{{port.detail}}</label><br/>
      {{/each}}
    </div>
    <div class="col-md-4">
      <label class="full">Port of arrival</label>
      <select name="port_of_arrival" class="caption" onchange={{action (mut visaInfo.portOfArrival) value="target.value"}}>
        {{#each PortOfArrivals as |poa|}}
          <option value={{poa.key}} selected={{equal poa.key visaInfo.portOfArrival}}>{{poa.detail}}</option>
        {{/each}}
      </select>
      <span class="question-mark thetooltip home-question tooltipstered"
        data-toggle="tooltip"
        data-container="body"
        data-original-title="Which airport will you arrive in India?">?</span>
    </div>    
  </div>
  <div class="row">
    <div class="col-md-4">
      <label class="full">Type of visa</label> 
      <select class="inputbox caption" rel="type" onchange={{action (mut visaInfo.typeOfVisa) value="target.value"}}>
        {{#each TYPE_OF_CARDS as |type|}}
          <option selected={{equal type.key visaInfo.typeOfVisa}} value={{type.key}} rel={{type.detail}} price={{type.key}}>{{type.detail}}</option>
        {{/each}}
      </select>
      <span class="question-mark thetooltip home-question tooltipstered"
        data-toggle="tooltip"
        data-container="body"
        data-original-title="What type of visa do you need?">?</span>
    </div>
    <div class="col-md-8">
      <label class="full">Processing Time</label>
      <div class="radios">
        {{#each PROCESS_TYPES as |type index|}}
          <input type="radio" 
            name="PROCESS_TYPES" 
            price={{type.key}} 
            value={{type.key}}
            checked={{equal visaInfo.processType type.key}}
            id={{concat 'process_type_' type.key}} 
            rel={{type.detail}}
            onchange={{action 'onProcessTypeChange' value="target.value"}}>
          <label for={{concat 'process_type_' type.key}} >{{type.detail}}</label>
          {{#if (not-eq PROCESS_TYPES.lastObject type)}}
          <br/>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <input type="button" class="btn-next" value="Next" {{action "apply"}} style="width: 100%">
    </div>
  </div>
</div>
