<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {{#if (or (equal step CONSTANTS.STEP_STATUS.INFO) (equal step CONSTANTS.STEP_STATUS.DETAIL_APPLICANT) (equal step CONSTANTS.STEP_STATUS.PAYMENT))}}
          <section class="entry-content">
            <ul class="form-menu">
              <li class={{concat (if (equal step CONSTANTS.STEP_STATUS.INFO) 'active ') 'list1'}}>1. <span>Visa Options</span></li>
              <li class={{concat (if (equal step CONSTANTS.STEP_STATUS.DETAIL_APPLICANT) 'active ') 'list2'}}>2. <span>Applicant Detail</span></li>
              <li class={{concat (if (equal step CONSTANTS.STEP_STATUS.PAYMENT) 'active ') 'list3'}}>3. <span>Review &amp; Payment</span></li>
            </ul>
            <div class="step step1">
              {{component (concat 'apply-visa-step' step) isRushVisa=isRushVisa}}
            </div>
          </section>
        {{else}}
          {{component (concat 'apply-visa-step' step)}}
        {{/if}}
      </div>
    </div>
  </div>
</article>