<h2 class="text-center">Change Profile</h2>
<div class="profile">
  {{#if error}}
    <div class="row text-center" style="margin: 20px 0;">
      {{#each error.errors as |e|}}
      <span class="alert alert-danger" style="display: inline">{{or e.detail.message e.detail}}</span>
      {{/each}}
    </div>
  {{else if done}}
    <div class="row text-center" style="margin: 20px 0;">
      <span class="alert alert-success" style="display: inline">Updated!</span>
    </div>
  {{/if}}

  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Full Name</label></div>
    <div class="col-md-4">
      {{input class="form-control" type="text" value=user.fullname}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Email</label></div>
    <div class="col-md-4">
      {{input type="email" class="form-control" name="email" disabled=true value=user.email}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Contact Phone</label></div>
    <div class="col-md-4">
      {{input class="form-control" type="text" value=user.phone}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Address</label></div>
    <div class="col-md-4">
      {{input class="form-control" type="text" value=user.address}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Country</label></div>
    <div class="col-md-4">
      {{input class="form-control" type="text" value=user.country}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12 text-center col-md-offset-4">
      <button class="btn btn-primary custom-button" {{action 'submit'}}>Submit</button>
    </div>
  </div>  
</div>