{{#if error}}
  <div class="row text-center">
    {{#each error.errors as |e|}}
    <span class="alert alert-danger" style="display: inline">{{or e.detail.message e.detail}}</span>
    {{/each}}
  </div>
{{else if done}}
  <div class="row text-center">
    <span class="alert alert-success" style="display: inline">Changed password</span>
  </div>
{{/if}}
{{#form-validation classNames='changePWD-form' rules=validationRules}}
<h2 class="text-center">Change Password</h2>
<div class="profile">
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Current Password</label></div>
    <div class="col-md-4">
      {{input class="form-control" 
        type="password" 
        required=true
        name='currentPassword'
        minlength=6
        maxlength=20
        value=currentPassword}}
       <div class="alert alert-danger currentPassword required" role="alert">Please enter Current Password.</div>
    </div>        
  </div>
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>New Password</label></div>
    <div class="col-md-4">
      {{input class="form-control" 
        type="password"
        required=true
        name='newPassword'
        minlength=6
        maxlength=20
        value=newPassword}}
        <div class="alert alert-danger newPassword required" role="alert">Please enter New Password.</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Confirm Password</label></div>
    <div class="col-md-4">
      {{input class="form-control" 
        type="password"
        required=true
        name='confirmPassword'
        minlength=6
        maxlength=20
        value=confirmPassword}}
        <div class="alert alert-danger confirmPassword required" role="alert">Please enter Confirm Password.</div>
         <div class="alert alert-danger confirmPassword equalTo" role="alert">Confirm password and Password are not the same.</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12 text-center col-md-offset-4">
      <button class="btn btn-primary custom-button" {{action 'changePassword' }}>Submit</button>
    </div>
  </div>  
</div>
{{/form-validation}}