<article>
  <div class="container check-status">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {{#if table}}
          <div class="row" style="margin-top: 20px; margin-bottom: 20px">
            <div class="col-md-12">
              <div class="alert-success" style="padding: 0 15px">Request Complete!</div>
            </div>
          </div>
          {{order-list
            data=table
            disabledScroll=true
            routePath="check-status.status-order"}}
        {{else}}
          <section class="entry-content">
            <div class="step step1">
              {{#form-validation classNames="form-check-status" rules=validationRules}}
                <div class="row">
                  <div class="col-md-12">
                    <div class="row form-group">
                      <h2 class="new-header text-center" style="font-size: 22px !important; margin-bottom: 0 !important; padding-left: 5px;">Secure Online Payment</h2>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label>Application Reference (or Your Full name)</label></div>
                      <div class="col-md-7">
                        {{input class="form-control" type="text" 
                          maxlength="100" 
                          name="fullname" 
                          rel="fullname" 
                          value=status.contactName
                          required=true}}
                        <div class="alert alert-danger fullname required" role="alert">This field is required.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label>Passport Number</label></div>
                      <div class="col-md-7">
                        {{input class="form-control" type="text" maxlength="100" name="passport" rel="passport" value=status.contactPassport required=true}}
                        <div class="alert alert-danger passport required" role="alert">This field is required.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label>Your Email ( which you use to apply)</label></div>
                      <div class="col-md-7">
                        {{input class="form-control" type="text" maxlength="100" name="contactEmail" rel="email" value=status.contactEmail required=true}}
                        <div class="alert alert-danger contactEmail required" role="alert">This field is required.</div>
                        <div class="alert alert-danger contactEmail email" role="alert">Please Enter correct Contact Email.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label>Your Request</label></div>
                      <div class="col-md-7">
                        {{input class="form-control" type="text" maxlength="150" name="note" rel="note" value=status.request required=true}}
                        <div class="alert alert-danger note required" role="alert">This field is required.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label>Sercurity Code</label></div>
                      <div class="col-md-4">
                        {{input class="form-control" type="text" maxlength="10" name="code" rel="code" value=sercurityCode required=true}}
                        <div class="alert alert-danger code required" role="alert">This field is required.</div>
                      </div>
                      <div class="col-md-2 raw-code">
                        <div class="refresh-code">
                          {{rawCode}}
                        </div>
                      </div>
                      <div class="col-md-1">
                        <a href="#" class="refresh-button"><span class="glyphicon glyphicon-refresh" {{action 'refreshCode' }}></span></a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"></div>
                      <div class="col-md-7">
                        <button class="btn custom-button btn-primary {{if isUpdate '' 'disabled'}}" {{action 'checkStatus' status}}>Check Status</button>
                      </div>
                    </div>
                  </div>
                </div>
              {{/form-validation}}
            </div>
          </section>
        {{/if}}
      </div>
    </div>
  </div>
</article>
