<article>
  <div class="container check-visa-valid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="step step1">
          <section class="entry-content">

            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="row form-group">
                    <h2 class="new-header">
                      Verifying your visa status
                    </h2>
                    <div>
                      If you have applied via a Private company online and you would like to make sure that your visa is valid to enter India.
                      We help you here Even if we don’t put a visa label in your passport, You can check if you are eligible
                      to travel to india or not. You can also authorise our organisations, to view the details of your current
                      visa through our Visa Verification Service.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="row form-group">
                    <h2 class="new-header" style="font-size: 22px !important; margin-bottom: 0 !important; text-align: left; !important; padding-left: 5px;">
                      Support to collect visa from Government
                    </h2>
                    <span>
                      If you apply E-visa with Government but you don’t get the visa from them and you have the ID number only. We can support
                      you get the visa from India gorvenment </span>
                  </div>

                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-6">

                {{#form-validation classNames="form-check-valid-visa" rules=validationRules}}

                <div class="row">
                  <div class="row form-group">
                    <div class="col-md-5">
                      <label>Email</label>
                    </div>
                    <div class="col-md-7">
                      {{input type="text" class="form-control" 
                      name="Email" 
                      rel="Email" value = visaValid.Email required=true}}
                      <div class="alert alert-danger Email required" role="alert">This field is required.</div>
                        <div class="alert alert-danger Email email" role="alert">Please Enter correct Contact Email.</div>
                   
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <label>ID Number</label>
                    </div>
                    <div class="col-md-7">
                      {{input type="text" class="form-control" 
                      name="idNumber"
                       rel="idNumber" 
                       value = visaValid.idNumber required=true}}
                      <div class="alert alert-danger idNumber required" role="alert">This field is required.</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <label>Passport Number</label>
                    </div>
                    <div class="col-md-7">
                      {{input type="text" class="form-control" name="passportNumber" rel="passportNumber" value = visaValid.passportNumber required=true}}
                      <div class="alert alert-danger passportNumber required" role="alert">This field is required.</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <label>Security code</label>
                    </div>
                    <div class="col-md-4">
                      {{input class="form-control" type="text" maxlength="10" name="code" rel="code" value=sercurityCode required=true}}
                      <div class="alert alert-danger sercurityCode required" role="alert">Please enter match this field.</div>
                    </div>
                    <div class="col-md-2 raw-code">
                      <div class="refresh-code">
                        {{rawCode1}}
                      </div>
                    </div>
                    <div class="col-md-1">
                      <a href="#" class="refresh-button">
                        <span class="glyphicon glyphicon-refresh" {{action 'refreshCode1' }}></span>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <label>Payment box</label>
                    </div>
                    <div class="col-md-7">
                      39$
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                      <button class="btn btn-primary custom-button  {{if isUpdate '' 'disabled'}}" {{action 'checkStatus' visaValid}}>Check Visa</button>
                    </div>
                  </div>

                </div>
                {{/form-validation}}
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
                  {{#form-validation classNames="form-check-pickup-visa" rules=validationPickupRule}}

                  <div class="row form-group">
                    <div class="col-md-12 ">
                      <div class="row form-group">
                        <div class="col-md-5">
                          <label>Email</label>
                        </div>
                        <div class="col-md-7">
                          {{input type="text" 
                          class="form-control" 
                          name="Email" 
                          rel="Email" 
                          value=pickupVisa.Email
                          required=true}}
                          <div class="alert alert-danger Email required" role="alert">This field is required.</div>
                           <div class="alert alert-danger Email email" role="alert">Please Enter correct Contact Email.</div>
                   
                        </div>
                      </div>

                      <div class="row form-group">
                        <div class="col-md-5">
                          <label>ID Number</label>
                        </div>
                        <div class="col-md-7">
                          {{input type="text" class="form-control" 
                          name="idNumber" 
                          rel="idNumber" 
                          value=pickupVisa.idNumber
                          required=true}}
                          <div class="alert alert-danger idNumber required" role="alert">This field is required.</div>
                        
                        </div>


                      </div>
                      <div class="row form-group">
                        <div class="col-md-5">
                          <label>Passport Number</label>
                        </div>
                        <div class="col-md-7">
                          {{input type="text" 
                          class="form-control" 
                          name="passportNumber" 
                          rel="passportNumber" 
                          value=pickupVisa.passportNumber
                          required=true}}
                          <div class="alert alert-danger passportNumber required" role="alert">This field is required.</div>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-5">
                          <label>Security code</label>
                        </div>
                        {{!--
                        <div class="col-md-7">
                          {{input type="text" class="form-control" name="amount" rel="Amount" required=true}}
                          <div class="alert alert-danger amount required" role="alert">This field is required.</div>
                        </div>
                        <div class="col-md-5">
                          <label>Sercurity Code</label>
                        </div>--}}
                        <div class="col-md-4">
                          {{input class="form-control" 
                          type="text" maxlength="10" 
                          name="code" rel="code" 
                          value=sercurityCode1 
                          required=true}}
                          <div class="alert alert-danger sercurityCode1 required" role="alert">Please enter match this field.</div>
                        </div>
                        <div class="col-md-2 raw-code">
                          <div class="refresh-code">
                            {{rawCode}}
                          </div>
                        </div>
                        <div class="col-md-1">
                          <a href="#" class="refresh-button">
                            <span class="glyphicon glyphicon-refresh " {{action 'refreshCode' }}></span>
                          </a>
                        </div>


                      </div>
                      <div class="row form-group">
                        <div class="col-md-5">
                          <label>Payment box</label>
                        </div>
                        <div class="col-md-7">
                          39$
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                          <button class="btn btn-primary custom-button {{if isUpdatePickup '' 'disabled'}}" {{action 'pickupVisa' pickupVisa}}>Pick up Visa</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/form-validation}}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</article>