<div class="col-md-6">

{{#light-table table
  height='65vh'
  responsive=true
  onAfterResponsiveChange=(action 'onAfterResponsiveChange')
  as |t|
}}

  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    canSelect=true
    expandOnClick=false
    onRowClick=(action 'onRowClick')
    as |body|
  }}
    {{#body.expanded-row as |row|}}
      {{order-list/expanded-row table=table row=row}}
    {{/body.expanded-row}}

    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}

</div>
{{#if item}}
<div class="col-md-6">
  <h4 class="text">Content Page Detail</h4>
  <div class="row">
    <div class="col-md-7">
      <div class="row form-group"> 
        <div class="col-md-5">Content ID</div>
        <div class="col-md-7">
          {{item.contentId}}
          </div>
        </div>
        <div class="row form-group">  
          <div class="col-md-5">Path to HTML</div>
          <div class="col-md-7">
          {{textarea 
            class="form-control"
            value=item.path
            cols="80" 
            rows="4"
            placeholder="Path to HTML"}}
          </div>
      </div>
      <div class="row form-group"> 
        <div class="col-md-5">Title</div>
        <div class="col-md-7">
          {{input type="text" 
            class="form-control"
            value=item.title
            placeholder="Title"}}
        </div>
      </div>
      <button type="button" class="btn btn-primary {{if isUpdated '' 'disabled'}}" {{action "update"}}>Update</button>
    </div>
  </div>
</div>
{{/if}}