<select name={{name}}
  class={{classNames}}
  rel={{rel}}
  required={{if required true false}}
  onchange={{action (mut selectedValue) value="target.value"}}>
  <option selected={{equal selectedValue ''}} value="">{{placeholder}}</option>
  {{#each nationalities as |nationality|}}
    <option selected={{equal selectedValue nationality.key}} value={{nationality.key}}>{{nationality.detail}}</option>
  {{/each}}
</select>