<div class="col-md-7">

{{#light-table table
  height='65vh'
  responsive=true
  onAfterResponsiveChange=(action 'onAfterResponsiveChange')
  as |t|
}}
{{t.head fixed=true}}

  {{#t.body
    canSelect=true
    expandOnClick=false
    onRowClick=(action 'onRowClick')
    as |body|
  }}
    {{#body.expanded-row as |row|}}
      {{order-list/expanded-row table=table row=row}}
    {{/body.expanded-row}}

    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}

</div>
{{#if item }}
 {{#form-validation classNames="form"}}
<div class="col-md-5">
  <h4 class="text">Fee Detail</h4>
  <div class="row">
    <div class="col-md-9">
      <div class="row form-group"> 
        <div class="col-md-3">{{columnsFormat.1.label}}</div>
        <div class="col-md-9">
          {{item.key}}
          </div>
        </div>
        <div class="row form-group">  
          <div class="col-md-3">{{columnsFormat.2.label}}</div>
          <div class="col-md-9">
          {{input type="text" 
            class="form-control"
            name="description"
            value=item.detail
            maxlength=150
            required=true
            placeholder=columnsFormat.2.label}}
             <div class="alert alert-danger description required" role="alert">This field is required.</div>
          </div>
         
      </div>
      {{#if columnsFormat.3.label}}
      <div class="row form-group"> 
        <div class="col-md-3">{{columnsFormat.3.label}}</div>
        <div class="col-md-9">
          {{input type="number" 
            class="form-control"
            name="fee"
            value=item.value
            min="1" max="2000"
            required=true
            placeholder=columnsFormat.3.label}}
            <div class="alert alert-danger fee required" role="alert">This field is required.</div>
        </div>
      </div>
      {{/if}}
      <button type="button" class="btn btn-primary" {{action "update"}}>Update</button>
    </div>
  </div>
</div>
 {{/form-validation}}
 {{/if}}