<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-13">
            <div class="widget">
              <li id="text-7" class="widget-container widget_text">
                <div class="textwidget">
                  <a href="/article/about-us" class="widget-title">
                    <h3 class="widget-title">About us</h3>
                  </a>
                  <ul class="menu">
                     <li><i class="fa fa-caret-right"></i>
                      <a href="/article/disclaimer">Disclaimer</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/term-of-condition">Terms and conditions</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/private-policy">Private policy</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/refund-policy">Refund policy</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/cookie-policy">Cookie policy</a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>
          </div>
          <div class="col-sm-13">
            <div class="widget">
              <li id="text-7" class="widget-container widget_text">
                <div class="textwidget">
                  <a href="#" class="widget-title">
                    <h3 class="widget-title">Visa Infor</h3>
                  </a>
                  <ul id="menu-visa-info" class="menu">
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/rush-visa" title="Rush visa">Emergency visa</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/india-tourist-visa" title="India toursit visa">India Toursit visa</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/business-visa" title="India business visa">India Business visa</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/medical-visa" title="India medical visa">India Medical visa</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i> {{#link-to 'check-visa-valid' title="Check Visa"}}Check your visa valid{{/link-to}}
                    </li>
                  </ul>
                </div>
              </li>
            </div>
          </div>
          <div class="col-sm-13">

            <div class="widget">
              <li id="text-7" class="widget-container widget_text">
                <div class="textwidget">
                  <a href="#" class="widget-title">
                    <h3 class="widget-title">Useful Information</h3>
                  </a>
                  <ul id="menu-visa-info" class="menu">
                    <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
                      <i class="fa fa-caret-right"></i><a href="/article/payment-guideline">Payment Guidelines</a></li>
                    <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
                      <i class="fa fa-caret-right"></i><a href="/make-payment">Make payment</a></li>
                    <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
                      <i class="fa fa-caret-right"></i><a href="/embassies">Embassy</a></li>
                    <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
                      <i class="fa fa-caret-right"></i><a href="/article/photo-require">Provide Photo</a></li>
                  </ul>
                </div>
              </li>
            </div>
          </div>

          <div class="col-sm-13">
            <div class="widget">
              <li id="text-7" class="widget-container widget_text">
                <div class="textwidget">
                  <a href="#" class="widget-title">
                    <h3 class="widget-title">Customer Service</h3>
                  </a>
                  <ul id="menu-visa-info" class="menu">
                    <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
                      <i class="fa fa-caret-right"></i><a href="mailto:visa@onlineindiaevisa.com">Send Us Email</a></li>
                    <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
                      <i class="fa fa-caret-right"></i><a href="javascript:Tawk_API.toggle()">Chat With Us</a></li>
                   <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
                      <i class="fa fa-caret-right"></i><a href="tel:+61 2 80074425">Hotline</a></li>
                      <div class="textwidget">
                      <div>
                        {{!--<span>8.00 AM-21.00 PM, GMT +7</span>--}}
                        {{!-- <img width="20" height="14" alt="United States" title="Australia" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696083-flag-australia.png"><a style="font-size: 16px;" title="Call us" href="tel:+61 2 80074425">(+61) 2 80074425</a><br/>
                        <img width="20" height="14" alt="United States" title="Hong Kong" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696084-flag-hon.png"><a style="font-size: 16px;" title="Call us" href="tel:+85 2 8197 4474">(+85) 2 8197 4474</a><br/>
                        <img width="20" height="14" alt="United States" title="United Kingdom" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696084-flag-uk.png"><a style="font-size: 16px;" title="Call us" href="+44 33 0001 1361">(+44) 33 0001 1361</a><br/> --}}
                        <img width="20" height="14" alt="United States" title="United States" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696083-flag-del.png">
                        <a
                          style="font-size: 16px;" title="Call us" href="+1 347 748 1226"> (+1) 347 748 1226</a><br/>
                          <i class="fa fa-envelope"></i> <a style="font-size: 14px;" title="Email us" href="mailto:visa@onlineindiaevisa.com"
                            class="orange">Support Indiaonlineevisa</a><br>
                      </div>
                    </div>
                  </ul>
                </div>
              </li>
            </div>
          </div>
          <div class="col-sm-13">
            <div class="widget">
              <li id="text-7" class="widget-container widget_text">
                <div class="textwidget">
                  <a href="/article/india-immigration" class="widget-title">
                    <h3 class="widget-title">India Immigration
                    </h3>
                  </a>
                  <ul class="menu">
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/india-evisa-information">India-evisa Information</a>
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                      <a href="/article/instruction-for-evisa">Instruction Evisa</a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>
          </div>
        </div>
        <div style="text-align: center; font-size: 16px; color: black !important;">
            <strong>EVisa4U PTY LTD </strong><br>
            <strong>Trading As INDIAONLINEEVISA.COM</strong>
            <p>309 Pitt Street, Sydney, Australia 2000</p>
            <p>A.B.N 18619971023</p>
            <p>Phone: (+61) 2 8007 4425. Email: visa@indiaonlineevisa.com</p>     
        </div>

      </div>
    </div>
  </div>
</footer>