{{#if error}}
  <div class="row text-center" style="margin-top: 20px">
    {{#each error.errors as |e|}}
    <span class="alert alert-danger" style="display: inline">{{or e.detail.message e.detail}}</span>
    {{/each}}
  </div>
{{else if done}}
  <div class="row text-center" style="margin-top: 20px">
    <span class="alert alert-success" style="display: inline">Sent a new password.</span>
  </div>
{{/if}}
{{#form-validation classNames='recover-password-form' rules=validationRules}}
<h2 class="text-center">Recover Password</h2>
<div class="profile">
  <div class="row form-group">
    <div class="col-md-4 text-right"><label>Email</label></div>
    <div class="col-md-4">
      {{input class="form-control" 
        type="email" 
        required=true
        name='email'
        value=email}}
       <div class="alert alert-danger email required" role="alert">Please enter Email.</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12 text-center col-md-offset-4">
      <button class="btn btn-primary custom-button" {{action 'recoverPassword'}} style="line-height: 30px">Submit</button>
    </div>
  </div>  
</div>
{{/form-validation}}