<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="widget">
        <div class="widget-container widget_text">
          <div class="textwidget">
            <a class="widget-title">Apply visa With us</a>
            <img src="/assets/images/step1.png" alt="">
            <ul class="no-padding no-margin">
              <li>Please enter your information into online forms to process your E-Visa to India at the link {{#link-to 'apply-visa'
                '1'}}APPLY FOR INDIA VISA{{/link-to}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="widget">
        <div class="widget-container widget_text">
          <div class="textwidget">
            <a class="widget-title">Payment Online</a>
            <img src="/assets/images/step2.png" alt="">
            <ul class="no-padding no-margin">
              <li style="text-align: left;">Please double check your information to make sure that all of it is correct.</li>
              <li style="text-align: left;">After process payment for your visa. Please check your Email to get The confirmation.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="widget">
        <div class="widget-container widget_text">
          <div class="textwidget">
            <a class="widget-title">Get Visa Via Email</a>
            <img src="/assets/images/step3.png" alt="">
            <ul class="no-padding no-margin">
              <li>The E-visa will be issued and send to Traveler via email.</li>
              <li>Get the eVisa within 3 business days for normal service.</li>
              <li>Get the eVisa within 24 hours for urgent service.</li>
              <li>Get the eVisa within 5 business hours for Emergency service.</li>
              <li>Please print out your India eVisa that we send you via email to board the airplane.</li>
              <li>When you arrive in India with a valid eVisa, you may have biometric information taken at the airport, and a
                stamp placed inside passport.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>