{{#if error}}
  <div class="row text-center" style="margin-top: 20px;">
    {{#each error.errors as |e|}}
    <span class="alert alert-danger" style="display: inline">{{or e.detail.message e.detail}}</span>
    {{/each}}
  </div>
{{/if}}
{{#form-validation classNames='login-form'}}
<h2 class="text-center"> Login </h2>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Email</label></div>
  <div class="col-md-7">
    {{input name="email" class="form-control" value=email required=true}}
    <div class="alert alert-danger email required" role="alert">Please enter Email.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Pawword</label></div>
  <div class="col-md-7">
    {{input type="password" name="password" class="form-control" value=password required=true}}
    <div class="alert alert-danger password required" role="alert">Please enter password.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-12">
    <span>
      Did you forget your password? {{#link-to "forgot-password"}}Recover it here{{/link-to}}
    </span>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5"></div>
  <div class="col-md-7">
    <button class="btn btn-primary custom-button"  {{action "login"}}>Login</button>
  </div>
</div>
{{/form-validation}}
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Login with</label></div>
  <div class="col-md-7">
    <a class="pointer" {{action 'loginFacebook'}}><i class="fa fa-facebook-square" style="font-size:48px;color:blue"></i></a>
    <a class="pointer" {{action 'loginGoogle'}}><i class="fa fa-google-plus-square" style="font-size:48px;color:red"></i></a>
  </div>
</div>