<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {{#if errors}}
          {{apply-visa-step4-fail errors=errors}}
        {{else if paymentSuccess}}
          {{apply-visa-step4-succeed}}
        {{else}}
          <section class="entry-content">
            <div class="step step1">
              {{#form-validation classNames="make-payment-form" rules=validationRules}}
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <h2 class="new-header text-center" style="font-size: 22px !important; margin-bottom: 0 !important; !important; padding-left: 5px;">Secure Online Payment</h2>
                      <div class="col-md-5"><label class="label-text">Amount</label></div>
                      <div class="col-md-7">
                        {{input type="text" name="amount" rel="Amount" value=payment.amount required=true placeholder="E.g: 19.00"}}
                        <div class="alert alert-danger amount required" role="alert">Enter a number!</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label class="label-text">Payment For</label></div>
                        <div class="col-md-7">
                          {{input type="text" 
                            name="paymentFor"
                            value=payment.paymentFor
                            rel="paymentFor"
                            required=true
                            placeholder="Payment for"}}
                          <div class="alert alert-danger paymentFor required" role="alert">Enter a payment for!</div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label class="label-text">Order Reference Number</label></div>
                      <div class="col-md-7">
                        {{textarea id="note" name="note" value=payment.note required=true rel="Note"}}
                        <div class="alert alert-danger note required" role="alert">This field is required!</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label class="label-text">Contact Email</label></div>
                      <div class="col-md-7">
                        {{input type="text" 
                            name="contactEmail"
                            value=payment.contactEmail
                            required=true
                            rel="contact email"
                            placeholder="Contact Email"}}
                        <div class="alert alert-danger contactEmail required" role="alert">Please Enter Contact Email.</div>
                        <div class="alert alert-danger contactEmail email" role="alert">Please Enter correct Contact Email.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row" style="padding-left:17px">
                      <h2 class="new-header" 
                        style="font-size: 22px !important; margin-bottom: 0 !important; text-align: left; !important; padding-left: 5px;">&nbsp;</h2>
                      <label class="serious">Select Your Payment Method. {{#link-to 'article' 'payment-guideline'}} Learn more{{/link-to}} about payment options</label>
                    </div>
                    <div class="row">
                      <div class="col-md-5"></div>
                      <div class="col-md-7 payment-method-types">
                        <input type="radio" 
                          id="payment_type_visa" 
                          value={{CONSTANTS.PAYMENT_TYPES.VISA}} 
                          checked={{equal payment.paymentType CONSTANTS.PAYMENT_TYPES.VISA}}
                          name="payment_types"
                          required=true
                          class="visa"
                          type-name="Visa"
                          onchange={{action (mut payment.paymentType) value="target.value"}}>
                        <label for="payment_type_visa"><i class="fa fa-cc-visa" aria-hidden="true" style="font-size: 50px"></i></label>
                        <input type="radio"
                          id="payment_type_mastercard"
                          value={{CONSTANTS.PAYMENT_TYPES.MASTERCARD}}
                          checked={{equal payment.paymentType CONSTANTS.PAYMENT_TYPES.MASTERCARD}}
                          name="payment_types"
                          required=true
                          type-name="Master card"
                          class="mastercard"
                          onchange={{action (mut payment.paymentType) value="target.value"}}>
                        <label for="payment_type_mastercard"><i class="fa fa-cc-mastercard" aria-hidden="true" style="font-size: 50px"></i></label>
                        <div class="alert alert-danger payment_types required" role="alert">This field is required!</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label class="label-text">Card number</label></div>
                      <div class="col-md-7">
                        {{input type="text" 
                          name="cardNumber"
                          value=payment.cardNumber
                          rel="cardNumber"
                          required=true
                          placeholder="Card Number"}}
                        <div class="alert alert-danger cardNumber required" role="alert">Please enter card number.</div>
                        <div class="alert alert-danger cardNumber cardnumber" role="alert">Please enter card number.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label class="label-text">Expiry date</label></div>
                      <div class="col-md-7">
                        <div class="row">
                          <div class="col-md-6">
                            <select name="expirytMonth" required=true placeholder="Month" onchange={{action (mut expirytMonth) value="target.value"}}>
                              <option value=""></option>
                              <option value="01">1</option>
                              <option value="02">2</option>
                              <option value="03">3</option>
                              <option value="04">4</option>
                              <option value="05">5</option>
                              <option value="06">6</option>
                              <option value="07">7</option>
                              <option value="08">8</option>
                              <option value="09">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                            <div class="alert alert-danger expirytMonth required" role="alert">Please enter month.</div>
                          </div>
                          <div class="col-md-6">
                            <select name="expiryYear" required=true placeholder="Year" onchange={{action (mut expiryYear) value="target.value"}}>
                              <option value=""></option>
                              {{#each expiryYears as |year|}}
                                <option value={{year}}>{{year}}</option>
                              {{/each}}
                            </select>
                            <div class="alert alert-danger expiryYear required" role="alert">Please enter year.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5"><label class="label-text">CVV2</label></div>
                      <div class="col-md-7">
                        {{input type="number" 
                          name="cvv2"
                          value=payment.cvv2
                          rel="cvv2"
                          min=100
                          max=999
                          required=true
                          placeholder="CVV2"}}
                        <div class="alert alert-danger cvv2 required" role="alert">Please enter CVV2.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-left:17px">
                  <label>After payment is made, you will receive an email confirming your payment.</label><br/>
                </div>
                <div class="row col-md-offset-6">
                  <input style="width: 100%" type="button" {{action 'processToPayment'}} value="Pay Now" />
                </div>
              {{/form-validation}}
            </div>
          </section>
        {{/if}}
      </div>
    </div>
  </div>
</article>