
<div class="email-notify-list">
  <div class="col-md-6">
  <h4 class="text-center"> Email Notification List </h4>
    <div class="text-center" style="padding-top: 10px">
      <div class="align-center" colspan={{columns.length}}>
        {{one-way-select selectedFilter
            options=possibleFilters
            optionValuePath="valuePath"
            optionLabelPath="label" 
            update=(action (pipe (action (mut selectedFilter))(action 'onSearchChange')))
        }}
        {{one-way-input
          value=query
          placeholder="Search..."
          classNames="form-control"
          style="width: 200px; display: inline-block"
          update=(action (pipe (action (mut query))))
        }}
        <button type="button" class="btn btn-primary" {{action "search"}}>Search</button>
      </div>
    </div>
    {{#light-table table 
      height='65vh'
      responsive=true
      onAfterResponsiveChange=(action 'onAfterResponsiveChange')
      as |t|
    }}

      {{t.head
        iconAscending='fa fa-sort-asc'
        iconDescending='fa fa-sort-desc'
        fixed=true
      }}

      {{#t.body
        canSelect=true
        expandOnClick=false
        onRowClick=(action 'onRowClick')
        as |body|
      }}
        {{#body.expanded-row as |row|}}
          {{order-list/expanded-row table=table row=row}}
        {{/body.expanded-row}}

        {{#if isLoading}}
          {{#body.loader}}
            {{table-loader}}
          {{/body.loader}}
        {{/if}}
      {{/t.body}}

    {{/light-table}}
</div>
<div class="col-md-6">
  <h4>Template</h4>
  {{{html}}}
</div>


</div>