{{#light-table table
  height='50vh'
  responsive=true
  onAfterResponsiveChange=(action 'onAfterResponsiveChange')
  as |t|
}}

  {{t.head
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    canSelect=true
    expandOnClick=false
    as |body|
  }}
      {{#body.expanded-row as |row|}}
      {{order-list/expanded-row table=table row=row}}
    {{/body.expanded-row}}

    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}