<div class='order-detail'>
  {{!-- FIXME: move to component --}}
  <h2 class="text-center">Order: #{{model.orderId}}</h2>
  <h4> Information for Order Detail </h4>
  <div class="row order-detail--template">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">Type Of Visa</div>
        <div class="col-md-6">{{model.typeOfVisaText}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Date Of Arrival</div>
        <div class="col-md-6">{{moment-format model.dateOfArrival 'LL'}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Date Of Exit</div>
        <div class="col-md-6">{{moment-format model.dateOfDeparture 'LL'}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Transport Method</div>
        <div class="col-md-6">{{model.arrivalPortTypeText}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Port Of Arrival</div>
        <div class="col-md-6">{{model.portOfArrivalText}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Special Request</div>
        <div class="col-md-6">{{model.specialRequest}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Number Of Applicants</div>
        <div class="col-md-6">{{model.numberOfVisa}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Total Visa Services Fee</div>
        <div class="col-md-6">${{model.visaFee}} x {{model.numberOfVisa}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Total Government Fee</div>
        <div class="col-md-6">${{model.govermentVisaFee}}</div>
      </div>
      <div class="row">
        <div class="col-md-6">Payment Method</div>
        <div class="col-md-6">{{model.paymentType}}</div>
      </div>
       <div class="row">
        <div class="col-md-6">Total Amount For Services Charge</div>
        <div class="col-md-6">${{model.totalFee}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">This order have status <strong>{{get CONSTANTS.ORDER_STATUS_TEXT model.orderStatus}}</strong></div>
      <div class="row">Apply date <strong>{{moment-format model.orderDate 'LLL'}}</strong></div>
      <div class="row">
      {{#if (equal model.orderStatus CONSTANTS.ORDER_STATUS.PENDING)}}
        {{#if canUpdateStatus}}
        <button class="btn btn-danger" {{action 'changeToProcessing'}}>CHANGE TO PROCESSING</button>
        {{else}}
        <button class="btn btn-danger" {{action 'paymentNow'}}>PAYMENT NOW</button>
        {{/if}}
      {{else if (and canUpdateStatus (not (equal model.orderStatus CONSTANTS.ORDER_STATUS.FINISH)))}}
        <button class="btn btn-danger" {{action 'changeToFinish'}}>CHANGE TO FINISH</button>
      {{/if}}
      </div>
    </div>
  </div>
 
  {{#if model.applicants.length}}
  <h4> Passport detail for applications </h4>
  {{order-list-applicant data=model.applicants}}
  {{/if}}
</div>