<div class="container">
  <div class="row col-md-8 col-sm-offset-2">
    <h2 class="text-center">Payment #{{payment.paymentId}}</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">Amount</div>
          <div class="col-md-7">
            {{payment.amount}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">Payment For</div>
          <div class="col-md-7">
            {{payment.paymentFor}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">Note</div>
          <div class="col-md-7">
            {{payment.note}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">Payment Method</div>
          <div class="col-md-7">
            {{payment.paymentType}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">Card number</div>
          <div class="col-md-7">
            {{payment.cardNumber}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">Status</div>
          <div class="col-md-7">
            {{payment.paymentStatus}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">Contact Email</div>
          <div class="col-md-6">
            {{payment.contactEmail}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">First Name</div>
          <div class="col-md-6">
            {{payment.firstName}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Last Name</div>
          <div class="col-md-6">
            {{payment.lastName}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Country</div>
          <div class="col-md-6">
            {{payment.country}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Address</div>
          <div class="col-md-6">
            {{payment.address}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">City/County</div>
          <div class="col-md-6">
            {{payment.city}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">State/Province/Region</div>
          <div class="col-md-6">
            {{payment.state}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">ZIP/Postal code</div>
          <div class="col-md-6">
            {{payment.postCode}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>