<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {{#form-validation classNames="form"}}
        <div class="row">
            <div class="col-md-6">
            {{!--Billing Info  --}}
            <div class="row form-group">
                <h2 class="new-header" 
                style="font-size: 22px !important; text-align: left; !important; padding-left: 5px;">Billing Information</h2>
                <div class="col-md-5"><label>First Name</label></div>
                <div class="col-md-7">
                {{input type="text" 
                    name="firstName"
                    value=visaInfo.firstName
                    rel="firstName"
                    required=true
                    class="form-control"
                    placeholder="First Name"}}
                <div class="alert alert-danger firstName required" role="alert">Please enter first name.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>Last Name</label></div>
                <div class="col-md-7">
                {{input type="text" 
                    name="lastName"
                    value=visaInfo.lastName
                    rel="lastName"
                    required=true
                    class="form-control"
                    placeholder="Last Name"}}
                <div class="alert alert-danger lastName required" role="alert">Please enter last name.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>Country</label></div>
                <div class="col-md-7">
                {{dropdown-nationality 
                    name="country"
                    required=true
                    rel="Country"
                    placeholder="Country"
                    class="form-control"
                    selectedValue=applicant.country}}
                <div class="alert alert-danger country required" role="alert">Please enter country.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>Address</label></div>
                <div class="col-md-7">
                {{input type="text" 
                    name="address"
                    value=visaInfo.address
                    rel="address"
                    required=true
                    class="form-control"
                    placeholder="Address"}}
                <div class="alert alert-danger address required" role="alert">Please enter address.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>City/County</label></div>
                <div class="col-md-7">
                {{input type="text" 
                    name="city"
                    value=visaInfo.city
                    rel="city"
                    required=true
                    class="form-control"
                    placeholder="City/County"}}
                <div class="alert alert-danger city required" role="alert">Please enter city/county.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>State/Province/Region</label></div>
                <div class="col-md-7">
                {{input type="text" 
                    name="state"
                    value=visaInfo.state
                    rel="state"
                    required=true
                    class="form-control"
                    placeholder="State/Province/Region"}}
                <div class="alert alert-danger state required" role="alert">Please enter State/Province/Region.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>ZIP/Postal code</label></div>
                <div class="col-md-7">
                {{input type="text" 
                    name="postCode"
                    value=visaInfo.postCode
                    rel="postCode"
                    required=true
                    class="form-control"
                    placeholder=" ZIP/Postal code"}}
                <div class="alert alert-danger state required" role="alert">Please enter ZIP/Postal code.</div>
                </div>
            </div>
            {{!--Credit Card or Debit Card Information--}}
            <div class="row form-group">
                <h2 class="new-header" 
                style="font-size: 22px !important; text-align: left; !important; padding-left: 5px;">Credit Card or Debit Card Information</h2>
                <div class="col-md-5"><label>Card number</label></div>
                <div class="col-md-7">
                {{input type="text" 
                    name="cardNumber"
                    value=visaInfo.cardNumber
                    rel="cardNumber"
                    required=true
                    class="form-control"
                    placeholder="Card Number"}}
                <div class="alert alert-danger cardNumber required" role="alert">Please enter card number.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"><label>Payment Types</label></div>
                <div class="col-md-7 payment-types">
                <input type="radio" 
                    id="payment_type_visa"
                    value={{CONSTANTS.PAYMENT_TYPES.VISA}}
                    checked={{equal visaInfo.paymentType CONSTANTS.PAYMENT_TYPES.VISA}} 
                    name="payment_types"
                    class="visa" 
                    type-name="Visa"
                    onchange={{action (mut visaInfo.paymentType) value="target.value"}}>
                <label for="payment_type_visa"><i class="fa fa-cc-visa" aria-hidden="true" style="font-size: 50px"></i></label>
                <input type="radio" 
                    id="payment_type_mastercard"
                    value={{CONSTANTS.PAYMENT_TYPES.MASTERCARD}}
                    checked={{equal visaInfo.paymentType CONSTANTS.PAYMENT_TYPES.MASTERCARD}} 
                    name="payment_types"
                    type-name="Master card"
                    class="mastercard" 
                    onchange={{action (mut visaInfo.paymentType) value="target.value"}}>
                <label for="payment_type_mastercard"><i class="fa fa-cc-mastercard" aria-hidden="true" style="font-size: 50px"></i></label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>Expiry date</label></div>
                <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                    <select name="expirytMonth" required=true placeholder="Month" onchange={{action (mut expirytMonth) value="target.value"}}>
                        <option value=""></option>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <div class="alert alert-danger expirytMonth required" role="alert">Please enter month.</div>
                    </div>
                    <div class="col-md-6">
                    <select name="expiryYear" required=true placeholder="Year" onchange={{action (mut expiryYear) value="target.value"}}>
                        <option value=""></option>
                        {{#each expiryYears as |year|}}
                        <option value={{year}}>{{year}}</option>
                        {{/each}}
                    </select>
                    <div class="alert alert-danger expiryYear required" role="alert">Please enter year.</div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5"><label>CVV2</label></div>
                <div class="col-md-7">
                {{input type="number" 
                    name="cvv2"
                    value=visaInfo.cvv2
                    rel="cvv2"
                    min=100
                    max=999
                    required=true
                    placeholder="CVV2"}}
                <div class="alert alert-danger cvv2 required" role="alert">Please enter CVV2.</div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                
                </div>
            </div>
            </div>    
        </div>
        {{/form-validation}}
      </div>
    </div>
  </div>
</article>