{{#if error}}
  <div class="row text-center">
    {{#each error.errors as |e|}}
    <span class="alert alert-danger" style="display: inline">{{or e.detail.message e.detail}}</span>
    {{/each}}
  </div>
{{/if}}
{{#form-validation classNames='signup-form' autocomplete="off" rules=validationRules}}
<h2 class="text-center"> Sign Up </h2>
<div class="row text-center">
  I am a new customer - Create account here
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Full name</label></div>
  <div class="col-md-7">
    {{input name="fullname" classNames='form-control' value=user.fullname required=true}}
    <div class="alert alert-danger fullname required" role="alert">Please enter Full Name.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Email</label></div>
  <div class="col-md-7">
    {{input type="email" classNames='form-control' name="email" autocomplete="off" value=user.email required=true}}
    <div class="alert alert-danger email required" role="alert">Please enter Email.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Password</label></div>
  <div class="col-md-7">
    {{input type="password" classNames='form-control' autocomplete="off" name="password" value=user.password required=true}}
    <div class="alert alert-danger password required" role="alert">Please enter password.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Confirm Password</label></div>
  <div class="col-md-7">
    {{input type="password" classNames='form-control' autocomplete="off" name="confirmPassword" value=user.confirmPassword required=true}}
    <div class="alert alert-danger confirmPassword required" role="alert">Please enter confirm password.</div>
    <div class="alert alert-danger confirmPassword equalTo" role="alert">Confirm password and Password are not the same.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Phone Number</label></div>
  <div class="col-md-7">
    {{input classNames='form-control' name="phone" value=user.phone required=true}}
    <div class="alert alert-danger phone required" role="alert">Please enter phone number.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Country</label></div>
  <div class="col-md-7">
    {{dropdown-nationality 
      name="country"
      classNames="form-control"
      required=true
      rel="country"
      placeholder=""
      selectedValue=user.country}}
    <div class="alert alert-danger country required" role="alert">Please enter country.</div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-5 text-right"><label>Address</label></div>
  <div class="col-md-7">
    {{input name="address" classNames='form-control' value=user.address required=true}}
    <div class="alert alert-danger address required" role="alert">Please enter address.</div>
  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-7">
    <input type="button" value="Sign up" class="btn btn-primary custom-button" {{action 'signup'}}/>
  </div>
</div>
<div class="row">&nbsp;</div>
{{/form-validation}}