<h4>Summary</h4>
<ul>
  <li><strong>Number of Visa: </strong> <span>{{numberOfVisaText}}</span></li>
  <li><strong>Type of Visa: </strong> <span style="width: calc(100% - 130px)">{{visaInfo.typeOfVisaText}}</span></li>
  <li><strong>Transportation method: </strong> <span style="width: calc(100% - 170px)">{{visaInfo.arrivalPortTypeText}}</span></li>
  <li><strong>Port of arrival: </strong> <span style="width: calc(100% - 170px)">{{visaInfo.portOfArrivalText}}</span></li>
  <li><strong>Processing fees: </strong> <span style="width: calc(100% - 150px)">${{visaInfo.visaFee}} x {{or visaInfo.numberOfVisa 1}} = ${{visaInfo.totalVisaFee}}</span></li>
  <li><strong>Processing Time: </strong> <span style="width: calc(100% - 130px)">{{visaInfo.processingTimeText}}<br/>${{visaInfo.processFee}}</span></li>
  {{#if visaInfo.applicantFees.length}}
    <li><strong>India Government Fee (Required): </strong></li>
    {{#each visaInfo.applicantFees as |applicant|}}
      <li><strong>{{applicant.index}}. {{applicant.detail}} </strong> <span style="width: calc(100% - 130px)">${{applicant.value}}</span></li>
    {{/each}}
  {{/if}}
  <li><strong>Total Service Fee: </strong> <span>{{concat 'USD ' visaInfo.totalFees }}</span></li>
</ul>