<nav
  class="navbar navbar-default navbar-top" 
  role="navigation" 
  itemscope="" 
  itemtype="http://schema.org/SiteNavigationElement">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars fa-2x"></i>
    </button>
  </div>
  <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
    {{#if isAdmin}}
      {{partial "components/top-navigation/admin"}}
    {{else}}
      {{partial "components/top-navigation/home"}}
    {{/if}}
    <div class="widget">
      <li id="text-2" class="widget-container widget_text">
        <h3 class="widget-title">Have a Question?</h3>
        <div class="textwidget">
          <i class="fa fa-mobile"></i>
          <a class="question-phone" href="tel:(+84) 1232.320.320" title="Call us">(+84) 1232.320.320</a><br/>
          <span>8.00 AM-21.00 PM, GMT +7</span>
          <i class="fa fa-envelope"></i>
          <a href="mailto:support@vietnamvisa.govt.vn" class="orange">Vietnam Visa Support Email</a>
          <a onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 &amp;&amp; window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open('http://chat.govt.vn/client.php?locale=en&amp;url='+escape(document.location.href)+'&amp;referrer='+escape(document.referrer), 'mibew', 'toolbar=0,scrollbars=0,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;" target="_blank" href="http://chat.govt.vn/client.php?locale=en" class="support">
            <strong>Online</strong> Support
          </a>
        </div>
      </li>
    </div>
  </div>
</nav>