<div class="container">
<div class="row">

<div class="col-md-6">
  {{#light-table table
    height='65vh'
    responsive=true
    onAfterResponsiveChange=(action 'onAfterResponsiveChange')
    as |t|
  }}

    {{t.head
      iconAscending='fa fa-sort-asc'
      iconDescending='fa fa-sort-desc'
      fixed=true
    }}

    {{#t.body
      canSelect=true
      expandOnClick=false
      onScrolledToBottom=(action 'onScrolledToBottom')
      onRowClick=(action 'onRowClick')
      as |body|
    }}
      {{#body.expanded-row as |row|}}
        {{order-list/expanded-row table=table row=row}}
      {{/body.expanded-row}}

      {{#if isLoading}}
        {{#body.loader}}
          {{table-loader}}
        {{/body.loader}}
      {{/if}}
    {{/t.body}}

  {{/light-table}}
</div>
{{#if item}}
<div class="col-md-6">
  {{#form-validation classNames="form" rules=validationRules}}
    <h4 class="text">User Detail</h4>
    <div class="row">
      <div class="col-md-7">
        <div class="row form-group"> 
          <div class="col-md-5">Username</div>
          <div class="col-md-7">
            {{input type="text" 
              class="form-control"
              value=item.username
              name="username"
              required=true
              placeholder="Username"}}
              <div class="alert alert-danger username required" role="alert">This field is required.</div>
            </div>
          </div>
          <div class="row form-group">  
            <div class="col-md-5">Email</div>
            <div class="col-md-7">
            {{input type="text"  
              class="form-control"
              value=item.email
              name="userEmail"
              required=true
              placeholder="Email"}}
              <div class="alert alert-danger userEmail required" role="alert">This field is required.</div>
                <div class="alert alert-danger userEmail email" role="alert">Please Enter correct User Email.</div>
            </div>
        </div>
        <div class="row form-group"> 
          <div class="col-md-5">Role</div>
          <div class="col-md-7">
            <select name="role"
              class="form-control"
              required=true
              onchange={{action (mut item.role) value="target.value"}}>
              <option selected={{equal item.role CONSTANTS.ROLES.MEMBER}} value={{CONSTANTS.ROLES.MEMBER}} rel={{CONSTANTS.ROLES.MEMBER}}>{{CONSTANTS.ROLES.MEMBER}}</option>
              <option selected={{equal item.role CONSTANTS.ROLES.ADMIN}} value={{CONSTANTS.ROLES.ADMIN}} rel={{CONSTANTS.ROLES.ADMIN}}>{{CONSTANTS.ROLES.ADMIN}}</option>
            </select>
            <div class="alert alert-danger role required" role="alert">This field is required.</div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" {{action "update"}}>Update</button>
        <button type="button" class="btn " {{action "active"}}>Active</button>
        <button type="button" class="btn btn-danger " {{action "deleted"}}>Delete</button>
        {{!-- <button type="button" class="btn btn-info {{if isDisabled '' 'disabled'}}" {{action "resetPassword"}}>Reset Password</button> --}}
      </div>
    </div>
  {{/form-validation}}
</div>
{{/if}}
</div>
</div>