<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Business Visa:</strong><br/>
        </p>
        <p>
            Business visa is granted to those who wish to visit India for business and trade purposes e.g. meetings, participation in exhibitions, trade fair, trainings etc.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>