<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Conference Visa:</strong><br/>
        </p>
        <p>
            Conference visa is granted to a foreigner, whose sole objective of visiting India is to attend a conference /seminar or workshop being held in India. Mission/Posts are authorized to issue Conference visas to delegates on production of an invitation to a conference/seminar/workshop being organized in India by a Ministry or Department of the Government of India, State Governments or UT administrations, Public Sector Undertakings, Central Educational Institutions, Public Funded Universities (list of such institutions are Available on the website www.education.nic.in and the websites of the University Grants Commission and Association of Indian Universities), or an organization owned and controlled by the Government of India or any State Government/ UT, United Nations or its specialized agencies.
        </p>
        <p>&nbsp;</p>
        <p>
            Conference Visa will normally be issued single entry and for the duration of the conference or 1 month whichever is more.
        </p>
        <p>&nbsp;</p>
        <p>
            Please contact Indian Embassy with regard to this visa you will be able to attain this directly from embassy
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>