<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Employment Visa:</strong><br/>
        </p>
        <p>
            Employment visa is granted to those who wish to take up employment and volunteer work in India. The duration of Employment Visa would be for the period of employment/volunteer work, which will usually not exceed one year at a time.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>