<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Entry Visa:</strong><br/>
        </p>
        <p>
            Entry Visa is granted to Persons of Indian Origin (Visitor Visa) and also to those who are dependents family members of Employment Visa
        </p>
        <p>
            The visa can be extended by the Foreigners Regional Registration Officer in India. Validity is at the discretion of the FRRO officer
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>