<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Journalist Visa:</strong><br/>
        </p>
        <p>
            Journalist visas are issued to professional journalists and photographers for a period of up to 3 months (single or double entry). Please provide details on a separate sheet, of places to be visited and the persons to be interviewed. Please note: Allow and make provision for one month's time to process documentary proposals
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>