<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Medical Visa:</strong><br/>
        </p>
        <p>
            A Medical visa is granted to those who would travel to India for a medical treatment. Visa is valid for up to three months with single entry. Please note that relevant letters/documents explaining details of the treatment, signed and stamped by the concerned register hospitals/doctors with the government are required to validate the purpose of travel. Please note the validity of the visa is effective from the date of issue.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>