<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Re-entry into India within 2 months on a Tourist Visa.</strong><br/>
        </p>
        <p>
            All nationals of Afghanistan, China, Iran, Pakistan, Iraq, Sudan, Maldives, foreigners of Pakistani and stateless persons require a minimum 2 month gap between two (2) visits to India on a Tourist Visa.
        </p>
        <p>
            A <strong>Tourist Visa-on-Arrival</strong> shall be granted to a foreigners who are national of Finland, Japan, Myanmar, Indonesia, New Zealand, Luxemburg, Cambodia, Singapore, Vietnam, Philippines & Laos, whose sole purpose of visiting India is recreation, sightseeing, casual visit to meet friends or relatives etc and no other purpose/ activity.
        </p>
        <p>
            Tourist Visa on arrival is issued with a maximum validity of 30 days with single entry facility by the Immigration officer at Delhi, Mumbai, Chennai and Kolkata Airports and NOT in any other Immigration Check Posts (ICPs).
        </p>
        <p>
            For further information please follow the link : Tourist Visa-on-Arrival
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>