<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Research Visa:</strong><br/>
        </p>
        <p>
            Research Visa (RV) is granted to those desiring to go to India for undertaking some Research work. Usually the Research Scholars applying for Research Visa have their case sponsored by a body set up by India to promote research. If your research work is sponsored by some other institute or university or yourself, then also the procedure remains the same.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>