<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Student Visa:</strong><br/>
        </p>
        <p>
            The student visa is a multiple entry visa issued to students who wish to undertake studies in recognized educational institutions in India. The duration of the visa would be as per the duration of the course to be pursued.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>