<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Tourist Visa:</strong><br/>
        </p>
        <p>
            The Tourist visa is issued to people who wish to visit India for tourist purposes i.e. Recreation, sightseeing, casual visit to meet friends and relatives etc. The visa is non - extendable and non-convertible. No other activity is permissible on Tourist visa.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>