<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Transit Visa:</strong><br/>
        </p>
        <p>
            Transit Visa is meant for taking next connecting flight from India to some other destination within 72 hours. Transit visa is given with a validity period of 15 days from the date of issue. It can be single entry or double entry depending on the requirement of the applicant. The visa is non-extendable and non-convertible.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>