<div class="container title-area">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <header>
        <h1 class="entry-title">APPLYING FOR AN INDIAN VISA</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <p>
          <strong>Volunteer Visa:</strong><br/>
        </p>
        <p>
            Volunteer visa is issued to a person who is travelling to India to volunteer his services to an organization (NGO). It should be a strictly volunteering role and the applicant would not receive any remuneration for the same.
        </p>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>