{{top-navigation classNames='container'}}
<article>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          {{account-menu}}
      </div>
      <div class="col-md-9">
        {{outlet}}
      </div>
    </div>
  </div>
</article>