{{top-navigation classNames='container'}}
{{#if model.error}}
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        Order does not exist
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
{{else}}
    {{apply-visa step=model}}
{{/if}}