<div class="container">
  <div class="row">
    <header class="header" role="banner">
      <div class="col-sm-4">
        <section class="branding">
          {{#link-to 'index'  title="Home"}}
            <img src="/assets/images/logo-new.png"  height="95px" alt="">
          {{/link-to}}
     
        </section>
      </div>
      <div class="col-sm-4">
        <div class="menu-eyebrow-menu-container">
          <ul id="menu-eyebrow-menu" class="menu">
           
            <li id="menu-item-942" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-942">
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107">
              {{#link-to 'article' 'private-policy'  title="private-policy"}}Privacy Policy{{/link-to}}
            </li>
            <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108">
              {{#link-to 'article' 'term-of-condition'  title="term-of-condition"}}Terms and Conditions{{/link-to}}
            </li>
            <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109">
              {{#link-to 'article' 'payment-guideline'  title="payment-guideline"}}Payment Guidelines{{/link-to}}
            </li>
          </ul>
        </div>
      </div>
     
      <div class="col-sm-4">
        <div class="widget">
          <h5 class="widget-title">Have a Question?</h5>
          <div class="textwidget">
            {{!-- <img width="20" height="14" alt="United States" title="Australia" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696083-flag-australia.png">   <a class="question-phone" href="tel:(+61) 2 80074425" title="Call us">(+61) 2 80074425</a><br/>
            <img width="20" height="14" alt="United States" title="Hong Kong" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696084-flag-hon.png">  <a class="question-phone" href="tel:(+85) 2 8197 4474" title="Call us">(+85) 2 8197 4474</a><br/>
            <img width="20" height="14" alt="United States" title="United Kingdom" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696084-flag-uk.png"> <a class="question-phone" href="tel:(+44) 33 0001 1361" title="Call us">(+44) 33 0001 1361</a><br/>
            <img width="20" height="14" alt="United States" title="United States" src="https://d3776205tzvgb6.cloudfront.net/uploads/1425696083-flag-del.png"><a class="question-phone" href="tel:(+1) 347 748 1226" title="Call us">(+1) 347 748 1226</a><br/> --}}
            <i class="fa fa-envelope"></i>
            <a href="mailto:visa@onlineindiaevisa.com" class="orange">visa@onlineindiaevisa.com</a>
          </div>
        </div>

        <div class="site-description">
            {{#link-to 'check-status'  title="Check Status"}}Check Status{{/link-to}}
          </div>
      </div>
    </header>
  </div>
</div>
<section role="main" id = 'content'>
 {{#link-to 'index'  title="Home"}}<div class="mainButton">
 
</div> {{/link-to}}
  


{{ember-notify closeAfter=4000}}
{{outlet}}
{{home-widgets classNames='widgets'}}
</section>
{{footer-navigation classNames='container'}}