{{top-navigation classNames='container'}}
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <div class="check-requirement">
          <h2>How to Apply for India e-Visa from <span style="text-transform: capitalize;">{{model}}</span></h2><hr>
          <h3>1. Check Requirement</h3>
          <p><span style="text-transform: capitalize;">{{model}}</span> country is not in the exempt country list for India visa, so India visa is <strong style="background:#F00; color:#FFF; font-size:24px ">REQUIRED</strong></p>
          <h3>2. How To Apply India Online Visa For <span style="text-transform: capitalize;">{{model}}</span> Citizens</h3>
            <p>India visa on arrival is the most common way nowadays for getting an India business visa and India tourist visa through internet by <a href="/apply-visa/step/2">applying online</a> at our website.</p>
            <p>Beside, you can also apply to get a visa at India Embassy in <span style="text-transform: capitalize;">{{model}}</span>.</p>
          <h3>3. India visa Fee For <span style="text-transform: capitalize;">{{model}}</span> Citizens</h3>
              <p>For apply for a visa online, you have to pay two (02) kinds of <a href="article/visa-fees">Visa Fee</a>, which were called Service Fee and Government Fee.</p>
        </div>
        <div class="step step1 row col-md-offset-6" style="margin: 0 auto 15px;">
            <a href="/apply-visa/step/2" title="APPLY FOR A VISA NOW">
                <input class="orange-arrow" value="APPLY FOR A VISA NOW" type="button">
            </a>
        </div><br>
      <div class="col-md-12">
        <div class="col-md-12">
          <h3>Relative Countries</h3>
        </div>
        <ul>
          <li  class="col-md-3">
            <a href="/check-requirement/albania" title="Albania ">Albania </a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/anguilla" title="Anguilla">Anguilla</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/antigua barbuda" title="Antigua &amp; Barbuda">Antigua &amp; Barbuda</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/argentina" title="Argentina">Argentina</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/armenia" title="Armenia">Armenia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/aruba" title="Aruba">Aruba</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/australia" title="India Visa Requirements for Citizens of Australia">Australia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/austria" title="Austria">Austria</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/bahamas" title="Bahamas">Bahamas</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/barbados" title="Barbados">Barbados</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/belgium" title="Belgium">Belgium</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/belize" title="Belize">Belize</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/bhutan" title="India Visa Requirements for Citizens of Bhutan">Bhutan</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/bolivia" title="Bolivia">Bolivia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/bosnia herzegovina" title="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/botswana" title="Botswana">Botswana</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/brazil" title="India Visa Requirements for Citizens of Brazil">Brazil</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/brunei" title="Brunei">Brunei</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/bulgaria" title="Bulgaria">Bulgaria</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/cambodia" title="India Visa Requirements for Citizens of Cambodia">Cambodia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/canada" title="Canada">Canada</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/cape-verde" title="Cape Verde">Cape Verde</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/cayman-island" title="Cayman Island">Cayman Island</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/chile" title="Chile">Chile</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/china" title="China">China</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/china sar-hongkong" title="China- SAR Hongkong">China- SAR Hongkong</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/china sar-macau" title="China- SAR Macau">China- SAR Macau</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/colombia" title="Colombia">Colombia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/comoros" title="Comoros">Comoros</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/cook-islands" title="India Visa Requirements for Citizens of Cook Islands">Cook Islands</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/costa-rica" title="Costa Rica">Costa Rica</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/cote-dlvoire" title="Cote d’lvoire">Cote d’lvoire</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/croatia" title="Croatia">Croatia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/cuba" title="Cuba">Cuba</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/czech-republic" title="Czech Republic">Czech Republic</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/denmark" title="Denmark">Denmark</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/djibouti" title="India Visa Requirements for Citizens of Djibouti">Djibouti</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/dominica" title="Dominica">Dominica</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/dominican-republic" title="Dominican Republic">Dominican Republic</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/east-timor" title="East Timor">East Timor</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/ecuador" title="Ecuador">Ecuador</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/el-salvador" title="El Salvador">El Salvador</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/eritrea" title="Eritrea">Eritrea</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/estonia" title="Estonia">Estonia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/fiji" title="India Visa Requirements for Citizens of Fiji">Fiji</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/finland" title="India Visa Requirements for Citizens of Finland">Finland</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/france" title="France">France</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/gabon" title="Gabon">Gabon</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/gambia" title="Gambia">Gambia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/georgia" title="Georgia">Georgia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/germany" title="India Visa Requirements for Citizens of Germany">Germany</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/ghana" title="Ghana">Ghana</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/greece" title="Greece">Greece</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/grenada" title="Grenada">Grenada</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/guatemala" title="Guatemala">Guatemala</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/guinea" title="Guinea">Guinea</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/guyana" title="Guyana">Guyana</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/haiti" title="Haiti">Haiti</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/holysee-vatican" title="HolySee (Vatican)">HolySee (Vatican)</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/honduras" title="Honduras">Honduras</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/hungary" title="Hungary">Hungary</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/iceland" title="Iceland">Iceland</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/indonesia" title="India Visa Requirements for Citizens of Indonesia">Indonesia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/ireland" title="Ireland">Ireland</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/israel" title="India Visa Requirements for Citizens of Israel">Israel</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/jamaica" title="Jamaica">Jamaica</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/japan" title="India Visa Requirements for Citizens of Japan">Japan</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/jordan" title="India Visa Requirements for Citizens of Jordan">Jordan</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/kenya" title="India Visa Requirements for Citizens of Kenya">Kenya</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/kiribati" title="India Visa Requirements for Citizens of Kiribati">Kiribati</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/laos" title="India Visa Requirements for Citizens of Laos">Laos</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/latvia" title="Latvia">Latvia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/lesotho" title="Lesotho">Lesotho</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/liberia" title="Liberia">Liberia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/liechtenstein" title="Liechtenstein">Liechtenstein</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/lithuania" title="Lithuania">Lithuania</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/luxembourg" title="India Visa Requirements for Citizens of Luxembourg">Luxembourg</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/macedonia" title="Macedonia">Macedonia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/madagascar" title="Madagascar">Madagascar</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/malawi" title="Malawi">Malawi</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/malaysia" title="Malaysia">Malaysia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/maldives" title="India Visa Requirements for Citizens of Maldives">Maldives</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/malta" title="Malta">Malta</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/marshall-islands" title="India Visa Requirements for Citizens of Marshall Islands">Marshall Islands</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/mauritius" title="India Visa Requirements for Citizens of Mauritius">Mauritius</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/mexico" title="India Visa Requirements for Citizens of Mexico">Mexico</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/micronesia" title="India Visa Requirements for Citizens of Micronesia">Micronesia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/moldova" title="Moldova">Moldova</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/monaco" title="Monaco">Monaco</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/mongolia" title="Mongolia">Mongolia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/montenegro" title="Montenegro">Montenegro</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/montserrat" title="Montserrat">Montserrat</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/mozambique" title="Mozambique">Mozambique</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/myanmar" title="India Visa Requirements for Citizens of Myanmar">Myanmar</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/namibia" title="Namibia">Namibia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/nauru" title="India Visa Requirements for Citizens of Nauru">Nauru</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/nepal" title="India Visa Requirements for Citizens of Nepal">Nepal</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/netherlands" title="Netherlands">Netherlands</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/new-zealand" title="India Visa Requirements for Citizens of New Zealandaland">New Zealand</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/nicaragua" title="Nicaragua">Nicaragua</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/niue-islands" title="Niue IslandsIndia Visa Requirements for Citizens of Niue Islands">Niue Islands</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/norway" title="India Visa Requirements for Citizens of Norway">Norway</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/oman" title="India Visa Requirements for Citizens of Oman">Oman</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/palau" title="India Visa Requirements for Citizens of Palau">Palau</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/palestine" title="India Visa Requirements for Citizens of Palestine">Palestine</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/panama" title="Panama">Panama</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/papua-new-guinea" title="India Visa Requirements for Citizens of Papua New Guinea">Papua New Guinea</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/paraguay" title="Paraguay">Paraguay</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/peru" title="Peru">Peru</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/philippines" title="India Visa Requirements for Citizens of Philippines">Philippines</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/poland" title="Poland">Poland</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/portugal" title="Portugal">Portugal</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/romania" title="Romania">Romania</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/russia" title="India Visa Requirements for Citizens of Russia">Russia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/samoa" title="Samoa">Samoa</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/san-marino" title="San Marino">San Marino</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/senegal" title="Senegal">Senegal</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/serbia" title="Serbia">Serbia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/seychelles" title="Seychelles">Seychelles</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/seychelles" title="Seychelles">Seychelles</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/singapore" title="Singapore">Singapore</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/slovakia" title="Slovakia">Slovakia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/slovenia" title="Slovenia">Slovenia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/solomon-islands" title="Solomon Islands">Solomon Islands</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/south-africa" title="South Africa">South Africa</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/south-korea" title="India Visa Requirements for Citizens of South Korea">South Korea</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/spain" title="Spain">Spain</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/sri-lanka" title="Sri Lanka">Sri Lanka</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/st-kitts nevis" title="St Kitts &amp; Nevis">St Kitts &amp; Nevis</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/st-lucia" title="St Lucia">St Lucia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/st-vincent the-grenadines" title="St Vincent &amp; the Grenadines">St Vincent &amp; the Grenadines</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/suriname" title="Suriname">Suriname</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/swaziland" title="Swaziland">Swaziland</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/sweden" title="Sweden">Sweden</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/switzerland" title="Switzerland">Switzerland</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/taiwan" title="Taiwan">Taiwan</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/tajikistan" title="Tajikistan">Tajikistan</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/tanzania" title="Tanzania">Tanzania</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/thailand" title="Thailand">Thailand</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/tonga" title="Tonga">Tonga</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/trinidad tobago" title="Trinidad &amp; Tobago">Trinidad &amp; Tobago</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/turks caicos-island" title="Turks &amp; Caicos Island">Turks &amp; Caicos Island</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/tuvalu" title="Tuvalu">Tuvalu</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/uae" title="UAE">UAE</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/ukraine" title="Ukraine">Ukraine</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/united-kingdom" title="United Kingdom">United Kingdom</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/uruguay" title="Uruguay">Uruguay</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/usa" title="USA">USA</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/vanuatu" title="Vanuatu">Vanuatu</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/venezuela" title="Venezuela">Venezuela</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/vietnam" title="India Visa Requirements for Citizens of VIETNAM">Vietnam</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/zambia" title="Zambia">Zambia</a>
          </li>
          <li  class="col-md-3">
            <a href="/check-requirement/zimbabwe-" title="Zimbabwe ">Zimbabwe </a>
          </li>
        </ul>
      </div>
      </section>
    </div>
  </div>
</div>
