{{top-navigation classNames='container'}}
<div class="container embassies">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <div class="row">
          <p class="col-md-12"><h2>Check Embassy in India?</h2></p>
        </div>
        <div class="row">
          <p class="col-md-12">
            <select class="combobox" id="cbCountry" name="cbCountry" style="width:330px;height:64px;display:inline-block" required="">
                <option value="">Select Country</option>
                <option value="afghanistan"> Afghanistan </option>
                <option value="albania"> Albania </option>
                <option value="algeria"> Algeria </option>
                <option value="andorra"> Andorra </option>
                <option value="angola"> Angola </option>
                <option value="argentina"> Argentina </option>
                <option value="armenia"> Armenia </option>
                <option value="Aruba"> Aruba </option>
                <option value="australia"> Australia </option>
                <option value="austria"> Austria </option>
                <option value="azerbaijan"> Azerbaijan </option>
                <option value="bahamas"> Bahamas </option>
                <option value="bahrain"> Bahrain </option>
                <option value="bangladesh"> Bangladesh </option>
                <option value="barbados"> Barbados </option>
                <option value="belarus"> Belarus </option>
                <option value="belgium"> Belgium </option>
                <option value="bhutan"> Bhutan </option>
                <option value="bolivia"> Bolivia </option>
                <option value="brazil"> Brazil </option>
                <option value="brunei"> Brunei </option>
                <option value="bulgaria"> Bulgaria </option>
                <option value="cambodia"> Cambodia </option>
                <option value="cameroon"> Cameroon </option>
                <option value="canada"> Canada </option>
                <option value="chile"> Chile </option>
                <option value="china"> China </option>
                <option value="colombia"> Colombia </option>
                <option value="cook-islands"> Cook Islands </option>
                <option value="croatia"> Croatia </option>
                <option value="cuba"> Cuba </option>
                <option value="cyprus"> Cyprus </option>
                <option value="czech"> Czech </option>
                <option value="denmark"> Denmark </option>
                <option value="djibouti"> Djibouti </option>
                <option value="dominica"> Dominica </option>
                <option value="dominican-republic"> Dominican Republic </option>
                <option value="east-timor"> East Timor </option>
                <option value="ecuador"> Ecuador </option>
                <option value="egypt"> Egypt </option>
                <option value="egypt"> Egypt </option>
                <option value="eritrea"> Eritrea </option>
                <option value="ethiopia"> Ethiopia </option>
                <option value="ethiopia"> Ethiopia </option>
                <option value="fiji"> Fiji </option>
                <option value="finland"> Finland </option>
                <option value="france"> France </option>
                <option value="georgia"> Georgia </option>
                <option value="germany"> Germany </option>
                <option value="ghana"> Ghana </option>
                <option value="greece"> Greece </option>
                <option value="guam"> Guam </option>
                <option value="guatemala"> Guatemala </option>
                <option value="guyana"> Guyana </option>
                <option value="hungary"> Hungary </option>
                <option value="iceland"> Iceland </option>
                <option value="indonesia"> Indonesia </option>
                <option value="iran"> Iran </option>
                <option value="ireland"> Ireland </option>
                <option value="israel"> Israel </option>
                <option value="italy"> Italy </option>
                <option value="ivory-coast"> Ivory Coast </option>
                <option value="jamaica"> Jamaica </option>
                <option value="japan"> Japan </option>
                <option value="jordan"> Jordan </option>
                <option value="kazakhstan"> Kazakhstan </option>
                <option value="kenya"> Kenya </option>
                <option value="kiribata"> Kiribata </option>
                <option value="kuwait"> Kuwait </option>
                <option value="kyrgyzstan"> Kyrgyzstan </option>
                <option value="latvia"> Latvia </option>
                <option value="lebanon"> Lebanon </option>
                <option value="libya"> Libya </option>
                <option value="luxembourg"> Luxembourg </option>
                <option value="madagascar"> Madagascar </option>
                <option value="malaysia"> Malaysia </option>
                <option value="maldives"> Maldives </option>
                <option value="malta"> Malta </option>
                <option value="marshall-islands"> Marshall Islands </option>
                <option value="mauritius"> Mauritius </option>
                <option value="mexico"> Mexico </option>
                <option value="micronesia"> Micronesia </option>
                <option value="monaco"> Monaco </option>
                <option value="mongolia"> Mongolia </option>
                <option value="morocco"> Morocco </option>
                <option value="mozambique"> Mozambique </option>
                <option value="myanmar"> Myanmar </option>
                <option value="namibia"> Namibia </option>
                <option value="nauru"> Nauru </option>
                <option value="nepal"> Nepal </option>
                <option value="netherlands"> Netherlands </option>
                <option value="new-zealand"> New Zealand </option>
                <option value="niger"> Niger </option>
                <option value="nigeria"> Nigeria </option>
                <option value="niue-islands"> Niue Islands </option>
                <option value="norway"> Norway </option>
                <option value="oman"> Oman </option>
                <option value="pakistan"> Pakistan </option>
                <option value="palau"> Palau </option>
                <option value="palestine"> Palestine </option>
                <option value="panama"> Panama </option>
                <option value="papua-new-guinea"> Papua New Guinea </option>
                <option value="peru"> Peru </option>
                <option value="philippines"> Philippines </option>
                <option value="poland"> Poland </option>
                <option value="portugal"> Portugal </option>
                <option value="republic-of-korea"> Republic of Korea </option>
                <option value="reunion-islands"> Reunion Islands </option>
                <option value="romania"> Romania </option>
                <option value="russia"> Russia </option>
                <option value="samoa"> Samoa  </option>
                <option value="saudi-arabia"> Saudi Arabia </option>
                <option value="senegal"> Senegal </option>
                <option value="seychelles"> Seychelles </option>
                <option value="singapore"> Singapore </option>
                <option value="slovak-republic"> Slovak Republic </option>
                <option value="slovenia"> Slovenia </option>
                <option value="solomon-islands"> Solomon Islands </option>
                <option value="south-africa"> South Africa </option>
                <option value="south-sudan"> South Sudan </option>
                <option value="spain"> Spain </option>
                <option value="sri-lanka"> Sri Lanka </option>
                <option value="st-lucia"> St Lucia </option>
                <option value="st-vincent--the-grenadines"> St Vincent &amp; the Grenadines </option>
                <option value="sudan"> Sudan </option>
                <option value="suriname"> Suriname </option>
                <option value="sweden"> Sweden </option>
                <option value="switzerland"> Switzerland </option>
                <option value="taiwan"> Taiwan </option>
                <option value="tajikistan"> Tajikistan </option>
                <option value="tanzania"> Tanzania </option>
                <option value="thailand"> Thailand </option>
                <option value="togo"> Togo </option>
                <option value="tonga"> Tonga </option>
                <option value="trinidad-and-tobago"> Trinidad and Tobago </option>
                <option value="tunisia"> Tunisia </option>
                <option value="turkey"> Turkey </option>
                <option value="turkmenistan"> Turkmenistan </option>
                <option value="turks--caicos-island"> Turks &amp; Caicos Island </option>
                <option value="tuvalu"> Tuvalu  </option>
                <option value="uae"> UAE </option>
                <option value="uganda"> Uganda </option>
                <option value="ukraine"> Ukraine </option>
                <option value="united-kingdom"> United Kingdom </option>
                <option value="uruguay"> Uruguay </option>
                <option value="usa"> USA </option>
                <option value="uzbekistan"> Uzbekistan </option>
                <option value="vanuatu"> Vanuatu </option>
                <option value="venezuela"> Venezuela </option>
                <option value="vietnam"> Vietnam </option>
                <option value="yemen"> Yemen </option>
                <option value="zambia"> Zambia </option>
                <option value="zimbabwe"> Zimbabwe </option>
            </select>
            <input {{action 'checkEmbassy'}} value="CHECK EMBASSY" class="btn custom-button" style="display:inline-block;border-radius: 5px">
          </p>
        </div>
        <div class="bg-checkrequire-aphab">
          <div class="col-md-4">
            <div class="block-anphab-l">A</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/afghanistan"  title="Afghanistan">Afghanistan</a>
                </li>
                <li>
                  <a href="/embassy/albania"  title="Albania">Albania</a>
                </li>
                <li>
                  <a href="/embassy/algeria"  title="Algeria">Algeria</a>
                </li>
                <li>
                  <a href="/embassy/andorra"  title="Andorra">Andorra</a>
                </li>
                <li>
                  <a href="/embassy/angola"  title="Angola">Angola</a>
                </li>
                <li>
                  <a href="/embassy/argentina"  title="Argentina">Argentina</a>
                </li>
                <li>
                  <a href="/embassy/armenia"  title="Armenia">Armenia</a>
                </li>
                <li>
                  <a href="/embassy/Aruba"  title="Aruba">Aruba</a>
                </li>
                <li>
                  <a href="/embassy/australia"  title="Australia">Australia</a>
                </li>
                <li>
                  <a href="/embassy/austria"  title="Austria">Austria</a>
                </li>
                <li>
                  <a href="/embassy/azerbaijan"  title="Azerbaijan">Azerbaijan</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">B</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/bahamas"  title="Bahamas">Bahamas</a>
                </li>
                <li>
                  <a href="/embassy/bahrain"  title="Bahrain">Bahrain</a>
                </li>
                <li>
                  <a href="/embassy/bangladesh"  title="Bangladesh">Bangladesh</a>
                </li>
                <li>
                  <a href="/embassy/barbados"  title="Barbados">Barbados</a>
                </li>
                <li>
                  <a href="/embassy/belarus"  title="Belarus">Belarus</a>
                </li>
                <li>
                  <a href="/embassy/belgium"  title="Belgium">Belgium</a>
                </li>
                <li>
                  <a href="/embassy/bhutan"  title="Bhutan">Bhutan</a>
                </li>
                <li>
                  <a href="/embassy/bolivia"  title="Bolivia">Bolivia</a>
                </li>
                <li>
                  <a href="/embassy/brazil"  title="Brazil">Brazil</a>
                </li>
                <li>
                  <a href="/embassy/brunei"  title="Brunei">Brunei</a>
                </li>
                <li>
                  <a href="/embassy/bulgaria"  title="Bulgaria">Bulgaria</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">C</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/cambodia"  title="Cambodia">Cambodia</a>
                </li>
                <li>
                  <a href="/embassy/cameroon"  title="Cameroon">Cameroon</a>
                </li>
                <li>
                  <a href="/embassy/canada"  title="Canada">Canada</a>
                </li>
                <li>
                  <a href="/embassy/chile"  title="Chile">Chile</a>
                </li>
                <li>
                  <a href="/embassy/china"  title="China">China</a>
                </li>
                <li>
                  <a href="/embassy/colombia"  title="Colombia">Colombia</a>
                </li>
                <li>
                  <a href="/embassy/cook-islands"  title="Cook Islands">Cook Islands</a>
                </li>
                <li>
                  <a href="/embassy/croatia"  title="Croatia">Croatia</a>
                </li>
                <li>
                  <a href="/embassy/cuba"  title="Cuba">Cuba</a>
                </li>
                <li>
                  <a href="/embassy/cyprus"  title="Cyprus">Cyprus</a>
                </li>
                <li>
                  <a href="/embassy/czech"  title="Czech">Czech</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">D</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/denmark"  title="Denmark">Denmark</a>
                </li>
                <li>
                  <a href="/embassy/djibouti"  title="Djibouti">Djibouti</a>
                </li>
                <li>
                  <a href="/embassy/dominica"  title="Dominica">Dominica</a>
                </li>
                <li>
                  <a href="/embassy/dominican-republic"  title="Dominican Republic">Dominican Republic</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">E</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/east-timor"  title="East Timor">East Timor</a>
                </li>
                <li>
                  <a href="/embassy/ecuador"  title="Ecuador">Ecuador</a>
                </li>
                <li>
                  <a href="/embassy/egypt"  title="Egypt">Egypt</a>
                </li>
                <li>
                  <a href="/embassy/eritrea"  title="Eritrea">Eritrea</a>
                </li>
                <li>
                  <a href="/embassy/ethiopia"  title="Ethiopia">Ethiopia</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">F</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/fiji"  title="Fiji">Fiji</a>
                </li>
                <li>
                  <a href="/embassy/finland"  title="Finland">Finland</a>
                </li>
                <li>
                  <a href="/embassy/france"  title="France">France</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">G</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/georgia"  title="Georgia">Georgia</a>
                </li>
                <li>
                  <a href="/embassy/germany"  title="Germany">Germany</a>
                </li>
                <li>
                  <a href="/embassy/ghana"  title="Ghana">Ghana</a>
                </li>
                <li>
                  <a href="/embassy/greece"  title="Greece">Greece</a>
                </li>
                <li>
                  <a href="/embassy/guam"  title="Guam">Guam</a>
                </li>
                <li>
                  <a href="/embassy/guatemala"  title="Guatemala">Guatemala</a>
                </li>
                <li>
                  <a href="/embassy/guyana"  title="Guyana">Guyana</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">H</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/hungary"  title="Hungary">Hungary</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">I</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/iceland"  title="Iceland">Iceland</a>
                </li>
                <li>
                  <a href="/embassy/indonesia"  title="Indonesia">Indonesia</a>
                </li>
                <li>
                  <a href="/embassy/iran"  title="Iran">Iran</a>
                </li>
                <li>
                  <a href="/embassy/ireland"  title="Ireland">Ireland</a>
                </li>
                <li>
                  <a href="/embassy/israel"  title="Israel">Israel</a>
                </li>
                <li>
                  <a href="/embassy/italy"  title="Italy">Italy</a>
                </li>
                <li>
                  <a href="/embassy/ivory-coast"  title="Ivory Coast">Ivory Coast</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">J</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/jamaica"  title="Jamaica">Jamaica</a>
                </li>
                <li>
                  <a href="/embassy/japan"  title="Japan">Japan</a>
                </li>
                <li>
                  <a href="/embassy/jordan"  title="Jordan">Jordan</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">K</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/kazakhstan"  title="Kazakhstan">Kazakhstan</a>
                </li>
                <li>
                  <a href="/embassy/kenya"  title="Kenya">Kenya</a>
                </li>
                <li>
                  <a href="/embassy/kiribata"  title="Kiribata">Kiribata</a>
                </li>
                <li>
                  <a href="/embassy/kuwait"  title="Kuwait">Kuwait</a>
                </li>
                <li>
                  <a href="/embassy/kyrgyzstan"  title="Kyrgyzstan">Kyrgyzstan</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">L</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/latvia"  title="Latvia">Latvia</a>
                </li>
                <li>
                  <a href="/embassy/lebanon"  title="Lebanon">Lebanon</a>
                </li>
                <li>
                  <a href="/embassy/libya"  title="Libya">Libya</a>
                </li>
                <li>
                  <a href="/embassy/luxembourg"  title="Luxembourg">Luxembourg</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">M</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/madagascar"  title="Madagascar">Madagascar</a>
                </li>
                <li>
                  <a href="/embassy/malaysia"  title="Malaysia">Malaysia</a>
                </li>
                <li>
                  <a href="/embassy/maldives"  title="Maldives">Maldives</a>
                </li>
                <li>
                  <a href="/embassy/malta"  title="Malta">Malta</a>
                </li>
                <li>
                  <a href="/embassy/marshall-islands"  title="Marshall Islands">Marshall Islands</a>
                </li>
                <li>
                  <a href="/embassy/mauritius"  title="Mauritius">Mauritius</a>
                </li>
                <li>
                  <a href="/embassy/mexico"  title="Mexico">Mexico</a>
                </li>
                <li>
                  <a href="/embassy/micronesia"  title="Micronesia">Micronesia</a>
                </li>
                <li>
                  <a href="/embassy/monaco"  title="Monaco">Monaco</a>
                </li>
                <li>
                  <a href="/embassy/mongolia"  title="Mongolia">Mongolia</a>
                </li>
                <li>
                  <a href="/embassy/morocco"  title="Morocco">Morocco</a>
                </li>
                <li>
                  <a href="/embassy/mozambique"  title="Mozambique">Mozambique</a>
                </li>
                <li>
                  <a href="/embassy/myanmar"  title="Myanmar">Myanmar</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">N</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/namibia"  title="Namibia">Namibia</a>
                </li>
                <li>
                  <a href="/embassy/nauru"  title="Nauru">Nauru</a>
                </li>
                <li>
                  <a href="/embassy/nepal"  title="Nepal">Nepal</a>
                </li>
                <li>
                  <a href="/embassy/netherlands"  title="Netherlands">Netherlands</a>
                </li>
                <li>
                  <a href="/embassy/new-zealand"  title="New Zealand">New Zealand</a>
                </li>
                <li>
                  <a href="/embassy/niger"  title="Niger">Niger</a>
                </li>
                <li>
                  <a href="/embassy/nigeria"  title="Nigeria">Nigeria</a>
                </li>
                <li>
                  <a href="/embassy/niue-islands"  title="Niue Islands">Niue Islands</a>
                </li>
                <li>
                  <a href="/embassy/norway"  title="Norway">Norway</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">O</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/oman"  title="Oman">Oman</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">P</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/pakistan"  title="Pakistan">Pakistan</a>
                </li>
                <li>
                  <a href="/embassy/palau"  title="Palau">Palau</a>
                </li>
                <li>
                  <a href="/embassy/palestine"  title="Palestine">Palestine</a>
                </li>
                <li>
                  <a href="/embassy/panama"  title="Panama">Panama</a>
                </li>
                <li>
                  <a href="/embassy/papua-new-guinea"  title="Papua New Guinea">Papua New Guinea</a>
                </li>
                <li>
                  <a href="/embassy/peru"  title="Peru">Peru</a>
                </li>
                <li>
                  <a href="/embassy/philippines"  title="Philippines">Philippines</a>
                </li>
                <li>
                  <a href="/embassy/poland"  title="Poland">Poland</a>
                </li>
                <li>
                  <a href="/embassy/portugal"  title="Portugal">Portugal</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">R</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/republic-of-korea"  title="Republic of Korea">Republic of Korea</a>
                </li>
                <li>
                  <a href="/embassy/reunion-islands"  title="Reunion Islands">Reunion Islands</a>
                </li>
                <li>
                  <a href="/embassy/romania"  title="Romania">Romania</a>
                </li>
                <li>
                  <a href="/embassy/russia"  title="Russia">Russia</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">S</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/samoa"  title="Samoa ">Samoa </a>
                </li>
                <li>
                  <a href="/embassy/saudi-arabia"  title="Saudi Arabia">Saudi Arabia</a>
                </li>
                <li>
                  <a href="/embassy/senegal"  title="Senegal">Senegal</a>
                </li>
                <li>
                  <a href="/embassy/seychelles"  title="Seychelles">Seychelles</a>
                </li>
                <li>
                  <a href="/embassy/singapore"  title="Singapore">Singapore</a>
                </li>
                <li>
                  <a href="/embassy/slovak-republic"  title="Slovak Republic">Slovak Republic</a>
                </li>
                <li>
                  <a href="/embassy/slovenia"  title="Slovenia">Slovenia</a>
                </li>
                <li>
                  <a href="/embassy/solomon-islands"  title="Solomon Islands">Solomon Islands</a>
                </li>
                <li>
                  <a href="/embassy/south-africa"  title="South Africa">South Africa</a>
                </li>
                <li>
                  <a href="/embassy/south-sudan"  title="South Sudan">South Sudan</a>
                </li>
                <li>
                  <a href="/embassy/spain"  title="Spain">Spain</a>
                </li>
                <li>
                  <a href="/embassy/sri-lanka"  title="Sri Lanka">Sri Lanka</a>
                </li>
                <li>
                  <a href="/embassy/st-lucia"  title="St Lucia">St Lucia</a>
                </li>
                <li>
                  <a href="/embassy/st-vincent--the-grenadines"  title="St Vincent &amp; the Grenadines">St Vincent &amp; the Grenadines</a>
                </li>
                <li>
                  <a href="/embassy/sudan"  title="Sudan">Sudan</a>
                </li>
                <li>
                  <a href="/embassy/suriname"  title="Suriname">Suriname</a>
                </li>
                <li>
                  <a href="/embassy/sweden"  title="Sweden">Sweden</a>
                </li>
                <li>
                  <a href="/embassy/switzerland"  title="Switzerland">Switzerland</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">T</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/taiwan"  title="Taiwan">Taiwan</a>
                </li>
                <li>
                  <a href="/embassy/tajikistan"  title="Tajikistan">Tajikistan</a>
                </li>
                <li>
                  <a href="/embassy/tanzania"  title="Tanzania">Tanzania</a>
                </li>
                <li>
                  <a href="/embassy/thailand"  title="Thailand">Thailand</a>
                </li>
                <li>
                  <a href="/embassy/togo"  title="Togo">Togo</a>
                </li>
                <li>
                  <a href="/embassy/tonga"  title="Tonga">Tonga</a>
                </li>
                <li>
                  <a href="/embassy/trinidad-and-tobago"  title="Trinidad and Tobago">Trinidad and Tobago</a>
                </li>
                <li>
                  <a href="/embassy/tunisia"  title="Tunisia">Tunisia</a>
                </li>
                <li>
                  <a href="/embassy/turkey"  title="Turkey">Turkey</a>
                </li>
                <li>
                  <a href="/embassy/turkmenistan"  title="Turkmenistan">Turkmenistan</a>
                </li>
                <li>
                  <a href="/embassy/turks--caicos-island"  title="Turks &amp; Caicos Island">Turks &amp; Caicos Island</a>
                </li>
                <li>
                  <a href="/embassy/tuvalu"  title="Tuvalu ">Tuvalu </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">U</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/uae"  title="UAE">UAE</a>
                </li>
                <li>
                  <a href="/embassy/uganda"  title="Uganda">Uganda</a>
                </li>
                <li>
                  <a href="/embassy/ukraine"  title="Ukraine">Ukraine</a>
                </li>
                <li>
                  <a href="/embassy/united-kingdom"  title="United Kingdom">United Kingdom</a>
                </li>
                <li>
                  <a href="/embassy/uruguay"  title="Uruguay">Uruguay</a>
                </li>
                <li>
                  <a href="/embassy/usa"  title="USA">USA</a>
                </li>
                <li>
                  <a href="/embassy/uzbekistan"  title="Uzbekistan">Uzbekistan</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">V</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/vanuatu"  title="Vanuatu">Vanuatu</a>
                </li>
                <li>
                  <a href="/embassy/venezuela"  title="Venezuela">Venezuela</a>
                </li>
                <li>
                  <a href="/embassy/vietnam"  title="Vietnam">Vietnam</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">Y</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/yemen"  title="Yemen">Yemen</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-anphab-l">Z</div>
            <div class="block-anphab-r">
              <ul>
                <li>
                  <a href="/embassy/zambia"  title="Zambia">Zambia</a>
                </li>
                <li>
                  <a href="/embassy/zimbabwe"  title="Zimbabwe">Zimbabwe</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
