{{top-navigation classNames='container'}}
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <div class="embassy">
          {{article-html article=model}}
        </div>
        <br>
        <div class="col-md-12">
          <div class="col-md-12">
            <h3>Relative Countries</h3>
          </div>
          <ul>
            <li class="col-md-3">
              <a href="/embassy/albania" title="Albania">Albania</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/algeria" title="Algeria">Algeria</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/andorra" title="Andorra">Andorra</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/angola" title="India Embassy in Angola">Angola</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/argentina" title="India Embassy in Argentina">Argentina</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/armenia" title="Armenia">Armenia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/Aruba" title="Aruba">Aruba</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/australia" title="India Embassy in Australia">Australia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/austria" title="India Embassy in Austria">Austria</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/azerbaijan" title="Azerbaijan">Azerbaijan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/bahamas" title="India Embassy in Bahamas">Bahamas</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/bahrain" title="India Embassy in Bahrain">Bahrain</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/bangladesh" title="India Embassy in Bangladesh">Bangladesh</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/barbados" title="India Embassy in Barbados">Barbados</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/belarus" title="India Embassy in Belarus">Belarus</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/belgium" title="Embassy of India in Belgium">Belgium</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/bhutan" title="Embassy of India in Bhutan">Bhutan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/bolivia" title="Bolivia">Bolivia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/brazil" title="India Embassy in Brazil">Brazil</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/brunei" title="Brunei">Brunei</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/bulgaria" title="Bulgaria">Bulgaria</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/cambodia" title="India Embassy in Cambodia">Cambodia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/cameroon" title="India Embassy in Cameroon">Cameroon</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/canada" title="Canada">Canada</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/chile" title="Chile">Chile</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/china" title="India Embassy in China">China</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/colombia" title="Colombia">Colombia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/cook-islands" title="India Embassy in Cook Islands">Cook Islands</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/croatia" title="Croatia">Croatia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/cuba" title="Cuba">Cuba</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/cyprus" title="India Embassy in Cyprus">Cyprus</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/czech" title="Czech">Czech</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/denmark" title="India Embassy in Denmark">Denmark</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/djibouti" title="India Embassy in Djibouti">Djibouti</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/dominica" title="India Embassy in Dominica">Dominica</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/dominican-republic" title="India Embassy in Dominican Republic">Dominican Republic</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/east-timor" title="East Timor">East Timor</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/ecuador" title="India Consulate in Ecuador">Ecuador</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/egypt" title="Egypt">Egypt</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/eritrea" title="India Embassy in Eritrea">Eritrea</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/ethiopia" title="Ethiopia">Ethiopia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/ethiopia" title="India Embassy in Ethiopia">Ethiopia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/fiji" title="Fiji">Fiji</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/finland" title="India Embassy in Finland">Finland</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/france" title="Embassy of India in France">France</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/georgia" title="India Embassy in Georgia">Georgia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/germany" title="India Embassy in Germany">Germany</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/ghana" title="Ghana">Ghana</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/greece" title="India Embassy in Greece">Greece</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/guam" title="India Embassy in Guam">Guam</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/guatemala" title="Guatemala">Guatemala</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/guyana" title="Guyana">Guyana</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/hungary" title="Hungary">Hungary</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/iceland" title="India Embassy in Iceland">Iceland</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/indonesia" title="India Embassy in Indonesia">Indonesia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/iran" title="Iran">Iran</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/ireland" title="India Embassy in Ireland">Ireland</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/israel" title="India Embassy in Israel">Israel</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/italy" title="India Embassy in Italy">Italy</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/ivory-coast" title="Ivory Coast">Ivory Coast</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/jamaica" title="Jamaica">Jamaica</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/japan" title="India Embassy in Japan">Japan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/jordan" title="India Embassy in Jordan">Jordan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/kazakhstan" title="India Embassy in Kazakhstan">Kazakhstan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/kenya" title="India Embassy in Kenya">Kenya</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/kiribata" title="India Embassy in Kiribata">Kiribata</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/kuwait" title="India Embassy in Kuwait">Kuwait</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/kyrgyzstan" title="India Embassy in Kyrgyzstan">Kyrgyzstan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/latvia" title="India Embassy in Latvia">Latvia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/lebanon" title="Lebanon">Lebanon</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/libya" title="India Embassy in Libya">Libya</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/luxembourg" title="India Embassy in Luxembourg">Luxembourg</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/madagascar" title="Madagascar">Madagascar</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/malaysia" title="Malaysia">Malaysia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/maldives" title="Maldives">Maldives</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/malta" title="Malta">Malta</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/marshall-islands" title="India Embassy in Marshall Islands">Marshall Islands</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/mauritius" title="India Embassy in Mauritius">Mauritius</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/mexico" title="India Embassy in Mexico">Mexico</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/micronesia" title="India Embassy in Micronesia">Micronesia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/monaco" title="Monaco">Monaco</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/mongolia" title="Mongolia">Mongolia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/morocco" title="Morocco">Morocco</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/mozambique" title="Mozambique">Mozambique</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/myanmar" title="India Embassy in Myanmar">Myanmar</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/namibia" title="Namibia">Namibia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/nauru" title="India Embassy in Nauru">Nauru</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/nepal" title="Nepal">Nepal</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/netherlands" title="Netherlands">Netherlands</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/new-zealand" title="India Embassy in New Zealand">New Zealand</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/niger" title="Niger">Niger</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/nigeria" title="Nigeria">Nigeria</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/niue-islands" title="India Embassy in Niue Islands">Niue Islands</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/norway" title="India Embassy in Norway">Norway</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/oman" title="India Embassy in Oman">Oman</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/pakistan" title="Pakistan">Pakistan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/palau" title="India Embassy in">Palau</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/palestine" title="India Embassy in Palestine">Palestine</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/panama" title="Panama">Panama</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/papua-new-guinea" title="India Embassy in Papua New Guinea">Papua New Guinea</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/peru" title="Peru">Peru</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/philippines" title="India Embassy in Philippines">Philippines</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/poland" title="Poland">Poland</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/portugal" title="Portugal">Portugal</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/republic-of-korea" title="Republic of Korea">Republic of Korea</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/reunion-islands" title="Reunion Islands">Reunion Islands</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/romania" title="India Embassy in Romania">Romania</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/russia" title="India Embassy in Russia">Russia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/samoa-" title="India Embassy in Samoa ">Samoa </a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/saudi-arabia" title="Saudi Arabia">Saudi Arabia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/senegal" title="Senegal">Senegal</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/seychelles" title="Seychelles">Seychelles</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/singapore" title="India Embassy in Singapore">Singapore</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/slovak-republic" title="Slovak Republic">Slovak Republic</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/slovenia" title="Slovenia">Slovenia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/solomon-islands" title="India Embassy in Solomon Islands">Solomon Islands</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/south-africa" title="India Embassy in South Africa">South Africa</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/south-sudan" title="South Sudan">South Sudan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/spain" title="Spain">Spain</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/sri-lanka" title="Sri Lanka">Sri Lanka</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/st-lucia" title="St Lucia">St Lucia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/st-vincent--the-grenadines" title="St Vincent &amp; the Grenadines">St Vincent &amp; the Grenadines</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/sudan" title="Sudan">Sudan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/suriname" title="Suriname">Suriname</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/sweden" title="Sweden">Sweden</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/switzerland" title="Switzerland">Switzerland</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/taiwan" title="India Embassy in Taiwan">Taiwan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/tajikistan" title="Tajikistan">Tajikistan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/tanzania" title="Tanzania">Tanzania</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/thailand" title="India Embassy in Thailand">Thailand</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/togo" title="Togo">Togo</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/tonga" title="India Embassy in Tonga">Tonga</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/trinidad-and-tobago" title="Trinidad and Tobago">Trinidad and Tobago</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/tunisia" title="Tunisia">Tunisia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/turkey" title="India Embassy in Turkey">Turkey</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/turkmenistan" title="Turkmenistan">Turkmenistan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/turks--caicos-island" title="Turks &amp; Caicos Island">Turks &amp; Caicos Island</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/tuvalu" title="India Embassy in Tuvalu ">Tuvalu </a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/uae" title="India Embassy in UAE">UAE</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/uganda" title="Uganda">Uganda</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/ukraine" title="India Embassy in Ukraine">Ukraine</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/united-kingdom" title="India Embassy in United Kingdom">United Kingdom</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/uruguay" title="India Embassy in Uruguay">Uruguay</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/usa" title="India Embassy in USA">USA</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/uzbekistan" title="Uzbekistan">Uzbekistan</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/vanuatu" title="India Embassy in Vanuatu">Vanuatu</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/venezuela" title="India Embassy in Venezuela">Venezuela</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/vietnam" title="India Embassy in Vietnam">Vietnam</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/yemen" title="India Embassy in Yemen">Yemen</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/zambia" title="India Embassy in Zambia">Zambia</a>
            </li>
            <li class="col-md-3">
              <a href="/embassy/zimbabwe" title="India Embassy in Zimbabwe">Zimbabwe</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
