{{top-navigation classNames='container'}}
<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {{forgot-password}}
      </div>
    </div>
  </div>
</article>