{{top-navigation classNames='container'}}
<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="step step1">
          <div class="row">
            <div class="col-md-5">
              {{login-form}}
            </div>
            <div class="col-md-6">
              {{sign-up}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>