<body style="box-sizing: border-box;width:100%;margin: auto;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
<div class="header">
    <div style="box-sizing: border-box;width: 50%;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;float: left;">
        <img src="http://sv1.upsieutoc.com/2017/06/07/logof6db4.png"/>
        <table style="box-sizing: border-box;width: 100%;max-width: 100%;margin-bottom: 20px;border: 1px solid #000000;background-color: transparent;border-spacing: 0;border-collapse: collapse;">
            <tr>
                <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                    Customer ID:
                </td>
                <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                    #41739154
                </td>
            <tr>
            <tr>
                <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                    Order ID:
                </td>
                <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                    #41739154
                </td>
            </tr>
        </table>
    </div>
    <div style="box-sizing: border-box;color:red;margin-left: 16.66666667%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
        <div><strong>Evisa4u Pty Ltd</strong></div>
        <div>Add: 309 Pitt Street</div>
        <div>Sydney, Australia, 2000.</div>
        <div>Tel:  +61 2 80074425</div>
        <div>Email: visa@indiaonlineevisa.com</div>
    </div>
</div>
<div class="main"
     style="box-sizing: border-box;padding-bottom: 150px;width: 100%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
    <h4 class="text-center"
        style="box-sizing: border-box;border: 1px solid black;background: #bf1111;color: white;padding: 10px;font-weight: 700;">
        ACCOUNT INFORMATION</h4>
    <h4 style="box-sizing: border-box;font-weight: 700;padding-left: 20px;">Sub: Auth/Pre-Debit/Debit receipt of
        www.onlineindiaevisa.com services.</h4>
    <span style="box-sizing: border-box;padding-left: 20px">Evisa4u Pty Ltd trading as indiaonlineevisa.com confirmation about we are complete authorization your Credit/Debit card as detail information you provided to us.
        </span>
    <table style="box-sizing: border-box;width: 100%;max-width: 100%;margin-bottom: 20px;border: 1px solid #000000;background-color: transparent;border-spacing: 0;border-collapse: collapse;">
        <tbody>
        <tr>
            <th style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: left;">
                Card Holder's Name:
            </th>
            <th style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Doe
            </th>
            <th style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: left;">
                Expire Date:
            </th>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: right;">
                john@example.com
            </td>
        </tr>
        <tr>
            <th style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: left;">
                Card Number:
            </th>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: center;">
                Doe
            </td>
            <th style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: left;">
                CVV:
            </th>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: right;">
                john@example.com
            </td>
        </tr>
        <tr>
            <th style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: left;">
                Transaction ID:
            </th>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: center;">
                Moe
            </td>
            <th style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: left;">
                Transaction Date:
            </th>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;text-align: right;">
                john@example.com
            </td>
        </tr>
        </tbody>
    </table>
    <h4 style="box-sizing: border-box;font-weight: 700;padding-left: 20px;color:red">Risk Information:</h4>
    <table style="box-sizing: border-box;width: 100%;max-width: 100%;margin-bottom: 20px;border: 1px solid #000000;background-color: transparent;border-spacing: 0;border-collapse: collapse;">
        <tbody>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;"
                colspan="3">Firstname
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                BIN Country
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                IP Country
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Account Country
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                United States(US)
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                United States(US)
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                United States(US)
            </td>
        </tr>
        </tbody>
    </table>
    <h4 style="box-sizing: border-box;font-weight: 700;padding-left: 20px;">Bin Code Information:</h4>
    <table style="box-sizing: border-box;width: 100%;max-width: 100%;margin-bottom: 20px;border: 1px solid #000000;background-color: transparent;border-spacing: 0;border-collapse: collapse;">
        <tbody>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Bank
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                CITIBANK, N.A.
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Card
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                MASTERCARD
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Type
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                CREDIT
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Level
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                CORPORATE
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Country
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Moe
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Countrycode
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                UNITED STATES
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Website
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                HTTPS://ONLINE.CITIBANK.COM/
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Phone
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                1-800-374-9700
            </td>
        </tr>
        </tbody>
    </table>
    <h4 style="box-sizing: border-box;font-weight: 700;padding-left: 20px;">IP Information:</h4>
    <table style="box-sizing: border-box;width: 100%;max-width: 100%;margin-bottom: 20px;border: 1px solid #000000;background-color: transparent;border-spacing: 0;border-collapse: collapse;">
        <tbody>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Country
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                United States
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                CountryCode
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                US
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Region
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                TN
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                RegionName
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Tennessee
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                City
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Collierville
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Zip
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                38017
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Lat
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                35.0910987854
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Lon
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                -89.6510009766
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Lat
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                35.0910987854
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Timezone
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                America/Chicago
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Isp
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                FedEx
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Org
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                FedEx International Transmission Corporation
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                As
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                AS7726 FedEx International Transmission Corporation
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Query
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                199.82.243.104
            </td>
        </tr>
        </tbody>
    </table>
    <h4 style="box-sizing: border-box;font-weight: 700;padding-left: 20px;">Account Information:</h4>
    <table style="box-sizing: border-box;width: 100%;max-width: 100%;margin-bottom: 20px;border: 1px solid #000000;background-color: transparent;border-spacing: 0;border-collapse: collapse;">
        <tbody>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                ID
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                #41739154
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Full Name
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Colin Charles Hudson
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Email
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                colinchudson@gmail.com
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Skype
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Tennessee
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Country
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                United States
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Shipping Address
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                4577 Danson Way,Delray Beach, Fl 33445
            </td>
        </tr>
        <tr>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                Telephone
            </td>
            <td style="box-sizing: border-box;padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #000000;">
                5616651237
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <div style="box-sizing: border-box;width: 50%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;">
        <div style="box-sizing: border-box;padding-bottom:80px;text-decoration: underline;"><strong>India Visa Affiliate
                Office</strong></div>
        <div>
            <strong>Address:</strong>
            <span>Mumbai Bandra Kurla Complex - Trade Center G/F & 1/F, Trade Centre, Bandra Kurla Complex, Bandra (e), Mumbai, 400 051</span>
        </div>
        <div>
            <strong>Telephone:</strong>
            <span>+1 917 397 7487</span>
        </div>
        <div>
            <strong>Website:</strong>
            <span> www.www.onlineindiaevisa.com</span>
        </div>
    </div>
    <div style="box-sizing: border-box;width: 50%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;">
        <div style="box-sizing: border-box;padding-bottom:80px;text-decoration: underline;"><strong>Myanmar Visa
                Affiliate Office</strong></div>
        <div>
            <strong>Address:</strong>
            <span>No.129, 36th street, Kyauktada Township Yangon, Myanmar</span>
        </div>
        <div>
            <strong>Telephone:</strong>
            <span>+1917 725 5227</span>
        </div>
        <div>
            <strong>Website:</strong>
            <span> www.myanmarvisacorp.com</span>
        </div>
    </div>
    <div style="box-sizing: border-box;text-align: center;width: 100%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
        <strong>
            Copyright ©1997 - 2017 www.onlineindiaevisa.com is part of GALAXY ONE PTE.LTD (Group of Companies), the world
            leading in Online Travel & Related services. All Rights Reserved
        </strong>
    </div>
</div>
</body>
