<table cellspacing="5" cellpadding="5" border="0" bgcolor="#fe8100" align="center" width="100%">
  <tbody>
    <tr>
      <td> <strong>Dear <em><%=contactName;%></em>,</strong> </td>
    </tr>
    <tr>
      <td> Thanks for choosing <a href="https://indiaonlineevisa.com">www.onlineindiaevisa.com</a><br>
        <br>
        <font style="font-size:18px">Please send the require Document below to Email <a href="mailto:support@indiaonlineevisa.com">support@indiaonlineevisa.com</a> to process visa ASAP</font>
            <p>1.	01 passport scan per person (You can take picture the first page of passport).</p>
            <p>2. 01 photo passport (any size you have)  per person (the filename is your full name).</p>
            <% if (typeOfVisa === '243') { %>
            <p>3. 01 copy of business card.</p>
            <% } else if (typeOfVisa === '244') { %>
            <p>3. 01 copy of invitation letter from hospital.</p>
            <% } %>
        Please complete the Visa fee as well so We can process and send the Evisa to you via email as soon as possible.<br/>
           <a style="background:#c32615;display:inline-block;color:#fff;text-decoration:none;border-radius:6px;border-bottom:1px solid rgba(0,0,0,0.25);border:0px;background-color:#c32615;font-weight:bold;line-height:1;font-size:16px;padding:8px 14px 9px;width:180px;text-align:center"
            href="<%=paymentLink;%>"><strong>MAKE PAYMENT NOW</strong></a>
        <br/>
        <font style="font-size:18px">**Please note: This email is not India ETA, not valid for entering in India. Please make sure that you will check
          your email frequently to
          <font style="font-size:24px" color="#FF0000">UPDATE YOUR VISA STATUS</font>.</font>
        <br>
        <p style="font-size:16px"> We just process your visa when you finished the payment and provide all the documents as we required. Processing
          time will be counting from all documents received.</p>
        <p style="font-size:16px">Please double check to make sure the information is correct.</p>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <h3> Your order : <strong style="color:#f00;font-size:larger">#<%=orderId;%></strong></h3>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:400px"><strong>Order Date</strong></td>
              <td>
                <%=orderDate;%>
              </td>
            </tr>
            <tr>
              <td><strong>Visa Type</strong></td>
              <td>
                <%=visaType;%>
              </td>
            </tr>
            <tr>
              <td><strong>Arrival Date</strong></td>
              <td>
                <%=dateOfArrival;%>
              </td>
            </tr>
            <tr>
              <td><strong>Exit Date</strong></td>
              <td><span class="aBn" data-term="goog_1045096163" tabindex="0"><span class="aQJ"><%=dateOfDeparture;%></span></span>
              </td>
            </tr>
            <tr>
              <td><strong>Transportation method</strong></td>
              <td>
                <%=transportationMethod;%>
              </td>
            </tr>
            <tr>
              <td><strong>Port of arrival</strong></td>
              <td>
                <%=portOfArrivalText;%>
              </td>
            </tr>
            <tr>
              <td><strong>Number of Applicants</strong></td>
              <td>
                <%=numberOfVisa;%>
              </td>
            </tr>
            <tr>
              <td><strong>Processing Fees</strong></td>
              <td>$
                <%=visaFee;%>
              </td>
            </tr>
            <tr>
              <td><strong>Total Processing Fees</strong></td>
              <td>$
                <%=totalVisaFee;%>
              </td>
            </tr>
            <tr>
              <td><strong><%=processTypeText;%> $<%=processFee;%> x 1</strong></td>
              <td>$
                <%=processFee;%>
              </td>
            </tr>
            <tr>
              <td><strong>Government Fee</strong></td>
              <td>$
                <%=govermentVisaFee;%>
              </td>
            </tr>
            <tr>
              <td><strong>Special Request</strong></td>
              <td>
                <%=contactNote;%>
              </td>
            </tr>
            <tr>
              <td><strong>How many time use travel to India this year?</strong></td>
              <td>
                <%=numverOfTravelInYear;%>
              </td>
            </tr>
            <tr>
              <td><strong>Do you have any family members is from Pakistan?</strong></td>
              <td>
                <%=question2;%>
              </td>
            </tr>
            <tr>
              <td><strong>Do you have a physical or mental disorder; or are you a drug abuser or addict; or do you currently have any of the following diseases?</strong></td>
              <td>
                <%=question3;%>
              </td>
            </tr>
            <tr>
              <td><strong>Have you ever been arrested or convicted for a crime that resulted in serious damage to property, or serious harm to another person or government authority?</strong></td>
              <td>
                <%=question4;%>
              </td>
            </tr>
            <tr>
              <td><strong>Have you ever violated any law related to possessing, using, or distributing illegal drugs?</strong></td>
              <td>
                <%=question5;%>
              </td>
            </tr>
            <tr>
              <td><strong>Total</strong></td>
              <td><strong style="color:#f00;font-size:18px">$<%=totalFees;%></strong></td>
            </tr>
          </tbody>
        </table>
        <br> <strong>DETAIL OF APPLICANTS:</strong>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse;text-align:center" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:50px"><strong>No</strong></td>
              <td><strong>Surname</strong></td>
              <td><strong>Given Name</strong></td>
              <td><strong>Gender</strong></td>
              <td><strong>Birthday</strong></td>
              <td><strong>Nationality</strong></td>
              <td><strong>Passport</strong></td>
              <td><strong>Government Fee</strong></td>
            </tr>
            <% applicants.forEach(function(applicant){ %>
              <tr>
                <td>
                  <%=applicant.id;%>
                </td>
                <td>
                  <%=applicant.surName;%>
                </td>
                <td>
                  <%=applicant.givenName;%>
                </td>
                <td>
                  <%=applicant.gender;%>
                </td>
                <td>
                  <%=applicant.dateOfBirth;%>
                </td>
                <td>
                  <%=applicant.nationality;%>
                </td>
                <td>
                  <%=applicant.passportNumber;%>
                </td>
                <td>$
                  <%=applicant.govermentFee;%>
                </td>
              </tr>
              <% if (applicant.relious || applicant.education || applicant.fatherName || applicant.fatherNationality || applicant.motherName || applicant.motherNationality) { %>
                <tr>
                  <td colspan="2" rowspan="2" style="text-align: left"><strong>Family Information</strong></td>
                  <td><strong>Relious</strong></td>
                  <td><strong>Education</strong></td>
                  <td><strong>Father Name</strong></td>
                  <td><strong>Father Nationality</strong></td>
                  <td><strong>Mother Name</strong></td>
                  <td><strong>Mother Nationality</strong></td>
                </tr>
                <tr>
                  <td>
                    <%=applicant.relious;%>
                  </td>
                  <td>
                    <%=applicant.education;%>
                  </td>
                  <td>
                    <%=applicant.fatherName;%>
                  </td>
                  <td>
                    <%=applicant.fatherNationality;%>
                  </td>
                  <td>
                    <%=applicant.motherName;%>
                  </td>
                  <td>
                    <%=applicant.motherNationality;%>
                  </td>
                </tr>
                <% } %>
                  <% }); %>
          </tbody>
        </table>
        <br> <strong>DEVICE INFORMATION:</strong>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:200px"><strong>HTTP USER AGENT</strong></td>
              <td>
                <%=userAgent;%>
              </td>
            </tr>
            <tr>
              <td><strong>IP</strong></td>
              <td>
                <%=ipClient;%>
              </td>
            </tr>
          </tbody>
        </table>
        <br> <strong>ACCOUNT INFORMATION:</strong>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td><strong>ID</strong></td>
              <td><strong style="color:#f00;font-size:larger">#<%=orderId;%></strong></td>
            </tr>
            <tr>
              <td style="width:200px"><strong>Full Name</strong></td>
              <td>
                <%=contactName;%>
              </td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td>
                <a href="${contactEmail}" target="_blank">
                  <%=contactEmail;%>
                </a>
              </td>
            </tr>
            <tr>
              <td><strong>Skype</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Country</strong></td>
              <td>
                <%=contactCountry;%>
              </td>
            </tr>
            <tr>
              <td><strong>Address<br> </strong></td>
              <td>
                <%=contactAddress;%>
              </td>
            </tr>
            <tr>
              <td><strong>Telephone</strong></td>
              <td>
                <%=contactPhone;%>
              </td>
            </tr>
          </tbody>
        </table>
        <p> <strong><em>Best Regards,</em></strong>
          <br>
          <br> <strong>Evisa4u Pty Ltd trading as <a href="www.onlineindiaevisa.com">www.onlineindiaevisa.com</a></strong>
          <br> <strong>At your service 24/7.</strong> </p>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="border-top:#666 solid 1px">

        <p> <em>This Portal has been developed by <a href="www.onlineindiaevisa.com">www.onlineindiaevisa.com</a> &amp; hosted at <a href="www.godaddy.com">godaddy.com</a>
        <br>Though all efforts have been made to ensure the accuracy of the content on this Portal, the same should not be construed as a statement of law or used for any legal purposes. IOEV accepts no responsibility in relation to the accuracy, completeness, usefulness or otherwise, of the contents. Users are advised to verify/check any information, and to obtain any appropriate professional advice before acting on the information provided in the Portal.</em>          </p>
        <p> <em>In no event will the IOEV will be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this Portal.  
        </em>
          <br>
        </p>
        <p>
          <em>All of the content and Information brought to you by the Ministry of External Affairs, Government of India.
          </em>
        </p>
        <p>
          <em>Please refer following Policies related Privacy, Copyright and Hyper linking Policy of this Portal, If you need any more information than please visit following or feel free to contact us.
          </em>
        </p>
        <p>

        </p>
        <span class="HOEnZb"><font color="#888888"><span class="m_4327483968414968247HOEnZb"><font color="#888888"> </font></span></font>
        </span>
      </td>
    </tr>
  </tbody>
</table>