<table cellspacing="5" cellpadding="5" border="0" bgcolor="#fe8100" align="center" width="100%">
  <tbody>
    <tr>
      <td> <strong>Dear <em><%=contactEmail;%></em>,</strong> </td>
    </tr>
    <tr>
      <td><span>Customer ID: <%=contactEmail;%></span>
        <br>
        <span>We confirm that your payment is go though</span>
      </td>
    </tr>
    <tr>
      <td>
        <br>      
        <font style="font-size:22px">**Please note: This email is not India eVisa, not valid for entering in India. Please make sure that you will check your email frequently to
          <font color="#FF0000">UPDATE YOUR VISA STATUS</font>.</font>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <h3>Your payment: <strong style="color:#f00;font-size:larger">#<%=paymentId;%></strong></h3>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td><strong>Email Address</strong></td>
              <td>
                <%=contactEmail;%>
              </td>
            </tr>
            <tr>
              <td><strong>Amount</strong></td>
              <td>
                $<%=amount;%>
              </td>
            </tr>
            <tr>
              <td><strong>Card Number</strong></td>
              <td><span class="aBn" data-term="goog_1045096163" tabindex="0"><span class="aQJ"><%=cardNumber;%></span></span>
              </td>
            </tr>
            <tr>
              <td><strong>Payment Date</strong></td>
              <td><span class="aBn" data-term="goog_1045096163" tabindex="0"><span class="aQJ"><%=paymentDate;%></span></span>
              </td>
            </tr>
            <tr>
              <td><strong>Payment Methods</strong></td>
              <td>
                <%=paymentType;%>
              </td>
            </tr>
            <tr>
              <td><strong>Payment for</strong></td>
              <td>
                <%=paymentFor;%>
              </td>
            </tr>
            <tr>
              <td><strong>Note for payment</strong></td>
              <td>
                <%=note;%>
              </td>
            </tr>
          </tbody>
        </table>
        <br> <strong>DEVICE INFORMATION:</strong>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:200px"><strong>HTTP USER AGENT</strong></td>
              <td>
                <%=userAgent;%>
              </td>
            </tr>
            <tr>
              <td><strong>IP</strong></td>
              <td>
                <%=ipClient;%>
              </td>
            </tr>
          </tbody>
        </table>
        <p> <strong><em>Best Regards,</em></strong>
          <br>
          <br> <strong>Evisa4u Pty Ltd trading as indiaonlineevisa.com.</strong>
          <br> <strong>WE ARE BESIDE YOU 24/7.</strong> </p>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="border-top:#666 solid 1px">
        <p> <em>This Portal has been developed by <a href="www.onlineindiaevisa.com">www.onlineindiaevisa.com</a> &amp; hosted at <a href="www.godaddy.com">godaddy.com</a>
        <br>Though all efforts have been made to ensure the accuracy of the content on this Portal, the same should not be construed as a statement of law or used for any legal purposes. IOEV accepts no responsibility in relation to the accuracy, completeness, usefulness or otherwise, of the contents. Users are advised to verify/check any information, and to obtain any appropriate professional advice before acting on the information provided in the Portal.</em></p>
        <p> <em>In no event will the IOEV will be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this Portal.  
        </em>
          <br>
        </p>
        <p>
          <em>All of the content and Information brought to you by the Ministry of External Affairs, Government of India.
          </em>
        </p>
        <p>
          <em>Please refer following Policies related Privacy, Copyright and Hyper linking Policy of this Portal, If you need any more information than please visit following or feel free to contact us.
          </em>
        </p>
        <p>
        </p>
        <span class="HOEnZb"><font color="#888888"><span class="m_4327483968414968247HOEnZb"><font color="#888888"> </font></span></font>
        </span>
      </td>
    </tr>
  </tbody>
</table>
