<table cellspacing="5" cellpadding="5" border="0" bgcolor="#fe8100" align="center" width="100%">
  <tbody>
    <tr>
      <td> <strong>Dear <em><%=contactName;%></em>,</strong> </td>
    </tr>
    <tr>
      <td><span>Customer ID: #<%=contactEmail;%></span>
        <br>
      </td>
    </tr>
    <tr>
      <td>
        <font style="font-size:22px">
          We received your payment on <%=dateOfDeparture;%> for the order number of #<%=orderId;%>. The detail information of your order are listed below:
        </font>
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <font style="font-size:22px">**Please note: This email is not India <span style="background-color: yellow">ETA</span>, not valid for entering in India. Please make sure that you will check your email frequently to
          <font color="#FF0000">UPDATE YOUR VISA STATUS</font>.</font>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <h3>A. Your order : <strong style="color:#f00;font-size:larger">#<%=orderId;%></strong></h3>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:400px"><strong>Order Date</strong></td>
              <td>
                <%=orderDate;%>
              </td>
            </tr>
            <tr>
              <td><strong>Visa Type</strong></td>
              <td>
                <%=visaType;%>
              </td>
            </tr>
            <tr>
              <td><strong>Arrival Date</strong></td>
              <td>
                <%=dateOfArrival;%>
              </td>
            </tr>
            <tr>
              <td><strong>Exit Date</strong></td>
              <td><span class="aBn" data-term="goog_1045096163" tabindex="0"><span class="aQJ"><%=dateOfDeparture;%></span></span>
              </td>
            </tr>
            <tr>
              <td><strong>Transportation method</strong></td>
              <td>
                <%=transportationMethod;%>
              </td>
            </tr>
            <tr>
              <td><strong>Port of arrival</strong></td>
              <td>
                <%=portOfArrivalText;%>
              </td>
            </tr>
            <tr>
              <td><strong>Number of Applicants</strong></td>
              <td>
                <%=numberOfVisa;%>
              </td>
            </tr>
            <tr>
              <td><strong>Processing Fees</strong></td>
              <td>$
                <%=visaFee;%>
              </td>
            </tr>
            <tr>
              <td><strong>Total Processing Fees</strong></td>
              <td>$
                <%=totalVisaFee;%>
              </td>
            </tr>
            <tr>
              <td><strong><%=processTypeText;%> $<%=processFee;%> x 1</strong></td>
              <td>$
                <%=processFee;%>
              </td>
            </tr>
            <tr>
              <td><strong>Government Fee</strong></td>
              <td>$
                <%=govermentVisaFee;%>
              </td>
            </tr>
            <tr>
              <td><strong>Special Request</strong></td>
              <td>
                <%=contactNote;%>
              </td>
            </tr>
            <tr>
              <td><strong>Total</strong></td>
              <td><strong style="color:#f00;font-size:22px">$<%=totalFees;%></strong></td>
            </tr>
          </tbody>
        </table>
        <p> <strong><em>Best Regards,</em></strong>
          <br>
          <br> <strong>Evisa4u Pty Ltd trading as indiaonlineevisa.com.</strong>
          <br> <strong>WE ARE BESIDE YOU 24/7.</strong> </p>
        <hr>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="border-top:#666 solid 1px">
        <p> <em>This Portal has been developed by <a href="www.onlineindiaevisa.com">www.onlineindiaevisa.com</a> &amp; hosted at <a href="www.godaddy.com">godaddy.com</a>
        <br>Though all efforts have been made to ensure the accuracy of the content on this Portal, the same should not be construed as a statement of law or used for any legal purposes. IOEV accepts no responsibility in relation to the accuracy, completeness, usefulness or otherwise, of the contents. Users are advised to verify/check any information, and to obtain any appropriate professional advice before acting on the information provided in the Portal.</em>          </p>
        <p> <em>In no event will the IOEV will be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this Portal.  
        </em>
          <br>
        </p>
        <p>
          <em>All of the content and Information brought to you by the Ministry of External Affairs, Government of India.
          </em>
        </p>
        <p>
          <em>Please refer following Policies related Privacy, Copyright and Hyper linking Policy of this Portal, If you need any more information than please visit following or feel free to contact us.
          </em>
        </p>
        <p>
          
        </p>
        <span class="HOEnZb"><font color="#888888"><span class="m_4327483968414968247HOEnZb"><font color="#888888"> </font></span></font>
        </span>
      </td>
    </tr>
  </tbody>
</table>
