<table cellspacing="5" cellpadding="5" border="0" bgcolor="#fe8100" align="center" width="100%">
  <tbody>
    <tr>
      <td> <strong>Dear <em><%=contactName;%></em>,</strong> </td>
    </tr>
    <tr>
      <td> Thank  for your application visa to India. This is confirmation that we have received your application for visa to india.<br>
        <br>
        <font style="font-size:18px">Please send the require Document below to Email <a href="mailto:support@indiaonlineevisa.com">support@indiaonlineevisa.com</a> to process visa ASAP</font>
            <p>1.	01 passport scan per person (You can take picture the first page of passport).</p>
            <p>2. 01 photo passport (any size you have)  per person (the filename is your full name).</p>
            <% if (typeOfVisa === '243') { %>
            <p>3. 01 copy of business card.</p>
            <% } else if (typeOfVisa === '244') { %>
            <p>3. 01 copy of invitation letter from hospital.</p>
            <% } %>
        <font style="font-size:16px">And please complete the Visa fee here </font>   
       <br> <a style="background:#c32615;display:inline-block;color:#fff;text-decoration:none;border-radius:6px;border-bottom:1px solid rgba(0,0,0,0.25);border:0px;background-color:#c32615;font-weight:bold;line-height:1;font-size:30px;padding:8px 14px 9px;width:240px;text-align:center"
            href="<%=paymentLink;%>"><strong>MAKE PAYMENT NOW</strong></a>
        <br/>

            Please complete the Visa fee as well so We can process and send the Evisa to you via email as soon as possible.
        <br>
          <font style="font-size:34px; color:#f00;font-size:larger" > <a href="https://indiaonlineevisa.com/make-payment" >Make Payment Now</a> </font>  
       
        <font style="font-size:22px">** Please note: This email is not your India ETA, not valid for entering in India once you complete all processes your will recieve your Visa by email.
        </font>
          <font style="font-size:18px">If you would like change any information on your application. Please submit the detail to us via email <a href="mailto:support@indiaonlineevisa.com">support@indiaonlineevisa.com</a> and quote your 
            <b> order number </b> below with all correspondence.
        </font> <br>

        <br> Thank you once again for choosing www.onlineindiaevisa.com
        </td>
    </tr>
    <tr>
      <td valign="top">
        <h3>A. Your order : <strong style="color:#f00;font-size:larger">#<%=orderId;%></strong></h3>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:400px"><strong>Order Date</strong></td>
              <td><%=orderDate;%></td>
            </tr>
            <tr>
              <td><strong>Visa Type</strong></td>
              <td><%=visaType;%></td>
            </tr>
            <tr>
              <td><strong>Arrival Date</strong></td>
              <td><%=dateOfArrival;%></td>
            </tr>
            <tr>
              <td><strong>Exit Date</strong></td>
              <td><span class="aBn" data-term="goog_1045096163" tabindex="0"><span class="aQJ"><%=dateOfDeparture;%></span></span>
              </td>
            </tr>
            <tr>
              <td><strong>Transportation method</strong></td>
              <td><%=transportationMethod;%></td>
            </tr>
            <tr>
              <td><strong>Port of arrival</strong></td>
              <td><%=portOfArrivalText;%></td>
            </tr>
            <tr>
              <td><strong>Number of Applicants</strong></td>
              <td><%=numberOfVisa;%></td>
            </tr>
            <tr>
              <td><strong>Processing Fees</strong></td>
              <td>$<%=visaFee;%></td>
            </tr>
            <tr>
              <td><strong>Total Processing Fees</strong></td>
              <td>$<%=totalVisaFee;%></td>
            </tr>
            <tr>
              <td><strong><%=processTypeText;%> $<%=processFee;%> x 1</strong></td>
              <td>$<%=processFee;%></td>
            </tr>
            <tr>
              <td><strong>Government Fee</strong></td>
              <td>$<%=govermentVisaFee;%></td>
            </tr>
            <tr>
              <td><strong>Special Request</strong></td>
              <td><%=contactNote;%></td>
            </tr>
            <tr>
              <td><strong>Total</strong></td>
              <td><strong style="color:#f00;font-size:22px">$<%=totalFees;%></strong></td>
            </tr>
          </tbody>
        </table>
        <br> <strong>DETAIL OF APPLICANTS:</strong>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse;text-align:center" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:50px"><strong>No</strong></td>
              <td><strong>Surname</strong></td>
              <td><strong>Given Name</strong></td>
              <td><strong>Gender</strong></td>
              <td><strong>Birthday</strong></td>
              <td><strong>Nationality</strong></td>
              <td><strong>Passport</strong></td>
              <td><strong>Government Fee</strong></td>
            </tr>
            <%applicants.forEach(function(applicant){ %>
            <tr>
              <td><%=applicant.id;%></td>
              <td><%=applicant.surName%></td>
              <td><%=applicant.givenName;%></td>
              <td><%=applicant.gender;%></td>
              <td><%=applicant.dateOfBirth;%></td>
              <td><%=applicant.nationality;%></td>
              <td><%=applicant.passportNumber;%></td>
              <td>$<%=applicant.govermentFee;%></td>
            </tr>
            <%}); %>
          </tbody>
        </table>
        <br>
        <strong>DEVICE INFORMATION:</strong>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:200px"><strong>HTTP USER AGENT</strong></td>
              <td><%=userAgent;%></td>
            </tr>
            <tr>
              <td><strong>IP</strong></td>
              <td><%=ipClient;%></td>
            </tr>
          </tbody>
        </table>
        <br> <strong>ACCOUNT INFORMATION:</strong>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td><strong>ID</strong></td>
              <td><strong style="color:#f00;font-size:larger">#<%=orderId;%></strong></td>
            </tr>
            <tr>
              <td style="width:200px"><strong>Full Name</strong></td>
              <td><%=contactName;%></td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td><a href="mailto:<%=contactEmail;%>" target="_blank"><%=contactEmail;%> </a></td>
            </tr>
            <tr>
              <td><strong>Skype</strong></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Country</strong></td>
              <td><%=contactCountry;%></td>
            </tr>
            <tr>
              <td><strong>Address<br> </strong></td>
              <td><%=contactAddress;%></td>
            </tr>
            <tr>
              <td><strong>Telephone</strong></td>
              <td><%=contactPhone;%></td>
            </tr>
          </tbody>
        </table>
       <h3>B. Payment Methods: </h3>
        <p> <strong><em>Regards,</em></strong>
          <br>
          <br> <strong>Evisa4u Pty Ltd trading as indiaonlineevisa.com.</strong>
          <br> <strong>WE ARE BESIDE YOU 24/7.</strong> </p>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="border-top:#666 solid 1px">
        <p> <em>This Portal has been developed by <a href="www.onlineindiaevisa.com">www.onlineindiaevisa.com</a> &amp; hosted at <a href="www.godaddy.com">godaddy.com</a>
        <br>Though all efforts have been made to ensure the accuracy of the content on this Portal, the same should not be construed as a statement of law or used for any legal purposes. IOEV accepts no responsibility in relation to the accuracy, completeness, usefulness or otherwise, of the contents. Users are advised to verify/check any information, and to obtain any appropriate professional advice before acting on the information provided in the Portal.</em>          </p>
        <p> <em>In no event will the IOEV will be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this Portal.  
        </em>
          <br>
        </p>
        <p>
          <em>All of the content and Information brought to you by the Ministry of External Affairs, Government of India.
          </em>
        </p>
        <p>
          <em>Please refer following Policies related Privacy, Copyright and Hyper linking Policy of this Portal, If you need any more information than please visit following or feel free to contact us.
          </em>
        </p>
        <p>
          
        </p>
        <span class="HOEnZb"><font color="#888888"><span class="m_4327483968414968247HOEnZb"><font color="#888888"> </font></span></font>
        </span>
      </td>
    </tr>
  </tbody>
</table>