<table cellspacing="5" cellpadding="5" border="0" bgcolor="#fe8100" align="center" width="100%">
  <tbody>
    <tr>
      <td>
        <strong>Dear <em>Sir/Madam</em>,</strong>
      </td>
    </tr>
    <tr>
      <td>
        Greeting from India eVisa Services Team - Evisa4u Pty Ltd!
        <br> Thank you for choosing <a href="www.onlineindiaevisa.com">www.onlineindiaevisa.com</a><br><br>
        <font style="font-size: 22px">
          We confirm that we have receive full the visa fee from you. Please check your email and provide to us document to process
          the visa for you. When you receive the confirmation from us about the time you get the visa. Please wait and check
          the Visa will send to you via email. If after the confirmation time and you haven’t receive the visa You can contact
          us anytime to get your visa.
        </font>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <h3>Check Status Information:</h3>
        <table width="100%" border="1" cellpadding="5" style="border-collapse:collapse" bgcolor="#FFFFFF">
          <tbody>
            <tr>
              <td style="width:200px"><strong>Id Number</strong></td>
              <td>
                <%=id;%>
              </td>
            </tr>
            <tr>
              <td><strong>Passport Number</strong></td>
              <td>
                <%=passport_number;%>
              </td>
            </tr>
            <tr>
              <td><strong>Email Address</strong></td>
              <td>
                <a href="<%=email;%>" target="_blank">
                  <%=email;%>
                </a>
              </td>
            </tr>
            <tr>
              <td><strong>Your Request</strong></td>
              <td>
                <%=request;%>
              </td>
            </tr>
          </tbody>
        </table>
        <p>Thank you for allowing us to serve your success. If you have any inquiry for this case, please contact us.</p>
        <p>
          <strong><em>Best Regards,</em></strong>
          <br>
          <br>
          <strong>Evisa4u Pty Ltd trading as indiaonlineevisa.com</strong>
          <br>
          <strong>At your service 24/7.</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="border-top:#666 solid 1px">
        <p> <em>This Portal has been developed by <a href="www.onlineindiaevisa.com">www.onlineindiaevisa.com</a> &amp; hosted at <a href="www.godaddy.com">godaddy.com</a>
        <br>Though all efforts have been made to ensure the accuracy of the content on this Portal, the same should not be construed as a statement of law or used for any legal purposes. IOEV accepts no responsibility in relation to the accuracy, completeness, usefulness or otherwise, of the contents. Users are advised to verify/check any information, and to obtain any appropriate professional advice before acting on the information provided in the Portal.</em>          </p>
        <p> <em>In no event will the IOEV will be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this Portal.  
        </em>
        <br>
        </p>
        <p>
          <em>All of the content and Information brought to you by the Ministry of External Affairs, Government of India.
          </em>
        </p>
        <p>
          <em>Please refer following Policies related Privacy, Copyright and Hyper linking Policy of this Portal, If you need any more information than please visit following or feel free to contact us.
          </em>
        </p>
        <p>
        </p>
        <span class="HOEnZb"><font color="#888888"><span class="m_4327483968414968247HOEnZb"><font color="#888888"> </font></span></font>
        </span>
      </td>
    </tr>
  </tbody>
</table>