    <ul class="nav navbar-nav text-left">
      <li class="menu-item">
        {{#link-to 'admin.manage-user' title="Manage User"}}User{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'admin.manage-order' title="Manage Order"}}Order{{/link-to}}
      </li>  
      <li class="menu-item">
        {{#link-to 'admin.payments' title="Manage Payment"}}Payment{{/link-to}}
      </li>  
      <li class="menu-item">
        {{#link-to 'admin.email-notification' title="Manage Email Notify"}}Email Notification{{/link-to}}
      </li> 

      <li class="menu-item">
        {{#link-to 'admin.government-fee' title="Manage Government Fee"}}Government Fee{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'admin.process-fee' title="Manage Process Fee"}}Process Fee{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'admin.social-link' title="Manage Social Link"}}Social Link{{/link-to}}
      </li> 
      <li class="menu-item">
        {{#link-to 'admin.content-page' title="Manage Content Pages"}}Content Pages{{/link-to}}
      </li>   
    <li class="menu-item">
        {{#link-to 'admin.promotion-code' title="Manage promotion code"}}Promotion code{{/link-to}}
      </li> 
      <li class="menu-item">
        {{#link-to 'admin.change-password' title="Change password"}}Change password{{/link-to}}
      </li>
      <li>
      <a class="pointer" {{action 'logout'}}>Logout</a>
    </li> 
  {{!--     <li class="menu-item">
        {{#if session.isAuthenticated}}
          {{#link-to 'account' title="Your Account"}}Your Account{{/link-to}}
        {{else}}
          {{#link-to 'signin'}}SignIn{{/link-to}}
        {{/if}}
      </li> --}}
    </ul>

