    <ul class="nav navbar-nav">
      <li class="menu-item">
        {{#link-to 'index'  title="Home"}}Home{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'rush-visa'  title="Rush visa"}}Emergency visa{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'check-visa-valid'  title="Check Visa"}}Verify Visa{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'make-payment'  title="Make Payment"}}Make Payment{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'article' 'visa-fees'  title="Visa Fees"}}Visa Fees{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'article' 'processing'  title="Processing"}}Processing{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'article' 'why-choosing-us'  title="Why choose us?"}}Why choose us?{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'article' 'what-is-e-visa'  title="What is E-Visa?"}}What is E-Visa?{{/link-to}}
      </li>
      <li class="menu-item">
        {{#link-to 'article' 'faqs'  title="FAQ's"}}FAQ's{{/link-to}}
      </li>
       <li class="menu-item">
        {{#link-to 'article' 'contact-us'  title="contact us"}}Contact Us{{/link-to}}
      </li>
      <li class="menu-item">
        {{#if session.isAuthenticated}}
          {{#if session.isAdmin}}
            {{#link-to 'admin.manage-order' title="Admin Page"}}Admin Page{{/link-to}}
          {{else}}
            {{#link-to 'account' title="Your Account"}}Your Account{{/link-to}}
          {{/if}}
        {{else}}
          {{#link-to 'signin'}}Login/Register{{/link-to}}
        {{/if}}
      </li>
    </ul>